<div class="top-menu__alert top-menu__alert_visible">
    <div class="wraper">
        <div class="container-fluid">
            <div class="in-block margin-right-20">
                <img src="/static/seller_control_panel/img/watercolor.png" alt="">
            </div>
            <div class="in-block">
                <p>Предпросмотр нового оформления вашего сайта. Если вам нравится, то вы можете сохранить изменения или вернуться к палитре.</p>
                <a href="#" class="btn btn-yellow margin-right-10 ">Оставить это оформление</a>
                <a href="#" class="btn btn-yellow margin-right-10">Вернуться к выбору</a>
                <a href="#" class="t-decorationNorm yellow"><i class="close-icon">×</i> <span>Отменить изменения и вернуться к сайту</span></a>
            </div>
        </div>
    </div>
</div>