//
// Popovers
// --------------------------------------------------

// Tooltips and popovers
// -------------------------
@tooltipColor:            #fff;
@tooltipBackground:       #000;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       #fff;
@popoverArrowWidth:       10px;
@popoverArrowColor:       #fff;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);
.popover-modal{
  .modal-backdrop{
    background-image:none !important;
    background-color:transparent !important;
    z-index:-1;
  }
}
.popover-box{
  position:relative;
  .popover {
    z-index:1050;
    &.top     {
      left:50%;
      top:auto;
      bottom:0;
      margin-left:-118px;
    }
    &.right   {top:-50%; }
    &.bottom  {left:50%;   margin-left:-118px;}
    &.left    {top:-50%; }
    .close{
      color:#9a9a9a;
      margin-right: 5px;
      margin-top: 5px;
      font-size: 16px;
      border: none;
      background: #fff;
      
      &:hover{
        color:#9a9a9a-#222;
      }
    }
  }
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: @zindexPopover;
  display: none;
  width: 236px;
  padding: 1px;
  background-color: @popoverBackground;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  .border-radius(6px);
  .box-shadow(3px 5px 20px #000);

// Offset the popover to account for the popover arrow
  &.top     { margin-bottom: 10px; }
  &.right   { margin-left: 10px; }
  &.bottom  { margin-top: 34px; }
  &.left    { margin-right: 10px; }

}

.popover-title {
  margin: 0; // reset heading margin
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: @popoverTitleBackground;
  border-bottom: 1px solid darken(@popoverTitleBackground, 5%);
  .border-radius(5px 5px 0 0);
}

.popover-content {
  padding: 9px 14px;
  p, ul, ol {
    margin-bottom: 0;
  }
}

// Arrows
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow:after {
  content: "";
  z-index: -1;
}

.popover {
  &.top .arrow {
    bottom: -@popoverArrowWidth;
    left: 50%;
    margin-left: -@popoverArrowWidth;
    border-width: @popoverArrowWidth @popoverArrowWidth 0;
    border-top-color: @popoverArrowColor;
//    &:after {
//      border-width: @popoverArrowOuterWidth @popoverArrowOuterWidth 0;
//      border-top-color: @popoverArrowOuterColor;
//      bottom: -1px;
//      left: -@popoverArrowOuterWidth;
//    }
  }
  &.right .arrow {
    top: 50%;
    left: -@popoverArrowWidth;
    margin-top: -@popoverArrowWidth;
    border-width: @popoverArrowWidth @popoverArrowWidth @popoverArrowWidth 0;
    border-right-color: @popoverArrowColor;
//    &:after {
//      border-width: @popoverArrowOuterWidth @popoverArrowOuterWidth @popoverArrowOuterWidth 0;
//      border-right-color: @popoverArrowOuterColor;
//      bottom: -@popoverArrowOuterWidth;
//      left: -1px;
//    }
  }
  &.bottom .arrow {
    top: -@popoverArrowWidth;
    left: 50%;
    margin-left: -@popoverArrowWidth;
    border-width: 0 @popoverArrowWidth @popoverArrowWidth;
    border-bottom-color: @popoverArrowColor;
//    &:after {
//      border-width: 0 @popoverArrowOuterWidth @popoverArrowOuterWidth;
//      border-bottom-color: @popoverArrowOuterColor;
//      top: -1px;
//      left: -@popoverArrowOuterWidth;
//    }
  }
  &.left .arrow {
    top: 50%;
    right: -@popoverArrowWidth;
    margin-top: -@popoverArrowWidth;
    border-width: @popoverArrowWidth 0 @popoverArrowWidth @popoverArrowWidth;
    border-left-color: @popoverArrowColor;
//    &:after {
//      border-width: @popoverArrowOuterWidth 0 @popoverArrowOuterWidth @popoverArrowOuterWidth;
//      border-left-color: @popoverArrowOuterColor;
//      bottom: -@popoverArrowOuterWidth;
//      right: -1px;
//    }
  }
}