{% extends '__base_backend.html' %}
{% block content %}
<div class="margin-top-30">
    <div class="right padding-10">
        В вашей корзине <a>10 товаров</a>
    </div>
    <h2>Оформление заказа</h2>
    <div>
        <ul class="order-crumbs">
            <li class="active"><span>Выбор товара</span></li>
            <li><span>Результаты поиска</span></li>
            <li><span>Выбор клиента</span></li>
            <li><span>Оформление заказа</span></li>
        </ul>
    </div -->
    <br>
    <form action="" class="form-horizontal">
        <input type="text" class="span12 size-16 padding-10 padding-right-0" id="search" placeholder="Поиск по каталогам">
        <button class="btn btn-success padding-10 padding-right-20 padding-left-20" type="button">Искать</button>
    </form>
    <div class="margin-right-20">
        <div class="number-stages">
            <div class="number-stages-box">
                <span class="number-stages_text">
                    5
                </span>
            </div>
        </div>
        <h2>Выбор группы деталей </h2>
    <div class="clear"></div>
    <article>
        <img src="/static/dil-my/shema.png" width="100%">
        <table class="parts-list">

            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
            <tr>
                <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
                <td>Двигатель </td>
                <td><a class="order-but"><span>Заказать</span></a> </td>
            </tr>
        </table>
    </article>

    </div>
</div>
{% endblock %}