{% extends '__base_backend.html' %}
{% block content %}
        <h1>Редактировать изображение в шапке</h1>
        <br>
        <p class="size-15">Вы можете загрузить подходящее изображение со своего компьютера или выбрать из списка предложенных готовых вариантов.
Также можно оставить поле незаполненным, цвет будет зависеть от выбранной темы оформления сайта в целом.</p>
        <div class=" margin-bottom-20 margin-top-20">
            <div class="horizontal-menu">
                <ul class="horizontal-menu__list">
                    <li class="horizontal-menu__item active">
                        <a class="horizontal-menu__link link_in" href="#change-complited" data-toggle="tab">
                            Выбрать готовый вариант
                        </a>
                    </li>
                    <li class="horizontal-menu__item  ">
                        <a class="horizontal-menu__link link_in" href="#change-manual" data-toggle="tab">
                            Загрузить изображение
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content modify-design">
            <div class="tab-pane active" id="change-complited">
                <ul class="select-tems no-img-shadow">
                    <li class="item">
                        <a href="#" class="box">
                            <img src="/static/seller_control_panel/img/header-images/header-image-1.png" alt="">
                            <span class="link">
                                <i class="ok"></i>Установить
                            </span>
                        </a>
                    </li>
                    <li class="item active">
                        <a href="#" class="box">
                            <img src="/static/seller_control_panel/img/header-images/header-image-2.png" alt="">
                            <span class="link">
                                <i class="ok"></i>Установлено
                            </span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="box">
                            <img src="/static/seller_control_panel/img/header-images/header-image-3.png" alt="">
                            <span class="link">
                            <i class="ok"></i>Установить
                            </span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="box">
                            <img src="/static/seller_control_panel/img/header-images/header-image-4.png" alt="">
                            <span class="link">
                                <i class="ok"></i>Установить
                            </span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="box">
                            <img src="/static/seller_control_panel/img/header-images/header-image-5.png" alt="">
                            <span class="link">
                            <i class="ok"></i>Установить
                            </span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="box">
                            <img src="/static/seller_control_panel/img/header-images/header-image-6.png" alt="">
                            <span class="link">
                            <i class="ok"></i>Установить
                            </span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="box">
                            <img src="/static/seller_control_panel/img/header-images/header-image-7.png" alt="">
                            <span class="link">
                            <i class="ok"></i>Установить
                            </span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="box">
                            <img src="/static/seller_control_panel/img/header-images/header-image-8.png" alt="">
                            <span class="link">
                            <i class="ok"></i>Установить
                            </span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="box">
                            <img src="/static/seller_control_panel/img/header-images/header-image-9.png" alt="">
                            <span class="link">
                            <i class="ok"></i>Установить
                            </span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="box">
                            <img src="/static/seller_control_panel/img/header-images/header-image-10.png" alt="">
                            <span class="link">
                            <i class="ok"></i>Установить
                            </span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="box">
                            <img src="/static/seller_control_panel/img/header-images/header-image-11.png" alt="">
                            <span class="link">
                            <i class="ok"></i>Установить
                            </span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="tab-pane" id="change-manual">
                <div class="row-fluid">
                    <div class="span9">
                        <h3>Выберите изображение</h3>
                        <input type="file">

                        <div class="upload-area">
                            <div class="arrow-insite"></div>
                            <div class="bigicon-plus">
                                <span class="size-24 bold">Или перетащите изображение сюда</span>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="row-fluid">
                            <div class="span3 a-center">
                                <div class="reference-i">
                                    <span>?</span>
                                </div>
                                <span class="reference-i__text">Справка</span>
                            </div>
                            <div class="span9">
                                <h4>Размер изображения</h4>
                                <p class="size-12">
                                    Идеальный размер изображения - 1200 х 300, но вы можете выбрать любое изображение, посмотреть, как оно будет выглядеть и указать нужную область отображения
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="resize-area">
                    <h3 class="a-center">Выбор рабочей области изображения</h3>
                    <div class="resize-area__background">
                        <!-- ну а тут, ребята, колдуйте как можете)) Вставляйте,
                            обрезайте, масштабируйте, скрипты зафигачивайте, но только чтобы
                            как в макете, сцуко! -->
                        <div class="resize-area__background__inner" style="background: url('/static/seller_control_panel/img/resizeimg_sample.png') no-repeat top center; height: 438px;"></div>
                        <div class="a-center resize-area__background__confirm-button">
                            <a href="#" class="btn btn-yellow">
                                <span class="icon-ok"></span>
                                Оставить это оформление
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}