{% extends '__base_backend.html' %}
{% block content %}
<h1>Настройки</h1>
<div class=" margin-bottom-20">
    <div class="horizontal-menu">
        <ul class="horizontal-menu__list">
            <li class="horizontal-menu__item    ">
                <a class="horizontal-menu__link" href="#">
                    Настройки магазина
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Управление сайтом
                </a>
            </li>
            <li class="horizontal-menu__item  active ">
                <a class="horizontal-menu__link" href="#">
                    Данные о компании
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Управление аккаунтом
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span9">
        <form action="" class="form-horizontal ">

        <table class="table table-bordered table_no-hover">
            <tbody><tr>
                <th class=""><h3>Данные о компании</h3></th>
            </tr>
            <tr class="table__second-header">
                <th class="">
                    Общие сведения
                </th>
            </tr>
            <tr>
                <td class="">
                    <div class="">
                            <div class="control-group ">
                                <label class="control-label">Название организации</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                    <p class="help-block">Например, Teamparts</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="">
                                    Организационная форма
                                </label>
                                <div class="controls">
                                    <select class="input-xlarge" id="">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="">ФИО директора</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="">
                                    <p class="help-block">Или ваше ФИО, в случае формы ИП</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="">ОКВЭД</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="">
                                    <p class="help-block">Через запятую</p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="">ОКПО</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="">
                                </div>
                            </div>
                    </div>
                </td>
            </tr>
            <tr class="table__second-header">
                <th class="">
                    Контактные данные
                </th>
            </tr>
            <tr>
                <td class="">
                    <div class="">
                            <div class="control-group ">
                                <label class="control-label">Телефон</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="">E-mail</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="">
                                </div>
                            </div>
                            <div class="control-group address-controls">
                                <label class="control-label" for="">Юридический адрес</label>
                                <div class="controls controls-row">
                                    <!-- <span>Индекс</span><br> -->
                                    <input rows="5" class="input-small" placeholder="Индекс"><br>
                                    <!-- <span>Регион</span><br> -->
                                    <select class="input-xlarge" id="" value="Регион">
                                        <option>Регион</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><br>
                                    <!-- <span>Город</span><br> -->
                                    <input rows="5" class="input-xlarge" placeholder="Город"><br>
                                    <!-- <span>Адрес</span><br> -->
                                    <input rows="5" class="input-xlarge margin-bottom-0" placeholder="Адрес">
                                    <p class="help-block">Улица, дом, корпус, квартира</p>

                                </div>
                            </div>
                            <div class="control-group address-controls">
                                <label class="control-label" for="">Фактический адрес</label>
                                <div class="controls controls-row">
                                    <!-- <span>Индекс</span><br> -->
                                    <input rows="5" class="input-small" placeholder="Индекс"><br>
                                    <!-- <span>Регион</span><br> -->
                                    <select class="input-xlarge" id="" value="Регион">
                                        <option>Регион</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><br>
                                    <!-- <span>Город</span><br> -->
                                    <input rows="5" class="input-xlarge" placeholder="Город"><br>
                                    <!-- <span>Адрес</span><br> -->
                                    <input rows="5" class="input-xlarge margin-bottom-0" placeholder="Адрес">
                                    <p class="help-block">Улица, дом, корпус, квартира</p>
                                </div>
                            </div>
                    </div>
                </td>
            </tr>
            <tr class="table__second-header">
                <th class="">
                    Реквизиты
                </th>
            </tr>
            <tr>
                <td class="">
                    <div class="">
                            <div class="control-group ">
                                <label class="control-label">ИНН</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">КПП</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">

                                    <p class="help-block">
                                        Не заполняется, если вы индивидуальный предприниматель
                                    </p>
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">ОГРН</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">

                                    <p class="help-block">
                                        Или ОГРНИП, в случае если вы индивидуальный предприниматель
                                    </p>
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Название банка</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">БИК</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Корреспондентский счет</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Расчетный счет</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Документы</label>
                                <div class="controls">
                                    <p class="document-title">Свидетельство о государственной регистрации юридического лица или ИП</p>
                                    <input type="file" class="margin-bottom-5">
                                    <p class="document-title">Свидетельство о постановке на учет в налоговом органе</p>
                                    <input type="file" class="margin-bottom-5">
                                    <label class="checkbox margin-top-10">
                                      <input type="checkbox"> Я разрешаю выводить эти документы на сайте для посетителей
                                    </label>
                                </div>
                            </div>
                            <hr>
                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-warning">Сохранить изменения</button>
                                </div>
                            </div>
                    </div>
                </td>
            </tr>
            </tbody></table>
        </form>
    </div>
    <div class="span3">
        <div class="row-fluid">
            <div class="span3 a-center">
                <div class="reference-i">
                    <span>?</span>
                </div>
                <span class="reference-i__text">Справка</span>
            </div>
            <div class="span9">
                <h4>Редактирование страницы</h4>
                <br>
                <p class="spmal-text">
                    Тут вы можете редактировать только дополнительные параметры страницы. Редактирование содержимого осуществляется с лицевой стороны сайта, или вы можете перейти по
                    <a href="#">этой ссылке</a>.
                </p>
            </div>
        </div>
        <div class="row-fluid documents-hint">
            <div class="span3 a-center">
                <div class="reference-i">
                    <span>?</span>
                </div>
                <span class="reference-i__text">Справка</span>
            </div>
            <div class="span9">
                <h4>Зачем загружать документы?</h4>
                <br>
                <ol>
                    <li>По законодательству РФ каждый продавей должен предоставить покупателям по их требованию эти документы, поэтому мы тоже советуем вам это сделать</li>
                    <li>После того, как мы проверим этим документы, все ваши предложения будут опубликованы в единой системе продаж Teamparts среди предложений ругих продавцов, и у вас появится больше клиентов!</li>
                </ol>
                <p class="spmal-text">
                    Вывод: документы лучше загрузить :)
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}