{% extends '__base_backend.html' %}
{% block content %}
        <div class="in-block margin-right-20">
            <img src="/static/seller_control_panel/img/watercolor.png" alt="">
        </div>
        <a class="btn btn-yellow" href="#">Сменить оформление сайта</a>
    </div>
    <div class="container">
    	<iframe src="/system/index" style="" width="1200" height="1000" frameborder="0"></iframe>
    </div>
{% endblock %}