{% extends '__base_backend.html' %}

{% block container %}
        {% with nomargin=True %}
            {% include 'system-backend/blocks/__head.html' %}
        {% endwith %}
        <div class="top-sub-menu top-sub-menu_level-one">
            <div class="container-fluid">
                    <span class="dis">
                        Группировать:
                    </span>
                <ul class="list">
                    <li class="item active">
                        <a href="#" class="t-decorationNorm">
                            <span>По заказам</span>
                            <div class="arrow-el"></div>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="t-decorationNorm">
                            <span>По деталям</span>
                            <div class="arrow-el"></div>
                        </a>
                    </li>
                </ul>
                <div class="tooltip fade right in" ><div class="tooltip-arrow"></div><div class="tooltip-inner">Вы можете группировать ваши заказы как по заказам комплексно, так и по отдельным деталям</div></div>
            </div>
        </div>
        <div class=" top-sub-menu top-sub-menu_level-two">
            <div class="container-fluid">
                    <span class="dis">
                       Период. За:
                    </span>
                <ul class="list">
                    <li class="item active">
                        <a href="#" class="t-decorationNorm">
                            <span>Квартал</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="t-decorationNorm">
                            <span>Месяц</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="#" class="t-decorationNorm">
                            <span>Неделя</span>
                        </a>
                    </li>
                </ul>
                <form class="form-search form-search_temprats">
                    <div class="input-append">

                        <i class="icon-search"></i><!--
                                --><input type="text" class="span4 search-query" placeholder="Поиск запчастей по номеру и клиенту"><!--
                                --><button type="submit" class="btn">Искать</button>
                    </div>

                </form>
            </div>
        </div>
        <div class=" top-sub-menu top-sub-menu_level-three">
            <div class="container-fluid">
                <h3>
                    Состояние заказов на:
                </h3>
                <div class="input-prepend input-append insert-data">
                    <a href="#" class="add-on btn">?</a><!--
                            --><input class="input-medium" value="Ноябрь, 2012"  id="" type="text"><!--

                            --><a href="#" class="add-on btn ">?</a>

                </div>
                <div class="btn-group" data-toggle="buttons-checkbox">
                    <button class="btn btn-large">Все</button>
                    <button class="btn btn-large">Отмененные</button>
                    <button class="btn btn-large">Оплаченные</button>
                    <button class="btn btn-large">В доставке</button>
                    <button class="btn btn-large">Выполненные</button>
                </div>
                <div class="help-text">
                    На этот месяц у вас <br>
                    <strong>9 заказов</strong>
                </div>
            </div>
        </div>

    <div class="container-fluid">
        <table class="table-clear order-list order-list_by-month">
            <tr class="four">
                <th><div class="wraper__four"><span>Сентябрь</span></div></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

                <th class="four-line"><div class="wraper__four"><span>Ноябрь</span></div></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

                <th class="four-line"><div class="wraper__four"><span>Декабрь</span></div></th>

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th><div class="wraper__th"><span>1-5</span></div></th>
                <th  class="today"><div class="wraper__th"><span>6-10</span></div></th>
                <th><div class="wraper__th"><span>11-15</span></div></th>
                <th><div class="wraper__th"><span>16-20</span></div></th>
                <th><div class="wraper__th"><span>21-25</span></div></th>
                <th><div class="wraper__th"><span>26-31</span></div></th>
                <th class="four-line"><div class="wraper__th"><span>1-5</span></div></th>
                <th ><div class="wraper__th"><span>6-10</span></div></th>
                <th><div class="wraper__th"><span>11-15</span></div></th>
                <th><div class="wraper__th"><span>16-20</span></div></th>
                <th><div class="wraper__th"><span>21-25</span></div></th>
                <th><div class="wraper__th"><span>26-31</span></div></th>
                <th class="four-line"><div class="wraper__th"><span>1-5</span></div></th>
                <th ><div class="wraper__th"><span>6-10</span></div></th>
                <th><div class="wraper__th"><span>11-15</span></div></th>
                <th><div class="wraper__th"><span>16-20</span></div></th>
                <th><div class="wraper__th"><span>21-25</span></div></th>
                <th><div class="wraper__th"><span>26-31</span></div></th>
            <tr>
                <td>

                </td>
                <td>
                    <div class="order-list__wraper-item">
                        <a href="#" class="order-list__item  order-list__item_red" style="width:1000%;">
                            <span class="label">Отказ</span>
                    <span class="text">
                        Заказ №5698, от О. Мастюги
                        <br>
                        <span class="number">30210Y066A</span>
                    </span>
                        </a>


                    </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="four-line"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="four-line"></td>
                <td ></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="ajax-lider">
            <img src="/static/seller_control_panel/img/ajax-preloders.gif" alt="">
        </div>
    </div>
    {% include 'system-backend/blocks/__helper.html' %}
{% endblock %}