{% extends '__base_backend_reports.html' %}
{% block content %}

<div class="row-fluid finance">
    <div class="horizontal-menu span12 margin-top-10 padding-left-30">
        <div class="row-fluid">
            <ul class="horizontal-menu__list span12">
                <li class="horizontal-menu__item">
                    <a href="#" class="horizontal-menu__link link_in">Расчеты с клиентами</a></li>
                <li class="horizontal-menu__item ">
                    <a href="#" class="horizontal-menu__link link_in">Расчеты с поставщиками</a>
                </li>
                <li class="horizontal-menu__item">
                    <a href="#" class="horizontal-menu__link link_in">Оплата услуг сервиса</a>
                </li>
                <li class="horizontal-menu__item active">
                    <a href="#" class="horizontal-menu__link link_in">Общие отчеты</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h1>Общие отчеты</h1>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 submenu-bar">
       <div class="row">
            <div class="span12">
                <div class="submenu-bar-inner">
                    <ul class="nav-panel">
                       <li>Отчет за</li>
                       <li class="active"><a href="#">Неделю</a></li>
                       <li><a href="#">Месяц</a></li>
                       <li><a href="#">Год</a></li>
                    </ul>
                    <div class="input-prepend input-append insert-data">
                        <a class="add-on btn" href="#">◄</a>
                        <input id="" class="input-medium" type="text" value="1-7 сентября 2012">
                        <a class="add-on btn " href="#">►</a>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span6">
            <h2 class="margin-bottom-0">Соотношение расходов и доходов</h2>
            <div id="balance"></div>
        </div>

        <div class="span6">

            <h2>График прибыли</h2>

            <a class="more-info margin-left-10" rel="popover" data-placement="bottom" data-content="Прибыль рассчитывается из разницы доходов и расходов. Но не забывайте, что сюда не включены комиссии платежных систем, налоги, услуги доставки и другие статьи расходов, которые не участвуют в формировании бюджета в нашем сервисе." data-original-title="Расчет прибыли">
                <img src="/static/seller_control_panel/img/question-green.png" alt="">
            </a>

            <div id="revenue"></div>

            <div class="total-block margin-left-50">
                <img src="/static/seller_control_panel/img/tim-icom-brace-xlarge.png" alt="">
                <div class="margin-top-15 margin-left-70">
                    <p class="grayLight">Итого прибыль за период:</p>
                    <p><strong>12 420 руб.</strong></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span8 margin-left-0">

            <div id="expenses"></div>

        </div>
        <div class="span4 margin-left-0">
            <div class="details margin-top-100">
                <h3>Детализация</h3>
                <table class="table-clear">
                    <colgroup>
                        <col width="65%">
                        <col width="35%">
                    </colgroup>
                    <tbody>
                    <tr class="cap-part">
                        <td colspan="2"><strong>Заказ деталей</strong></td>
                    </tr>
                    <tr>
                        <td>На счет поставщика зачислено</td>
                        <td><strong>150 000 руб.</strong></td>
                    </tr>
                    <tr>
                        <td><small class="padding-left-20">В том числе заказано деталей на сумму</small></td>
                        <td><small><strong>113 000 руб.</strong></small></td>
                    </tr>
                    <tr>
                        <td><small class="padding-left-20">В том числе заказов в работе на сумму</small></td>
                        <td><small><strong>34 000 руб.</strong></small></td>
                    </tr>
                    <tr>
                        <td>Совершено возвратов клиентам на сумму</td>
                        <td><strong>12 500 руб.</strong></td>
                    </tr>
                    <tr class="cap-part">
                        <td colspan="2"><strong>Оплата услуг Teamparts</strong></td>
                    </tr>
                    <tr>
                        <td>На счет Teampats зачислено</td>
                        <td><strong>20 000 руб.</strong></td>
                    </tr>
                    <tr>
                        <td>В том числе абонентская плата за сервис</td>
                        <td><strong>17 500 руб.</strong></td>
                    </tr>
                    </tbody>
                </table>

                <div class="total-block margin-left-20">
                    <img src="/static/seller_control_panel/img/tim-icom-brace-xlarge.png" alt="">
                    <div class="margin-top-20 margin-left-70">
                        <p class="grayLight">Итого расходов за период:</p>
                        <p><strong>-700 руб.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}