{% extends '__base_backend.html' %}
{% block content %}
<h1>Настройки</h1>
<div class=" margin-bottom-20">
    <div class="horizontal-menu">
        <ul class="horizontal-menu__list">
            <li class="horizontal-menu__item    ">
                <a class="horizontal-menu__link" href="#">
                    Настройки магазина
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Управление сайтом
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Данные о компании
                </a>
            </li>
            <li class="horizontal-menu__item  active ">
                <a class="horizontal-menu__link" href="#">
                    Управление аккаунтом
                </a>
            </li>
        </ul>
        <div class="horizontal-menu_sub">
            <ul class="horizontal-menu_sub__list">
                <li class="horizontal-menu_sub__item "><a class="horizontal-menu_sub__link" href="#">
                    Тарифы
                </a></li>
                <li class="horizontal-menu_sub__item active"><a class="horizontal-menu_sub__link" href="#">
                    Логин и пароль
                </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span9">
        <form action="" class="form-horizontal ">

        <table class="table table-bordered table_no-hover">
            <tbody><tr>
                <th class="">Сменить пароль</th>
            </tr>
            <tr>
                <td class="">
                    <div class="">
                            <div class="control-group ">
                                <label class="control-label">Старый пароль</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Новый пароль</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Повторите новый пароль</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge">
                                </div>
                            </div>
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-warning">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody></table>
        </form>
    </div>
</div>
{% endblock %}