{% extends '__base_backend.html' %}
{% block content %}
<h1 class="margin-bottom-20">Сообщений с формы обратной связи</h1>
<div class="row-fluid">
    <div class="span9">
        <form action="" class="form-horizontal ">

            <table class="table">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Автор</th>
                    <th>Сообщение</th>
                    <th></th>
                </tr>

                </thead>
                <tr>
                    <td><time>20 декабря 2012</time></td>
                    <td>
                        <strong>Евгений Сергеевич</strong>
                        <br>
                        <a href="#" class="size-11">tonatossn@gmail.com</a>
                    </td>
                    <td>
                        <span>Есть ли у вас запчасти для BMW и какой поставщик?</span>
                        <br>
                        <a href="#" class="size-11 grayLight">Ответить</a>
                    </td>
                    <td>
                        <a href="#" class="grayLight size-12 t-decorationNone"><span class="size-16">×</span> Удалить</a>
                    </td>
                <tr>
                    <td><time>20 декабря 2012</time></td>
                    <td>
                        <strong>Евгений Сергеевич</strong>
                        <br>
                        <a href="#" class="size-11">tonatossn@gmail.com</a>
                    </td>
                    <td>
                        <span>Есть ли у вас запчасти для BMW и какой поставщик?</span>
                        <br>
                        <a href="#" class="size-11 grayLight">Ответить</a>
                    </td>
                    <td>
                        <a href="#" class="grayLight size-12 t-decorationNone"><span class="size-16">×</span> Удалить</a>
                    </td>
                <tr>
                    <td><time>20 декабря 2012</time></td>
                    <td>
                        <strong>Евгений Сергеевич</strong>
                        <br>
                        <a href="#" class="size-11">tonatossn@gmail.com</a>
                    </td>
                    <td>
                        <span>Есть ли у вас запчасти для BMW и какой поставщик?</span>
                        <br>
                        <a href="#" class="size-11 grayLight">Ответить</a>
                    </td>
                    <td>
                        <a href="#" class="grayLight size-12 t-decorationNone"><span class="size-16">×</span> Удалить</a>
                    </td>
                <tr>
                    <td><time>20 декабря 2012</time></td>
                    <td>
                        <strong>Евгений Сергеевич</strong>
                        <br>
                        <a href="#" class="size-11">tonatossn@gmail.com</a>
                    </td>
                    <td>
                        <span>Есть ли у вас запчасти для BMW и какой поставщик?</span>
                        <br>
                        <a href="#" class="size-11 grayLight">Ответить</a>
                    </td>
                    <td>
                        <a href="#" class="grayLight size-12 t-decorationNone"><span class="size-16">×</span> Удалить</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="span3">
        <div class="row-fluid">
            <div class="span3 a-center">
                <div class="reference-i">
                    <span>?</span>
                </div>
                <span class="reference-i__text">Справка</span>
            </div>
            <div class="span9">
                <h4>Сообщения с сайта</h4>
                <br>
                <p class="spmal-text">
                    Данные сообщения поступают из формы обратной связи, расположенной на вашем сайте
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span9">
        <div class="add-more">
            <div class="row-fluid">
                <div class="span2">
                    <div></div>
                </div>
                <div class="span4 ">
                    <a class="link_in" href="#">Показать еще 20 сообщений</a>
                </div>
                <div class="span2">
                    <div></div>
                </div>
                <div class="span4 ">
                    <a class="" href="#">Показать все 123 сообщения</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}