{% extends '__base_backend.html' %}
{% block content %}
<div class="margin-top-30">
    <a class="btn" data-toggle="modal" href="#myModal" >регалака</a>
    <div class="modal" id="myModal" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>

            <nav>
                <div class="horizontal-menu">
                    <ul class="horizontal-menu__list">
                        <li class="horizontal-menu__item active ">
                            <a class="horizontal-menu__link link_in short" href="#email" data-toggle="tab">Авторизация по e-mail</a>
                        </li>
                        <li class="horizontal-menu__item" >
                            <a class="horizontal-menu__link link_in short" href="#sms" data-toggle="tab">Авторизация по SMS   </a>
                        </li>
                        <li class="horizontal-menu__item" >
                            <a class="horizontal-menu__link link_in short" href="#reg" data-toggle="tab">Регистрация</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="tab-content">
                <div class="tab-pane   active" id="email">
                    <div class="margin-top-30"></div>
                    <form action="" class="form-horizontal ">
                        <div class="control-group">
                            <label class="control-label">E-mail:</label>
                            <div class="controls">
                                <input type="text" value=""  class="input-xlarge focused">
                            </div>
                        </div>
                        <div class="control-group margin-0">
                            <label class="control-label">Пароль:</label>
                            <div class="controls">
                                <input type="text" value=""  class="input-xlarge ">
                            </div>
                        </div>
                        <div class="control-group  form-inline">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1" >
                                    Запомнить меня
                                </label>
                                <div class="right margin-top-5 margin-right-90">
                                    <a href="#"> Забыли пароль?</a>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button href="#" class="btn btn-warning">Войти</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane   " id="sms">
                    <form action="" class="form-horizontal" >
                        <div class="margin-top-10"></div>
                        <div class="control-group">
                            <div class="controls">
                                <p class="help-block size-12"><strong class="black">Введите свой номер телефона:</strong><br>
                                    <span class="gray">

                                        В течении 10 минут, на указанный ниже номер, придёт бесплатное SMS с паролем
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="control-group margin-bottom-5">
                            <label class="control-label">Телефон:</label>
                            <div class="controls">
                                <input type="text" value=""  class="input-xlarge ">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button href="#" class="btn btn-warning">Получить SMS с паролем</button>
                            </div>
                        </div>
                        <div class="control-group margin-0">
                            <label class="control-label">Код из SMS:</label>
                            <div class="controls">
                                <input type="text" value=""  class="input-xlarge ">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" value="option1">
                                    Запомнить меня
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button href="#" class="btn disabled">Войти</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane   " id="reg">
                <div class="margin-top-30"></div>
                    <form class="form-horizontal" action="">
                        <div class="form-horizontal_full">
                            <div class="control-group ">
                                <label class="control-label "><strong>Имя</strong></label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge ">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label ">Фамилия</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge ">
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label"><strong>Телефон:</strong></label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge ">
                                    <p class="help-block"><span class="gray">Для оперативной связи с вами</span></p>
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">E-mail:</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge ">
                                </div>
                            </div>
                            <div class="control-group ">
                            <label class="control-label margin-top-20">Пароль:</label>
                            <div class="controls  form-vertical_full">
                                <div class="row-fluid ">
                                    <div class="span6">
                                        <div class="control-group ">
                                            <label class="control-label size-12 margin-0 grayLight">Введите пароль:</label>
                                            <div class="controls">
                                                <input type="password" class="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group ">
                                            <label class="control-label size-12 margin-0  grayLight">Повторите пароль:</label>
                                            <div class="controls">
                                                <input type="password" class="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group margin-bottom-0">
                                            <label class="control-label size-12 margin-0   grayLight">Введите код с картинки:</label>
                                            <div class="controls">
                                                <input type="text" class="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group margin-bottom-0 ">
                                            <label class="control-label"> </label>
                                            <div class="controls">
                                                <img src="http://placehold.it/120x40" alt="">
                                                <a class="iconupdate sprate" href="#"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-warning" href="#">
                                     Зарегистрироваться
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <a class="btn" data-toggle="modal" href="#add-stock" >tp_review-13 ДОБАВИТЬ СКЛАД</a>
    <div class="modal" id="add-stock" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Добавить склад</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Название</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">
                        Адрес
                    </label>

                    <div class="controls">
                        <textarea rows="5" class="span3 modal-textarea"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <a class="btn" data-toggle="modal" href="#Create-shipping-method" >tp_review-13 Создать метод доставки</a>
    <div class="modal" id="Create-shipping-method" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Создать метод доставки</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Название</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">
                        Описание
                    </label>

                    <div class="controls">
                        <textarea rows="5" class="span3 modal-textarea"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <a class="btn" data-toggle="modal" href="#Edit-Garage" >tp_review-13 Редактировать: Гараж</a>
    <div class="modal" id="Edit-Garage" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Редактировать: Гараж</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Название</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">
                        Адрес
                    </label>

                    <div class="controls">
                        <textarea rows="5" class="span3 modal-textarea"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div> <a href="#" class="red size-12 t-decorationNone"><span class="size-16">×</span> Удалить</a>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <a class="btn" data-toggle="modal" href="#Edit-Courier" >tp_review-13 Редактировать: Курьерская доставка</a>
    <div class="modal" id="Edit-Courier" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Редактировать: Курьерская доставка</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Название</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">
                        Описание
                    </label>

                    <div class="controls">
                        <textarea rows="5" class="span3 modal-textarea"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div> <a href="#" class="red size-12 t-decorationNone"><span class="size-16">×</span> Удалить</a>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <a class="btn" data-toggle="modal" href="#Change-settings-Robokassa" >tp_review-13 Изменить настройки: Робокасса</a>
    <div class="modal" id="Change-settings-Robokassa" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Изменить настройки: Робокасса</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Логин магазина в обменном пункте</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Пароль 1</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Пароль 2</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <a class="btn" data-toggle="modal" href="#Change-settings-QIWI" >tp_review-13 Изменить настройки: QIWI</a>
    <div class="modal" id="Change-settings-QIWI" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Изменить настройки: QIWI</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">ID магазина</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label " for="">Пароль</label>

                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <a class="btn" data-toggle="modal" href="#Change-settings-real" >tp_review-13 Изменить настройки: Наличные</a>
    <div class="modal" id="Change-settings-real" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Изменить настройки: Наличные</h3>
            <hr>
            <form class="form ">
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Активен
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <a class="btn" data-toggle="modal" href="#add-price" >tp_review-13 Добавить прайс</a>
    <div class="modal" id="add-price" style="display: none;">
        <div class="modal-body ">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Добавить прайс</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="margin-bottom-10">
                    <span>Выберите .xls файл на вашем компьютере</span><br>

                    <input class="margin-top-5" type="file">
                </div>

                <div class="btn btn-warning ">Загрузить</div>


            </form>
        </div>
    </div>
    <a class="btn" data-toggle="modal" href="#Editing-price-list" >tp_review-13 Редактирование прайс-листа</a>
    <div class="modal" id="Editing-price-list" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Редактирование прайс-листа</h3>
            <hr>
            <form class="form-horizontal form-inline padding-left-80">
                <label class="checkbox  margin-bottom-20">
                    <input type="checkbox" value="" id="">
                    Активен
                </label>

                <br>
                <br>
                <img src="/static/seller_control_panel/img/xls.png" class="pull-left padding-right-10 " alt="">
                <span class="size-14">Выгрузука с данными.xls</span><br>
                <small class="size-11 grayLight">58 кб., добавлен 24.10.2012</small>
                <br class="clear ">
                <div class="margin-top-10"></div>
                <strong>Загрузить новый</strong> <br>
                <input type="file">
                <br>
                <br>
                <div class="btn btn-warning ">Сохранить</div> <a href="#" class="red size-12 t-decorationNone"><span class="size-16">×</span> Удалить</a>

            </form>
        </div>
    </div>

    <a class="btn" data-toggle="modal" href="#account-funding-client" >tp_review-18 “Пополнить счет клиента"</a>
    <div class="modal" id="account-funding-client" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Пополнить счет клиента</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <label class="control-label  padding-top-15" for="">Сумма пополнения</label>
                    <div class="controls">
                        <input class="input-fat input-small" type="text" id=""> <strong>руб.</strong>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Пополнить</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <a class="btn" data-toggle="modal" href="#account-funding">“Пополнить баланс"</a>
    <div class="modal" id="account-funding" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div> <span>Закрыть</span></button>
            <h3>Пополнить баланс</h3>
            <hr>
            <form class="form-horizontal ">
                 <div class="control-group">
                    <label class="control-label padding-top-15" for="">Счет</label>
                    <div class="controls margin-top-10">
                        <label class="radio">
                          <input type="radio" name="" id="" value="" checked>
                          У поставщика <span class="gray">(оплата деталей)</span>
                        </label>
                        <label class="radio">
                          <input type="radio" name="" id="" value="">
                          В системе Teamparts <span class="gray">(оплата услуг сервиса)</span>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="">
                        Способ оплаты
                    </label>
                    <div class="controls">
                        <select id="">
                            <option>Робокасса</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label  padding-top-15" for="">Сумма пополнения</label>
                    <div class="controls">
                        <input class="input-fat input-small" type="text" id=""> <strong>руб.</strong>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Пополнить</div>
                    </div>
                </div>
            </form>

        </div>

    </div>

    

    <a class="btn" data-toggle="modal" href="#blocking-sites" >tp_review-35 “уведомления при блокировке сайта в случае неуплаты.”</a>
    <div class="modal" id="blocking-sites" style="display: none;">
        <div class="modal-body">
            <h3>Уважаемый пользователь</h3>
            <br>
            <form class="form-horizontal ">
                <p class="size-15">Сожалеем, но ваш сайт заблокирован за неуплату. Вы можете это исправить, оплатив счета за пользование сервисом Teamparts.</p>
                <hr>
                <span class="size-25 grayLight">Ваш баланс:</span><strong class="size-25 black">-0. 50 руб.</strong>
                <br>
                <br>
                <button class="btn btn-warning margin-bottom-10">Пополнить балланс</button>
                <button class="btn btn-warning margin-left-10 margin-bottom-10">Оплатить счета</button>
                <p class="help-block grayLight">
                    Все вопросы вы можете задать по телефону 8-800-1000-768
                </p>
            </form>
        </div>
    </div>

    <a class="btn" data-toggle="modal" href="#confirm-payment" >tp_review-54 Подтверждение оплаты</a>
    <div class="modal" id="confirm-payment" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div>
                <span>Закрыть</span>
            </button>
            <h3>Подтверждение оплаты счета</h3>
            <hr>
            <form class="form-horizontal margin-left-20">
                <p class="size-15 margin-bottom-20">Вы точно хотите подтвердить, что этот счет оплачен? Это действие необратимо и приведет к автоматической отправке заказа поставщику.</p>
                <span>Основание платежа:</span>
                <textarea class="span5 modal-textarea" rows="5" placeholder="Например, «Платежное поручение № 123 от 27.06.2012 г.»"></textarea>
                <button class="btn btn-warning margin-bottom-10 margin-top-20 margin-right-10">Да, подтверждаю</button>
                <button class="btn margin-left-10 refuse-btn">Нет, я передумал</button>
            </form>
        </div>
    </div>

    <a class="btn" data-toggle="modal" href="#edit-client" >Редактировать клиента</a>
    <div class="modal" id="edit-client" style="display: none;">
        <div class="modal-body">
            <button class="close" data-dismiss="modal">
                <div class="icon-clous"></div>
                <span>Закрыть</span>
            </button>
            <h3>Редактирование Гюго Виктор</h3>
            <hr>
            <form class="form-horizontal ">
                <div class="control-group">
                    <label class="control-label" for="">Примечания</label>
                    <div class="controls">
                        <textarea rows="5" value="" class="modal-textarea">(Отсутствуют)</textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="">Наценка</label>
                    <div class="controls">
                        <input class="input span1" type="text" id="" value="35"> <span>%</span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="btn btn-warning ">Сохранить</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}