{% extends '__base_backend.html' %}
{% block container %}
    {% with chaneg_design_button=True %}
    {% include 'system-backend/blocks/__head.html' %}
    {% endwith %}
    <div class="container-fluid">
        <div class="container">
            <div class="in-block margin-right-20">
                <img src="/static/seller_control_panel/img/watercolor.png" alt="">
            </div>
            <a class="btn btn-yellow" href="#">Сменить оформление сайта</a>
        </div>
        <iframe src="/system/index" style="width:100%;" height="10000px" frameborder="0"></iframe>
    </div>
    {% include 'system-backend/blocks/__helper.html' %}
    <div class="margin-top-30"></div>
{% endblock %}