{% extends '__base_backend.html' %}
{% block content %}
<h1>Выбор оформления</h1>
<span class="size-15">Вы можете выбрать готовую тему оформления сайта или менять стиль отдельных элементов</span>
<h3 class="margin-top-20">Темы оформления сайта:</h3>
<ul class="select-tems">
    <li class="item">
        <a href="#" class="box">
        <img src="/static/seller_control_panel/img/tems/vars-default.png" alt="">
        <span class="text">По умолчанию</span>
            <span class="link" >
                <i class="ok"></i>Установить
            </span>
        </a>
    </li>
    <li class="item active">
        <a href="#" class="box">
        <img src="/static/seller_control_panel/img/tems/vars-green.png" alt="">
        <span class="text">Зеленая</span>
        <span class="link">
            <i class="ok"></i>Установить
        </span>
        </a>
    </li>
    <li class="item">
        <a href="#" class="box">
        <img src="/static/seller_control_panel/img/tems/vars-lilac.png" alt="">
        <span class="text">Лиловая</span>
        <span class="link" >
        <i class="ok"></i>Установить
        </span>
        </a>
    </li>
    <li class="item">
        <a href="#" class="box">
        <img src="/static/seller_control_panel/img/tems/vars-purple.png" alt="">
        <span class="text">Пурпурная</span>
        <span class="link" >
            <i class="ok"></i>Установить
        </span>
        </a>
    </li>
    <li class="item">
        <a href="#" class="box">

        <img src="/static/seller_control_panel/img/tems/vars-terracotta.png" alt="">
        <span class="text">Терракотовая</span>
        <span class="link" >
        <i class="ok"></i>Установить
        </span>
        </a>
    </li>
</ul>
<h4>Стиль отдельных элементов:</h4>
<p>Тут кодеры навставляют всякой херни для отдельных элементов. Просто иметь ввиду, что здесь будет блок</p>

{% endblock %}