{% extends '__base_backend.html' %}
{% block container %}
    {% with nomargin=True %}
        {% include 'system-backend/blocks/__head.html' %}
    {% endwith %}

    <div class="top-sub-menu top-sub-menu_level-one">
        <div class="container-fluid">
        <span class="dis">
            Группировать:
        </span>
            <ul class="list">
                <li class="item active">
                    <a href="#" class="t-decorationNorm">
                        <span>По заказам</span>
                        <div class="arrow-el"></div>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="t-decorationNorm">
                        <span>По деталям</span>
                        <div class="arrow-el"></div>
                    </a>
                </li>
            </ul>
            <div class="tooltip fade right in" ><div class="tooltip-arrow"></div><div class="tooltip-inner">Вы можете группировать ваши заказы как по заказам комплексно, так и по отдельным деталям</div></div>
        </div>
    </div>
    <div class=" top-sub-menu top-sub-menu_level-two">
        <div class="container-fluid">
        <span class="dis">
           Период. За:
        </span>
            <ul class="list">
                <li class="item active">
                    <a href="#" class="t-decorationNorm">
                        <span>Квартал</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="t-decorationNorm">
                        <span>Месяц</span>
                    </a>
                </li>
                <li class="item">
                    <a href="#" class="t-decorationNorm">
                        <span>Неделя</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class=" top-sub-menu top-sub-menu_level-three">
        <div class="container-fluid">
            <h3>
                Состояние заказов на:
            </h3>
            <div class="input-prepend input-append insert-data">
                <a href="#" class="add-on btn">◄</a><!--
                --><input class="input-medium" value="Ноябрь, 2012"  id="" type="text"><!--

                --><a href="#" class="add-on btn ">►</a>

            </div>
            <div class="btn-group" data-toggle="buttons-checkbox">
                <button class="btn btn-large">Все</button>
                <button class="btn btn-large">Отмененные</button>
                <button class="btn btn-large">Оплаченные</button>
                <button class="btn btn-large">В доставке</button>
                <button class="btn btn-large">Выполненные</button>
            </div>
            <div class="help-text">
                На этот месяц у вас <br>
               <strong>9 заказов</strong>
            </div>
        </div>
    </div>

    <div class="container-fluid margin-top-50">
    <table class="table-clear order-list order-list_by-month">
    <tr>
        <th><div class="wraper__th"><span>1</span></div></th>
        <th><div class="wraper__th"><span>2</span></div></th>
        <th><div class="wraper__th"><span>3</span></div></th>
        <th><div class="wraper__th"><span>4</span></div></th>
        <th><div class="wraper__th"><span>5</span></div></th>
        <th class="output"><div class="wraper__th"><span>6</span></div></th>
        <th class="output"><div class="wraper__th"><span>7</span></div></th>
        <th class="today"><div class="wraper__th"><span>8</span></div></th>
        <th><div class="wraper__th"><span>9</span></div></th>
        <th><div class="wraper__th"><span>10</span></div></th>
        <th><div class="wraper__th"><span>11</span></div></th>
        <th><div class="wraper__th"><span>12</span></div></th>
        <th class="output"><div class="wraper__th"><span>13</span></div></th>
        <th class="output"><div class="wraper__th"><span>14</span></div></th>
        <th><div class="wraper__th"><span>15</span></div></th>
        <th><div class="wraper__th"><span>16</span></div></th>
        <th><div class="wraper__th"><span>17</span></div></th>
        <th><div class="wraper__th"><span>18</span></div></th>
        <th><div class="wraper__th"><span>19</span></div></th>
        <th class="output"><div class="wraper__th"><span>20</span></div></th>
        <th class="output"><div class="wraper__th"><span>21</span></th>
        <th><div class="wraper__th"><span>22</span></div></th>
        <th><div class="wraper__th"><span>23</span></div></th>
        <th><div class="wraper__th"><span>24</span></div></th>
        <th><div class="wraper__th"><span>25</span></div></th>
        <th><div class="wraper__th"><span>26</span></div></th>
        <th class="output"><div class="wraper__th"><span>27</span></div></th>
        <th class="output"><div class="wraper__th"><span>28</span></div></th>
        <th><div class="wraper__th"><span>29</span></div></th>
        <th><div class="wraper__th"><span>30</span></div></th>
    </tr>
    <tr>
        <td>

        </td>
        <td></td>
        <td>
            <div class="order-list__wraper-item">
                <a href="#" class="order-list__item  order-list__item_red" style="width:1000%;">
                    <div class="textOverflow">
                        <span class="label">Отказ</span>
                        <span class="text">Заказ №5698, от Гоголь Н.</span>
                    </div>
                </a>
                <a href="#pop1" data-toggle="modal" class="marker error" style="left:500%;">
                    2
                    <span class="marker-line"></span> <!-- добавлено для ие8, в остальных браузерах ничего не меняет -->
                </a>
                <div class="popover-box">
                    <div id="pop1" class="popover top hide fade  in" style="display: none;" >
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <h3 class="grayLight margin-bottom-10">Детали на 12 ноября</h3>
                            <a href="#">Диск сцепления, COVER-CLUTCH</a><br>
                            <small class="size-11 grey">30210Y066A</small><br>
                            <a href="#">Диск сцепления, COVER-CLUTCH</a><br>
                            <small class="size-11 grey">30210Y066A</small><br>
                        </div>
                    </div>
                </div>
                <a href="#pop2"  data-toggle="modal" class="marker" style="left:950%;">
                    5
                    <span class="marker-line narrow"></span> <!-- добавлено для ие8, в остальных браузерах ничего не меняет -->
                </a>
                <div class="popover-box">
                    <div id="pop2" class="popover top hide fade  in" style="display: none;" >
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <h3 class="grayLight margin-bottom-10">Детали на 12 ноября</h3>
                            <a href="#">Диск сцепления, COVER-CLUTCH</a><br>
                            <small class="size-11 grey">30210Y066A</small><br>
                            <a href="#">Диск сцепления, COVER-CLUTCH</a><br>
                            <small class="size-11 grey">30210Y066A</small><br>
                        </div>
                    </div>
                </div>


            </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <div class="order-list__wraper-item">
                <a href="#" class="order-list__item  order-list__item_green" style="width:370%; left:30%;">
                    <div class="textOverflow">

                        <span class="label">Пришел</span>
                        <span class="text">Заказ №5698, от Гоголь Н.</span>
                    </div>
                </a>
                <div class="marker" style="left:390%;">
                    2
                    <span class="marker-line narrow green"></span> <!-- добавлено для ие8, в остальных браузерах ничего не меняет -->
                </div>
            </div>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>

        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>

            <div class="order-list__wraper-item">
                <a href="#"  class="order-list__item  order-list__item_purple" style="width:670%; left:30%;">
                    <div class="textOverflow">
                        <span class="label">Пришел</span>
                        <span class="text">Заказ №5698, от Гоголь Н.</span>
                    </div>
                </a>
                <div class="marker" style="left:390%;">
                    2
                    <span class="marker-line narrow purple"></span> <!-- добавлено для ие8, в остальных браузерах ничего не меняет -->
                </div>
            </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <div class="order-list__wraper-item">
                <a href="#"  class="order-list__item  order-list__item_good" style="width:1300%;">
                    <div class="textOverflow">

                        <span class="label">Пришел</span>
                        <span class="text">Заказ №5698, от Гоголь Н.</span>
                    </div>
                </a>
                <div class="marker" style="left:300%;">
                    2
                    <span class="marker-line narrow light-blue"></span> <!-- добавлено для ие8, в остальных браузерах ничего не меняет -->
                </div>
                <div class="marker" style="left:600%;">
                    5
                    <span class="marker-line narrow light-blue"></span> <!-- добавлено для ие8, в остальных браузерах ничего не меняет -->
                </div>
            </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </table>
    <div class="ajax-lider">
        <img src="/static/seller_control_panel/img/ajax-preloders.gif" alt="">
    </div>
    </div>

    {% include 'system-backend/blocks/__helper.html' %}
{% endblock %}