{% extends '__base_backend.html' %}
{% block content %}
<h1>Настройки</h1>
<div class=" margin-bottom-20">
    <div class="horizontal-menu">
        <ul class="horizontal-menu__list">
            <li class="horizontal-menu__item    ">
                <a class="horizontal-menu__link" href="#">
                    Настройки магазина
                </a>
            </li>
            <li class="horizontal-menu__item active  ">
                <a class="horizontal-menu__link" href="#">
                    Управление сайтом
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Данные о компании
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Управление аккаунтом
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix margin-bottom-20">
    <div class="green-arrow">
        <a href="#" class="green-arrow__box t-decorationNorm">
            <div class="green-arrow__arow"></div>
            <div class="green-arrow__cont "><span>Вернуться к списку страниц</span></div>
        </a>
    </div>
    <div class="green-arrow__hr"></div>
</div>
<div class="row-fluid">
    <div class="span9">
        <table class="table table-bordered table_no-hover">
            <tbody><tr>
                <th class=""><h3>Редактирование страницы "Услуги"</h3></th>
            </tr>
            <tr>
                <td class="">
                    <div class="">
                        <form action="" class="form-horizontal">
                            <div class="control-group ">
                                <label class="control-label">Заголовок</label>
                                <div class="controls">
                                    <input type="text" class="input-large">
                                    <p class="help-block">Заголовок будет отображаться сверху страницы, а также в меню</p>
                                </div>
                            </div>
                            <div class="control-group ">
                                <label class="control-label">Ключевые слова</label>
                                <div class="controls">
                                    <div class="row">
                                        <div class="span3 edit-service">
                                            <textarea rows="5" class="input-large"></textarea>
                                            <p class="help-block">Не более 255 символов</p>
                                        </div>
                                        <div class="span4">
                                            <div class="row-fluid">
                                                <div class="span3 a-center">
                                                    <div class="reference-i">
                                                        <span>?</span>
                                                    </div>
                                                    <span class="reference-i__text">Справка</span>
                                                </div>
                                                <div class="span9">
                                                    <p class="spmal-text size-12">
                                                        Указание ключевых слов и описание страницы поможет вашему сайту быть выше в поисковых результатах. Если вы не знаете, как лучше заполнить эти поля, можете проконсультироваться у нашего онлайн-специалиста или оставьте их пустыми — это необязательная информация.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="control-label" for="">
                                    Описание
                                </label>
                                <div class="controls">
                                    <div class="row">
                                        <div class="span3 edit-service">
                                            <textarea rows="5" class="input-large"></textarea>
                                            <p class="help-block">Не более 255 символов</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <label class="checkbox di_in-block">
                                        <input type="checkbox" value="" id="">
                                        Выводить&nbsp;в&nbsp;меню
                                    </label>
                                    <a class="more-info margin-left-10" rel="popover" data-placement="right" data-content="Выводить ли эту страницу в нижнем меню вашего сайта, или она будет доступна только по ссылке" data-original-title=""><img src="/static/seller_control_panel/img/question-green.png" alt=""></a>
                                    <br	>
                                    <label class="checkbox di_in-block">
                                        <input type="checkbox" value="" id="">
                                        Опубликовано
                                    </label>
                                    <a class="more-info margin-left-10" rel="popover" data-placement="right" data-content="Будет ли страница отображаться на сайте или вы пока не хотите ее показывать" data-original-title=""><img src="/static/seller_control_panel/img/question-green.png" alt=""></a>

                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="">Порядок в меню</label>
                                <div class="controls">
                                    <input type="text" id="" class="input-mini">
                                    <a class="more-info margin-left-10" rel="popover" data-placement="right" data-content="Значение влияет на то, в какой последовательности пункты будут выводиться в меню: чем меньше значение, тем выше приоритет вывода" data-original-title=""><img src="/static/seller_control_panel/img/question-green.png" alt=""></a>

                                    <p class="help-block">
                                        Чем меньше значение, тем выше приоритет.
                                    </p>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="">Ссылка на страницу</label>
                                <div class="controls">
                                    <pre class="span8 prettyprint"><a href="#" target="blank">http://kolesa.teamparts.ru/pages/test/</a></pre>
                                    <a class="more-info margin-left-10" rel="popover" data-placement="right" data-content="Это адрес данной страницы. Вы можете использовать его при создании ссылки на неё."><img src="/static/seller_control_panel/img/question-green.png" alt=""></a>
                                </div>
                            </div>
                            <hr>
                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-warning">Сохранить страницу</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody></table>
    </div>
    <div class="span3">
        <div class="row-fluid">
            <div class="span3 a-center">
                <div class="reference-i">
                    <span>?</span>
                </div>
                <span class="reference-i__text">Справка</span>
            </div>
            <div class="span9">
                <h4>Редактирование страницы</h4>
                <br>
                <p class="spmal-text">
                    Тут вы можете редактировать только дополнительные параметры страницы. Редактирование содержимого осуществляется с лицевой стороны сайта, или вы можете перейти по
                    <a href="#">этой ссылке</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}>