{% extends '__base_backend.html' %}
{% block content %}
<h1 class="normal size-25">Клиент: Севаков Адрей Викторович</h1>


<div class="clearfix margin-bottom-10">
    <div class="green-arrow margin-top-10">
        <a class="green-arrow__box t-decorationNorm" href="#">
            <div class="green-arrow__arow"></div>
            <div class="green-arrow__cont ">
                <span>Вернуться к списку клиентов</span>
            </div>
        </a>
    </div>
    <div class="green-arrow__hr"></div>
</div>

<div class=" margin-bottom-20">
    <div class="horizontal-menu">
        <ul class="horizontal-menu__list">
            <li class="horizontal-menu__item  active  ">
                <a class="horizontal-menu__link" href="#">
                    История заказов
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Состояние счета
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Личные данные
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span7">
        <table class="table table-bordered account-history margin-bottom-0">
    <colgroup>
        <col width="20%">
        <col width="20%">
        <col width="40%">
        <col width="15%">
    </colgroup>
    <tr>
        <th>№ заказа</th>
        <th>Дата заказа </th>
        <th>Статус</th>
        <th>Сумма</th>
    </tr>
    <tr>
        <td>
            <a href="#" class="size-14">№43543465</a>
        </td>
        <td>
            <time>
                20 декабря 2012, в 18:05
            </time>
        </td>
        <td>
            <span class="status-grey">Не оплачен</span>
        </td>
        <td>
            <span class="size-14 nowrap">56 200 руб.</span>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#" class="size-14">№433465</a>
        </td>
        <td>
            <time>
                20 декабря 2012, в 18:05
            </time>
        </td>
        <td>
            <span class="status-blue">Поступает на склад</span>
        </td>
        <td>
            <span class="size-14 nowrap">126 200 руб.</span>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#" class="size-14">№435</a>
        </td>
        <td>
            <time>
                20 декабря 2012, в 18:05
            </time>
        </td>
        <td>
            <span class="status-red">Отказ</span>
        </td>
        <td>
            <span class="size-14 nowrap">96 200 руб.</span>
        </td>
    </tr>
    {% for i in range(4) %}
    <tr>
        <td>
            <a href="#" class="size-14">№43543465</a>
        </td>
        <td>
            <time>
                20 декабря 2012, в 18:05
            </time>
        </td>
        <td>
            <span class="status-green">Выполнен 8 декабря</span>
        </td>
        <td>
            <span class="size-14 nowrap">16 200 руб.</span>
        </td>
    </tr>
    {% endfor %}
    </table>
    </div>

    <div class="span3 personal-infoblock">
        <div class="row-fluid">
            <div class="span12">
                <p class="large pull-left padding-right-5">2 заказа</p><p class="grayLight padding-top-5"><strong>в работе</strong></p>
                <a  href="#" class="btn btn-warning margin-bottom-0">Оформить новый заказ</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}