{% extends '__base_backend.html' %}
{% block content %}
<h1 class="normal size-25">Клиент: Севаков Адрей Викторович</h1>


<div class="clearfix margin-bottom-10">
    <div class="green-arrow margin-top-10">
        <a class="green-arrow__box t-decorationNorm" href="#">
            <div class="green-arrow__arow"></div>
            <div class="green-arrow__cont ">
                <span>Вернуться к списку клиентов</span>
            </div>
        </a>
    </div>
    <div class="green-arrow__hr"></div>
</div>

<div class=" margin-bottom-20">
    <div class="horizontal-menu">
        <ul class="horizontal-menu__list">
            <li class="horizontal-menu__item    ">
                <a class="horizontal-menu__link" href="#">
                    История заказов
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Состояние счета
                </a>
            </li>
            <li class="horizontal-menu__item  active ">
                <a class="horizontal-menu__link" href="#">
                    Личные данные
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <form action="" class="form-horizontal ">

        <table class="table table-bordered table_no-hover single-client-data">
            <tbody>

            <tr class="table__second-header">
                <th class="subheading">
                    Личные данные
                </th>
            </tr>
            <tr>
                <td class="">
                    <dl class="dl-horizontal">
                        <dt>Имя</dt>
                        <dd>Андрей</dd>
                        <dt>Фамилия</dt>
                        <dd>Болконский</dd>
                        <dt>Телефон</dt>
                        <dd>+7-922-678-90-13</dd>
                        <dt>E-mail </dt>
                        <dd>andruha@yandex.ru <a href="#" class="padding-left-10">Написать письмо</a></dd>
                        <dt>Адрес</dt>
                        <dd>Рязанская губерния, имение Лысые горы, барское помещение №1</dd>
                        <dt>Оповещения

                        </dt>
                        <dd>
                            <label class="checkbox">
                                <input disabled type="checkbox" value="" checked="checked">
                                По SMS
                            </label>
                            <label class="checkbox">
                                <input disabled type="checkbox" value="" checked="checked">
                                По email
                            </label>
                        </dd>
                        <dt>Дата регистрации</dt>
                        <dd>1 сентября 1812 года</dd>
                        <dt>Примечания</dt>
                        <dd>
                            <textarea rows="3" class="disabled" disabled>Хороший дяденька, влюблен в Наташу Ростову</textarea>
                        </dd>
                        <dt>Наценка</dt>
                        <dd>
                            <input type="text" class="span2 disabled" value="35" disabled/> <div class="padding-top-5">%</div>
                        </dd>
                        <dt></dt>
                        <dd>
                            <div class="control-group">
                                <div class="controls margin-left-0">
                                    <button class="btn btn-warning change-data">Изменить данные</button>
                                    <button class="btn btn-warning save-data" style="display: none">Сохранить</button>
                                </div>
                            </div>
                        </dd>

                    </dl>
                </td>
            </tr>
            </tbody></table>
        </form>
    </div>

    <div class="span3">
        <div class="row-fluid">
            <div class="span2 a-center margin-right-20">
                <div class="reference-i">
                    <span>?</span>
                </div>
                <span class="reference-i__text">Справка</span>
            </div>
            <div class="span9">
                <h4>Изменение данных</h4>
                <br>
                <p class="spmal-text">
                    Вы можете изменять только поля
                    примечаний и наценки. Остальные
                    поля может править только сам
                    пользователь из своего личного
                    кабинета.
                </p>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}