{% extends '__base_backend.html' %}
{% block content %}
<h1 class="normal size-25">Клиент: Севаков Адрей Викторович</h1>


<div class="clearfix margin-bottom-10">
    <div class="green-arrow margin-top-10">
        <a class="green-arrow__box t-decorationNorm" href="#">
            <div class="green-arrow__arow"></div>
            <div class="green-arrow__cont ">
                <span>Вернуться к списку клиентов</span>
            </div>
        </a>
    </div>
    <div class="green-arrow__hr"></div>
</div>

<div class=" margin-bottom-20">
    <div class="horizontal-menu">
        <ul class="horizontal-menu__list">
            <li class="horizontal-menu__item    ">
                <a class="horizontal-menu__link" href="#">
                    История заказов
                </a>
            </li>
            <li class="horizontal-menu__item  active ">
                <a class="horizontal-menu__link" href="#">
                    Состояние счета
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Личные данные
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span7">
        <table class="table table-bordered account-history margin-bottom-0">
    <colgroup>
        <col width="20%">
        <col width="20%">
        <col width="50%">
        <col width="10%">
    </colgroup>
    <tr>
        <th>Дата</th>
        <th>Сумма </th>
        <th>Описание</th>
        <th class="a-center">Статус</th>
    </tr>
    <tr>
        <td>
            <time>
                20 декабря 2012, в 18:05
            </time>
        </td>
        <td>
            <strong class="green">- 3 200 р.</strong>
        </td>
        <td>
            <span class="small">Предоплата по <a href="#">заказу №6789</a></span>
        </td>
        <td class="a-center">
            <div  class="informationMini-box">
                <a href="#" data-original-title="Ожидает оплаты" data-placement="top" rel="tooltip">
                    <img src="/static/img/status-red.png" alt="">
                </a>
                <a href="#" class="document">Оплатить</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <time>
                20 декабря 2012, в 18:05
            </time>
        </td>
        <td>
            <strong class="green">+ 2 700 р.</strong>
        </td>
        <td>
            <span class="small">Внесение средств на счет</span>
        </td>
        <td class="a-center">
            <div  class="informationMini-box">
                <a href="#" data-original-title="Ожидается зачисление платежа" data-placement="top" rel="tooltip">
                    <img src="/static/img/status-gray.png" alt="">
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <time>
                20 декабря 2012, в 18:05
            </time>
        </td>
        <td>
            <strong class="green">+ 2 850 р.</strong>
        </td>
        <td>
            <span class="small">Возврат предоплаты по <a href="#">заказу №6780 </a></span>
        </td>
        <td class="a-center">
            <div  class="informationMini-box">
                <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                    <img src="/static/img/status-green.png" alt="">
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <time>
                20 декабря 2012, в 18:05
            </time>
        </td>
        <td>
            <strong class="red">- 3 200 р.</strong>
        </td>
        <td>
            <span class="small">Пополнение баланса (<a href="#">Посмотреть счет</a>)</span>
        </td>
        <td class="a-center">
            <div  class="informationMini-box">
                <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                    <img src="/static/img/status-green.png" alt="">
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <time>20 декабря 2012, в 18:05</time>
        </td>
        <td>
            <strong class="red">- 1 500 р.</strong>
        </td>
        <td>
            <span class="small">Оплата <a href="#">заказа №6780 </a></span>
        </td>
        </td>
        <td class="a-center">
            <div  class="informationMini-box">
                <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                    <img src="/static/img/status-green.png" alt="">
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <time>
                20 декабря 2012, в 18:05
            </time>
        </td>
        <td>
            <strong class="red">- 3 850 р.</strong>
        </td>
        <td>
            <span class="small">Предоплата по заказу №6780</span>
        </td>
        <td class="a-center">
            <div  class="informationMini-box">
                <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                    <img src="/static/img/status-green.png" alt="">
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <time>
                20 декабря 2012, в 18:05
            </time>
        </td>
        <td>
            <strong class="green">+ 2 850 р.</strong>
        </td>
        <td>
            <span class="small">Оплата <a href="#">заказа №6780 </a></span>
        </td>
        <td class="a-center">
            <div  class="informationMini-box">
                <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                    <img src="/static/img/status-green.png" alt="">
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <time>
                20 декабря 2012, в 18:05
            </time>
        </td>
        <td>
            <strong class="red">- 3 850 р.</strong>
        </td>
        <td>
            <span class="small">Оплата <a href="#">заказа №6780 </a></span>
        </td>
        <td class="a-center">
            <div  class="informationMini-box">
                <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                    <img src="/static/img/status-green.png" alt="">
                </a>
            </div>
        </td>
    </tr>
    </table>
    </div>

    <div class="span3">
        <div class="personal-infoblock">
            <div class="row-fluid">
                <div class="span12">
                    <p class="large">5 000 руб.</p>
                    <p class="grayLight"><strong>На счету клиента</strong></p>
                    <a  href="#" class="btn btn-warning">Пополнить баланс</a>
                    <div class="divider"></div>
                    <div class="row-fluid">
                        <div class="exclamation-icon span1">!</div>
                        <div class="margin-top-20 span10">
                            <p>2 заказа в работе</p>
                            <p class="margin-bottom-0"><small>Ожидаемая сумма к оплате</small></p>
                            <strong>250 300.00 руб.</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid margin-top-30">
            <div class="span2">
                <div class="reference-i left-reference">
                    <span>?</span>
                </div>
                <span class="reference-i__text">Справка</span>
            </div>
            <div class="span7">
                <h4>Пополнение баланса</h4>
                <p class="spmal-text">
                    Вы можете самостоятельно пополнять счет клиента, если, например, клиент оплатил заказ у вас в офисе наличными. Для этого вам нужно указать только необходимую сумму.
                </p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}