{% extends '__base_backend.html' %}
{% block content %}
<h1>Настройки</h1>
<div class=" margin-bottom-20">
    <div class="horizontal-menu">
        <ul class="horizontal-menu__list">
            <li class="horizontal-menu__item    ">
                <a class="horizontal-menu__link" href="#">
                    Настройки магазина
                </a>
            </li>
            <li class="horizontal-menu__item active  ">
                <a class="horizontal-menu__link" href="#">
                    Управление сайтом
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Данные о компании
                </a>
            </li>
            <li class="horizontal-menu__item   ">
                <a class="horizontal-menu__link" href="#">
                    Управление аккаунтом
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid">
<div class="span9">

<table class="table table-bordered table-big-padding  ">
    <tbody>
    <tr>
        <th class="span4">
            <h3 class="black">
                <span class="v-middle">Страницы на сайте</span>
            </h3>
        </th>
        <th class=""></th>
        <th class=""></th>
        <th class=""></th>
        <th class="border_grey span1 a-center">
            <a href="#payment-methods" class="linc-collapse linc-collapse_table_js linc-collapse__up">Свернуть</a>
        </th>
    </tr>
    </tbody>
    <tbody id="payment-methods" class="collapse in" style="display: table-row-group;">
    <tr class="table__second-header">
        <th class="">
            Название
        </th>
        <th colspan="">
            Выводить в меню
        </th>
        <th colspan="">
            Опубликована
        </th>
        <th class="span2" colspan="2">
        	Порядок
            <a class="more-info" rel="popover" data-placement="right" data-content="Порядок страниц в меню. Если вы хотите поменять этот порядок – просто перетащите строку с нужной маркой выше или ниже по списку" data-original-title="Порядок выведения"><img src="/static/seller_control_panel/img/question-green.png" alt=""></a>
        </th>
    </tr>
    <tr>
        <td>
            <a href="#" class="">Главная</a>
        </td>
        <td colspan="">
            <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
        </td>
        <td>
            <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
        </td>
        <td colspan="2">
        	<div class="box-edit">
                <a href="#" class="icon_edit"></a>
            </div>
            <a href="#"><span class="icon icon-random"></span></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#" class="">Услуги</a>
        </td>
        <td colspan="">
            <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
        </td>
        <td>
            <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
        </td>
        <td colspan="2">
        	<div class="box-edit">
                <a href="#" class="icon_edit"></a>
            </div>
            <a href="#"><span class="icon icon-random"></span></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#" class="">Оплата</a>
        </td>
        <td colspan="">
            <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
        </td>
        <td>
            <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
        </td>
        <td colspan="2">
        	<div class="box-edit">
                <a href="#" class="icon_edit"></a>
            </div>
            <a href="#"><span class="icon icon-random"></span></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#" class="">О нас</a>
        </td>
        <td colspan="">
            <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
        </td>
        <td>
            <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
        </td>
        <td colspan="2">
            <div class="box-edit">
                <a href="#" class="icon_edit"></a>
            </div>
            <a href="#"><span class="icon icon-random"></span></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#" class="">Контакты</a>
        </td>
        <td colspan="">
            <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
        </td>
        <td>
            <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
        </td>
        <td colspan="2">
            <div class="box-edit">
                <a href="#" class="icon_edit"></a>
            </div>
            <a href="#"><span class="icon icon-random"></span></a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>
            <a href="#" class="btn btn-warning">Добавить страницу</a>
        </td>
        <td colspan="4">
        </td>
    </tr>
    </tfoot>
</table>
<table class="table table-bordered table-big-padding  ">
    <tbody>
    <tr>
        <th class="span4">
            <h3 class="black">
                <span class="v-middle">Настройка доменов</span>
            </h3>
        </th>
        <th class=""></th>
        <th class="border_grey span1 a-center">
            <a href=" #сonfigure-domains" class="linc-collapse linc-collapse_table_js linc-collapse__up">Свернуть</a>
        </th>
    </tr>
    </tbody>
    <tbody id="сonfigure-domains" class="collapse in" style="display: table-row-group;">
    <tr class="table__second-header">
        <th class="">
            Доменное имя
        </th>
        <th colspan="">
            Подключен
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            <a href="#" class="">omastyugina.teamparts.com</a>
        </td>
        <td colspan="2">
            <div class="icon_good_big v-middle"></div>

        </td>
    </tr>
    <tr>
        <td>
            <a href="#" class="">kolesa.teamparts.com</a>
        </td>
        <td colspan="2">
            <div class="icon_good_big v-middle"></div>&nbsp;&nbsp;<a href="#" class="grayLight link_in">Выключить</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#" class="">kolesa.ru</a>
        </td>
        <td colspan="2">
            <div class="icon_bad_big  v-middle"></div>&nbsp;&nbsp;<span href="#" class="grayLight ">В обработке</span>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <p>
                В качестве адреса сайта вы можете использовать бесплатный домен типа <br>
                «<strong>вашсайт.teamparts.com</strong>», либо <a href="#">подключить собственный домен</a>.
            </p>
            <form class="form-horizontal margin-top-20 margin-bottom-0">
                <div class="control-group">
                    <label class="control-label" for="">Поддомен:</label>

                    <div class="controls">
                        <input type="text" id=""> <strong class="size-18 grayLight">.teamparts.com</strong>
                    </div>
                </div>
                <div class="control-group margin-bottom-0">
                    <div class="controls">
                        <button class="btn btn-warning">Применить</button>
                    </div>
                </div>

            </form>
        </td>
    </tr>
    </tfoot>
</table>

<table class="table table-bordered table-big-padding   table_no-hover ">
    <tbody>
    <tr>
        <th >
            Настройка стартового экрана
        </th>
    </tr>
    <tr>
        <td>
            <form class="form ">
                <p class="help-block">
                    Укажите, какую страницу следует открывать при входе в систему
                </p>
                <label class="radio">
                    <input type="radio" name="" id="" value="option1" >
                    Ваш cайт
                </label>
                <label class="radio">
                    <input type="radio" name="" id="" value="option1" >
                    Финансы
                </label>
                <label class="radio">
                    <input type="radio" name="" id="" value="option1" >
                    Заказы
                </label>
                <label class="radio">
                    <input type="radio" name="" id="" value="option1" >
                    Клиенты
                </label>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
<div class="span3">
    <div class="row-fluid">
        <div class="span3 a-center">
            <div class="reference-i">
                <span>?</span>
            </div>
            <span class="reference-i__text">Справка</span>
        </div>
        <div class="span9">
            <h4>Страницы сайта</h4>

            <p class="spmal-text">
                Это список страниц, которые есть на вашем сайте (кроме сервисных страниц поиска, каталогов и других, где не размещена ваша информация). Вы можете добавить новые страницы или отредактировать уже существующие.
            </p>
        </div>
    </div>
</div>
</div>
<div class="row-fluid">
    <div class="span9">
        <table class="table table-bordered table-big-padding   table_no-hover ">
            <tbody>
            <tr>
                <th >
                    Счетчик посещений
                </th>
            </tr>
            <tr>
                <td>
                    <div class="row-fluid">
                        <div class="span8">
                            <form class="form-vertical_full ">

                                <div class="control-group">
                                    <div class="controls">
                                        <textarea rows="8" class="counter-textarea"></textarea>

                                        <p class="help-block">
                                            В данное поле нужно вставить коды созданных вами счетчиков
                                        </p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button class="btn btn-warning">Сохранить</button>
                                    </div>
                                </div>
                                </label>
                            </form>
                        </div>

                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="span3">
        <div class="row-fluid">
            <div class="span2 a-center margin-right-20">
                <div class="reference-i">
                    <span>?</span>
                </div>
                <span class="reference-i__text">Справка</span>
            </div>
            <div class="span9">
                <h4>Счетчики посещений</h4>

                <p class="spmal-text">
                    Счетчики системы можно создать на соответствующих сайтах. Например,<a href="www.google.ru/analytics">www.google.ru/analytics</a>  или
                    <a href="www.metrika.yandex.ru">www.metrika.yandex.ru</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}