{% extends '__base_backend.html' %}
{% block content %}
<div class="container-fluid">
    <div class="balance-bar span3">
        <div class="padding-right-20 padding-left-20">
            <table class="table-clear">
                <tr>
                    <td class="v-middle ">
                        <div class="in-block">

                        <small class="size-9 gray">Ваш тариф:</small> <br>
                        <a href="#" class="yellow size-25">1499</a>
                        </div>
                    </td>
                    <td class="v-middle ">
                        <a href="#" class="btn btn-yellow  btn-block">Сменить тариф</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <h1>Настройки</h1>
    <div class=" margin-bottom-20">
        <div class="horizontal-menu">
            <ul class="horizontal-menu__list">
                <li class="horizontal-menu__item    ">
                    <a class="horizontal-menu__link" href="#">
                        Настройки магазина
                    </a>
                </li>
                <li class="horizontal-menu__item   ">
                    <a class="horizontal-menu__link" href="#">
                        Управление сайтом
                    </a>
                </li>
                <li class="horizontal-menu__item  active ">
                    <a class="horizontal-menu__link" href="#">
                        Данные о компании
                    </a>
                </li>
                <li class="horizontal-menu__item   ">
                    <a class="horizontal-menu__link" href="#">
                        Управление аккаунтом
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}