{% extends '__base_backend.html' %}
{% block content %}
<h1 class="margin-bottom-20">Тарифы</h1>
<div class="horizontal-menu">
    <ul class="horizontal-menu__list">
        <li class="horizontal-menu__item    ">
            <a class="horizontal-menu__link" href="#">
                Настройки магазина
            </a>
        </li>
        <li class="horizontal-menu__item   ">
            <a class="horizontal-menu__link" href="#">
                Управление сайтом
            </a>
        </li>
        <li class="horizontal-menu__item   ">
            <a class="horizontal-menu__link" href="#">
                Данные о компании
            </a>
        </li>
        <li class="horizontal-menu__item  active ">
            <a class="horizontal-menu__link" href="#">
                Управление аккаунтом
            </a>
        </li>
    </ul>
    <div class="horizontal-menu_sub">
        <ul class="horizontal-menu_sub__list">
            <li class="horizontal-menu_sub__item active"><a class="horizontal-menu_sub__link" href="#">
                Тарифы
            </a></li>
            <li class="horizontal-menu_sub__item "><a class="horizontal-menu_sub__link" href="#">
                Логин и пароль
            </a></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <span class="tarif-neme">499</span>
    </div>
    <div class="span5">
        <p>Тариф для тех, кому нужен только удобный онлайн-офис для ведения сделок, без интернет-магазина. На данном тарифе вы сможете заказывать детали по закупочной цене у поставщика, вести свои финансы и клиентскую базу. Поиск деталей осуществляется только по номеру детали или VIN автомобиля.</p>
    <hr>
    </div>
    <div class="span2">
        <a class="btn btn-warning btn-block " href="#">Подключить тариф 499</a>
    </div>
    <div class="span3">
        <div class="row-fluid">
            <div class="span3 a-center">
                <div class="reference-i">
                    <span>?</span>
                </div>
                <span class="reference-i__text">Справка</span>
            </div>
            <div class="span9">
                <h4>Тарифы</h4>
                <p class="spmal-text">
                    В этом разделе вы можете сменить тариф на любой, подходящий вашему бизнесу
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <span class="tarif-neme">799</span>
    </div>
    <div class="span5">
        <p>Вам подойдет этот тариф, если вы только начинаете бизнес по продаже запчастей и заказов пока немного. Полноценный интернет-магазин и онлайн-офис, но без доступа к каталогам, выгрузки в систему Тимпартс и собственных прайсов.</p>
    <hr>
    </div>
    <div class="span2">
        <a class="btn btn-warning btn-block " href="#">Подключить тариф 799</a>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <span class="tarif-neme">1499</span>
    </div>
    <div class="span5">
        <p>Если ваш бизнес процветает и нужны все навороты и сервисы, которые мы вам можем предоставить, то этот тариф – для вас. Доступ ко всем каталогам запчастей, выгрузка в единый канал продаж Тимпартс, неограниченное количество заказов.</p>
    <hr>
        <span class="left grayLight margin-top-10" style="font-size:38px;">*</span>
        <p class="size-12 grayLight margin-left-20">Более подробную информацию по тарифам вы можете получить на промо-сайте <a href="#" class="">http://teamparts.com/price/</a> или у нашего специалиста по телефону <strong class="black block">8-800-1000-768</strong></p>
    </div>
    <div class="span2">
        <a class="btn btn-warning btn-block size-14 " href="#">Подключить тариф 1499</a>
    </div>
</div>
{% endblock %}