{% extends '__base_backend.html' %}
{% block container %}
    <div class="tour-box " style="z-index: 10000; position: absolute; width: 1000px; left: 50%; margin-left: -500px; top: -50px;" >
        <div id="tour" class="carousel">
            <a href="#" class="tour_clous"></a>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <img src="/static/seller_control_panel/img/tour/1.png" alt="">
                </div>
                <div class=" item">
                    <img src="/static/seller_control_panel/img/tour/2.png" alt="">
                </div>
                <div class=" item">
                    <img src="/static/seller_control_panel/img/tour/3.png" alt="">
                </div>
                <div class=" item">
                    <img src="/static/seller_control_panel/img/tour/4.png" alt="">
                </div>
                <div class=" item">
                    <img src="/static/seller_control_panel/img/tour/5.png" alt="">
                </div>
                <div class=" item">
                    <img src="/static/seller_control_panel/img/tour/6.png" alt="">
                    <button class="btn btn-large btn-primary tour_start right" href="#tour" data-slide="next">Начать работу</button>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left tour_left" href="#tour" data-slide="prev"></a>
            <a class="carousel-control right tour_right" href="#tour" data-slide="next"></a>
        </div>
    </div>
    <div class="modal-backdrop  in" style="background: #fff; opacity: .7;"></div>

    {% include 'system-backend/blocks/__head.html' %}
    {% include 'system-backend/blocks/__helper.html' %}
{% endblock %}