/**треугольнички у пунктов меню**/
.triangle-base() {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
}

.triangle(@direction, @size, @color) when (@direction = up) {
  .triangle-base();
  border-left: @size solid transparent;
  border-right: @size solid transparent;
  border-bottom: @size solid @color;
}
.triangle(@direction, @size, @color) when (@direction = down) {
  .triangle-base();
  border-left: @size solid transparent;
  border-right: @size solid transparent;
  border-top: @size solid @color;
}
.triangle(@direction, @size, @color) when (@direction = left) {
  .triangle-base();
  border-top: @size solid transparent;
  border-bottom: @size solid transparent;
  border-right: @size solid @color;
}