/**общие стили для модаьльных окон****/

[class*="backend_icon_"],
.backend_sprate{
  background-image:url(../seller_control_panel/img/csg-4fb626d10bded.png);
  display:inline-block;
}
.backend_icon_clous{
  background-position:0 -61px;
  width:21px;
  height:21px;

}
.icon-clous{
  .backend_icon_clous;
  .backend_sprate;
}
.icon_clous, .icon-clous{
  vertical-align:middle;
}

#informModal{
  .alert.alert-info{
    color:#1b4c7a;
  }
}

.horizontal-menu{
  margin-bottom:7px;
}
.horizontal-menu__list{
  margin:0;
}
.horizontal-menu__item{
  display:inline-block;
  height:20 xp;
  padding:3px 0 5px;

  .horizontal-menu__link{
    font-size:15px;
    line-height:20px;
    height:20px;
    vertical-align:middle;
    margin:0 9px;
  }
  &.active{
    .border-radius(3px); //(@radius: 5px)
    background-color:#394049;
    .horizontal-menu__link{
      text-decoration:none;
      border-bottom-color:transparent;
      cursor:default;
      color:#fff;
      position:relative;
      &::before{
        content:"";
        .arrow(bottom,6px,#394049);
        position:absolute;
        left:50%;
        bottom:-16px;
        margin-left:-5px;
      }

    }
    &:hover{
      .horizontal-menu__link{
        color:#fff;
      }
    }

  }
}
.horizontal-menu__item_more{
  @size:5px;
  .horizontal-menu__link{
    &::after{
      content:"";
      .arrow(bottom,@size,@linkColor);
      margin-left:3px;
      margin-top:4px !important;
    }
    &:hover{
      &::after{
        content:"";
        .arrow(bottom,@size,@linkColorHover);
      }
    }
  }
  &.active{
    .horizontal-menu__link{
      &::after{
        content:"";
        .arrow(bottom,@size,#fff);
      }
      &:hover{
        &::after{
          content:"";
          .arrow(bottom,@size,#fff);
        }
      }
    }
  }
}

#edit-client textarea {
  max-width: 290px;
  width: 265px;
}



