[class*="backend_icon_"],
.backend_sprate {
  background-image: url(../seller_control_panel/img/csg-4fb626d10bded.png);
  display: inline-block;
}
.backend_icon_clous {
  background-position: 0 -61px;
  width: 21px;
  height: 21px;
}
.icon-clous {
  background-position: 0 -61px;
  width: 21px;
  height: 21px;
  background-image: url(../seller_control_panel/img/csg-4fb626d10bded.png);
  display: inline-block;
}
.icon_clous,
.icon-clous {
  vertical-align: middle;
}
#informModal .alert.alert-info {
  color: #1b4c7a;
}
