.tour-box{

  background-image:url(../img/tour/tour-bg.png);
  .size(800px, 1000px); //(height, width)
  margin:0 auto 40px;
}
#tour{
  margin:0 62px;
  .carousel{

  }
  .tour_clous{
    background-image:url(../img/tour/images/tour_clous.png);
    .size(23px , 22px); //(height, width)
    position:absolute;
    top:140px;
    right:-10px;
    .opacity(60);
    .transition(opacity 100ms); // анимация
    &:hover{
      .opacity(100);
    }

  }
  .tour_left{
    background-color:transparent;
    border:transparent;
    background-image:url(../img/tour/images/tour_left.png);
    .size(49px , 55px); //(height, width)
  //    left: 40px;
    .transition(opacity 100ms); // анимация
    .opacity(60);
    &:hover{
      .opacity(100);
    }

  }
  .tour_right{
    background-color:transparent;
    border:transparent;
    background-image:url(../img/tour/images/tour_right.png);
    .size(47px , 58px); //(height, width)
    .opacity(60);
    .transition(opacity 100ms); // анимация
    &:hover{
      .opacity(100);
    }
    right:40px;

  }
}