

// фон шапки на гловно
// можно передовать любые значение валидные  background
@headerFonIndex:#964010;
@searchFonIndex:#220E00;

@greyCol:#efefef;
//наборы цветов для сайта
@colorSet1:#8F4105;
@colorSet2:#B1917A;
@colorSet3:#A04A10;
//@colorSet4:;
@buttonIndex1: #109693;
@buttonIndex2:#004948;

@buttonOher1:lighten(@buttonOher2, 15%);
@buttonOher2:#d16a1a;

// Links
// -------------------------
@linkColor:             #0A47A2;
@linkColorHover:        darken(@linkColor, 15%);
