// фон шапки на гловно
// можно передовать любые значение валидные  background

@headerFonIndex:#227590 no-repeat 50% 50%  url(../img/bg-defaut.png);
@searchFonIndex:#213449;

@greyCol:#efefef;
//наборы цветов для сайта
@colorSet1:#4a7f94;
@colorSet2:#7f97ac;
@colorSet3:#97b753;
//@colorSet4:;
@buttonIndex1:#ed782d;
@buttonIndex2:#d63714;

@buttonOher1:@buttonIndex1;
@buttonOher2:@buttonIndex2;

// Links
// -------------------------
@linkColor:             #218ab4;
@linkColorHover:        darken(@linkColor, 15%);