

// фон шапки на гловно
// можно передовать любые значение валидные  background
@headerFonIndex:#4e6290;
@searchFonIndex:#172D46;

@greyCol:#efefef;
//наборы цветов для сайта
@colorSet1:#4E6290;
@colorSet2:#6F94B6;
@colorSet3:#CC6A00;
//@colorSet4:;
@buttonIndex1:#FFBC45;
@buttonIndex2:#DF5F0A;

@buttonOher1:lighten(@buttonOher2, 15%);
@buttonOher2:#dd6d1a;

// Links
// -------------------------
@linkColor:             #218ab4;
@linkColorHover:        darken(@linkColor, 15%);