{% extends '__base_frontend.html' %}
{% block content %}
    <h1>Оформление заказа</h1>
    <div class="nav-basket">
        <ul>
            <li class="active">
                <div class="box">
                    <div class="box-number">
                        <span>1</span>
                    </div>
                    <span class="text">Список товаров </span>
                </div>
            </li>
            <li>
                <div class="box">
                    <div class="box-number">
                        <span>2</span>
                    </div>
                    <span class="text">Данные для заказа</span>
                </div>
            </li>
            <li>
                <div class="box">
                    <div class="box-number">
                        <span>3</span>
                    </div>
                    <span class="text">Проверка заказа</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="nav-basket__help nav-basket__help_a3">
        <div class="row-fluid">
            <div class="span1">
                <img src="/static/img/nav-basket__info.png" alt="">
            </div>
            <div class="span11">
                <strong>Благодарим за заказ!</strong> <br>
               <span class="size-12">
                    Наш оператор перезвонит вам в самое ближайшее время и уточнит все детали.
               </span>
            </div>

        </div>
    </div>
{% endblock %}