{% extends '__base_frontend.html' %}
{% block content %}
    <h1>Оформление заказа</h1>
    <div class="nav-basket">
        <ul>
            <li class="active">
                <div class="box">
                    <div class="box-number">
                        <span>1</span>
                    </div>
                    <span class="text">Список товаров </span>
                </div>
            </li>
            <li>
                <div class="box">
                    <div class="box-number">
                        <span>2</span>
                    </div>
                    <span class="text">Данные для заказа</span>
                </div>
            </li>
            <li>
                <div class="box">
                    <div class="box-number">
                        <span>3</span>
                    </div>
                    <span class="text">Проверка заказа</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="nav-basket__help">
        <div class="row-fluid">
            <div class="span1">
                <img src="/static/img/nav-basket__info.png" alt="">
            </div>
            <div class="span11">
                <strong>Вот такие товары вы выбрали.</strong> <br>
                Все на месте или нужно <a href="#" class="white">что-еще</a>?
            </div>

        </div>
    </div>
    <article>


    <table class="table_number  margin-0">
    <colgroup>
        <col width="125px">
        <col width="130px">
        <col width="60px">
        <col width="70px">
        <col width="50px">
        <col width="80px">
        <col width="80px">
        <col width="100px">
    </colgroup>
    <thead>

    <tr>
        <th><div class="gradtabl"></div><div class="gradtab ">Производитель</div></th>
        <th><div class="gradtab ">Информация</div></th>
        <th><div class="gradtab ">Наличие</div></th>
        <th><div class="gradtab ">Срок </div></th>
        <th><div class="gradtab ">Поставщик</div></th>
        <th><div class="gradtab ">Кол-во </div></th>
        <th class=" "><div class="gradtabr"></div><div class="gradtab a-center">Цена (за 1)</div></th>
        <th class=" "><div class="gradtab a-center">Стоимость</div></th>

    </tr>
    </thead>
    <tbody class="collapse  ">
    <tr  >
        <td>
            <div >
                <strong>30210Y066A</strong><br>
                <span>Nissan,</span><br>
                <span>Япония</span>
            </div>
        </td>
        <td>
            <div >
                <strong>Диск сцепления</strong><br>
                <span>COVER-CLUTCH</span><br>
                <span class="gray size-11">Вес: 4.389</span>
            </div>
        </td>
        <td class="flotBut "data-silector="allStatistic">
            <div class="flot f5" data-tooltip title="Процент вероятности наличия детали у поставщика"  >
                <span></span>
                <script type="text/javascript">

                    $(function () {
                        // data
                        var data1 = [
                            { label: "2",  data: 70},
                            { label: "1",  data: 80}

                        ];
                        // DEFAULT
                        $.plot($(".flot.f5"), data1,
                                {
                                    series: {
                                        pie: {
                                            show: true
                                        }
                                    }
                                });

                    });

                </script>
            </div>
            <strong>25%</strong>
        </td>
        <td><div ><strong>6</strong><span> (10)</span></div></td>
        <td>
            <div >
                Северная<br>
                Америка
            </div>
        </td>
        <td>
            <div  >
                <input min="0" class="w-50p spinner">
            </div>
        </td>

        <td><div class="a-center"><strong>4 345</strong> <span class="sprite tim_icom_rub v-middle"></span> </div></td>
        <td><div class="a-center"><strong>100 500</strong> <span class="sprite tim_icom_rub v-middle"></span> <a href="#" ><i class="tim_icom_clous-red sprite v-middle"></i></a></div></td>
    </tr>


    </tbody>


    </table>
    <table class="size-12 w-100 margin-top-20  margin-bottom-10 a-right">
        <colgroup>
            <col width="auto">
            <col width="100">
        </colgroup>
        <tr>
            <td ><strong>Итоговый расчет</strong></td>
            <td ><strong>4 345</strong> <span class="sprite tim_icom_rub v-middle"></span></td>
        </tr>
        <tr>
            <td ><strong>Необходимая предоплата (70%)</strong></td>
            <td ><strong>4 345</strong> <span class="sprite tim_icom_rub v-middle"></span></td>
        </tr>
        <tr>
            <td>
                <strong class="size-12 margin-bottom-10 di_in-block"> Я хочу внести больше предложенной суммы</strong>
            </td>
            <td colspan="1">
                <form class="form-inline">
                    <input type="text" class="w-40p">
                </form>
            </td>
        </tr>
    </table>
    <table class="size-12 w-100 margin-bottom-60 ">
        <tr>
            <td >
                <i class="tim_icom_clous-red sprite v-middle"></i>
                <a href="#" class="red">Очистить корзину</a>
                <i class="tim_icom_print-mask v-middle sprite margin-left-20"></i>
                <a href="#">Распечатать</a>
            </td>
            <td class="a-right"><a class="btn next-basket"><span class="btn-search_text">Продолжить оформление →</span></a></td>
        </tr>
    </table>
    </article>
{% endblock %}