{% extends '__base_frontend.html' %}
{% block content %}
        <h1>Оформление заказа</h1>
        <div class="nav-basket">
            <ul>
                <li class="active">
                    <div class="box">
                        <div class="box-number">
                            <span>1</span>
                        </div>
                        <span class="text">Список товаров </span>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="box-number">
                            <span>2</span>
                        </div>
                        <span class="text">Данные для заказа</span>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <div class="box-number">
                            <span>3</span>
                        </div>
                        <span class="text">Проверка заказа</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="nav-basket__help nav-basket__help_a2">
            <div class="row-fluid">
                <div class="span1">
                    <img src="/static/img/nav-basket__info.png" alt="">
                </div>
                <div class="span11">
                    <strong>Идём дальше!</strong> <br>
                    А теперь нужно немного информации по вашему заказу
                </div>

            </div>
        </div>
        <article>
            <h4>Контактные данные</h4>
            <div class="gray-blok padding-15 margin-bottom-20 di_in-block ">
                <span>Укажите ваш контактный телефон, чтобы продавец мог связаться с вами:</span>
                <form class="form-inline margin-top-10 margin-bottom-0">
                        <label class="control-label" for="">
                            Телефон:
                            <strong class=" margin-left-5 ">+7</strong>
                        </label>
                            <input type="text" class="span2 phone-mask" id="">
                                <p class="help-block margin-left-90 margin-top-5 margin-bottom-0">
                                    <a href="#" class="link_in ">Продолжить</a>
                                </p>
<br>
                    <p>На этот номер был выслан код подтверждения. Пожалуйста, введите его:</p>
                    <label class="control-label" for="">
                        Код из SMS:
                    </label>
                    <input type="text" class="span2" id="">
                    <p class="help-block margin-left-90 margin-top-5 margin-bottom-0">
                        <a href="#" class="link_in ">Подтвердить</a>
                    </p>

                </form>
            </div>
            <p>
                Здравствуйте, < имя пользователя >! Данные о заказе сохранятся в вашем личном кабинете
            </p>
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="">Представьтесь:</label>
                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="">E-mail:</label>
                    <div class="controls">
                        <input type="text" id="">
                    </div>
                </div>
            </form>
            <form class="row-fluid">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Метод доставки</h4>
                        <label class="radio grayLight size-16 margin-bottom-0">
                            <input type="radio" name="" value="" id="">
                            <strong>Самовывоз</strong>
                        </label>
                        <p class="size-11">Условия: Выпуск посвящен малому импорту товаров из за границы, а точнее — из Китая. Гость программы — Максим Калинин.</p>

                        <label class="radio grayLight size-16 margin-bottom-0">
                            <input type="radio" name="" value="" id="">
                            <strong>ТК</strong>
                        </label>
                        <p class="size-11">Условия: Выпуск посвящен малому импорту товаров из за границы, а точнее — из Китая. Гость программы — Максим Калинин.</p>

                        <label class="radio grayLight size-16 margin-bottom-0">
                            <input type="radio" name="" value="" id="">
                            <strong>Доставка курьером по Екатеринбургу</strong>
                        </label>
                        <p class="size-11">Условия: Выпуск посвящен малому импорту товаров из за границы, а точнее — из Китая. Гость программы — Максим Калинин.</p>
                    </div>
                    <div class="span6">
                        <h4>Куда доставить?</h4>
                        <textarea rows="5" class="inBorder-box w-100 delivery" placeholder="Адрес доставки"></textarea>
                        <label class="checkbox">
                            <input type="checkbox" value="" id="">
                            Запомнить адрес
                        </label>
                    </div>
                </div>
                <div class="">
                   <h4 class="margin-top-20">Как удобнее оплатить?</h4>
                    <label class="radio grayLight size-16 ">
                        <input type="radio" name="" value="" id="">
                        <strong>Счет на безналичную оплату</strong>
                    </label>
                    <label class="radio grayLight size-16 ">
                        <input type="radio" name="" value="" id="">
                        <strong>Робокасса (Visa, MasterCard, Yandex-деньги и т.д.)</strong>
                    </label>
                    <h4 class="margin-top-20">Что-то еще?</h4>
                    <textarea rows="5" class="inBorder-box w-100 margin-bottom-0" placeholder="Дополнительная информация к заказу"></textarea>
                </div>
            </form>
            <div class="a-right">
                <a class="btn next-basket"><span class="btn-search_text">Продолжить оформление →</span></a>
            </div>
        </article>
{% endblock %}