{% extends '__base_frontend.html' %}

{% block site_head %}
<header>
    <div class=" front_header    ">
        <div class="row">
            <div class="span5 a-center">
                <div class="di_in-block">
                    <div class="nav-defolt ">
                        <a href="#" class="sprite tim_icom_home"></a>
                        <a href="#" class="sprite tim_icom_meseg"></a>
                        <a href="#" class="sprite tim_icom_links"></a>
                    </div>
                    <div class="main-logo_box">
                        <a href="#" class="main-logo_link">
                            <img class="main-logo" src="/static/dil-my/tim-del_logobig.png">
                        <!-- <img class="main-logo" src="/static/seller_control_panel/img/test-logo-big.png"> -->
                        </a>
                    </div>
                </div>
            </div>
            <div class="span7">
                <div class="lk ">
                    <div class="lk_login white" style="display: none;">
                        <div class="lk_input-box di_in-block">
                            <i class="icon-user"></i>
                            <a href="#" class="link_in">
                                Войти
                            </a>
                        </div>
                        <div class="lk_register-box di_in-block">
                            <a href="#" class="">Зарегистрироваться</a>
                        </div>
                    </div>
                    <div class="lk_in white">
                        <div class="lk_data-box di_in-block">
                            <i class="icon-user"></i>
                            <strong class="">
                                Здравствуйте,
                                <a href="#">
                                    Сергей Иванович
                                </a>
                                .
                            </strong>
                            <br>
                            <a href="#" class="">
                                История заказов
                            </a>
                            <div class="lk_edit-box di_in-block right">
                                <i class="tim_icom_edit sprite"></i><a href="#" class="">Выход</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="  header_description">
                    <h3 class="header_description_heading">«Умный» поиск автозапчастей</h3>
                    <div class="header_description-box span5">

                        <p class="size-16">
                            Вы можете найти любую запчасть для автомобилей
                            <br><strong class="size-18">
                            Hammer, Bentley, Ferrari, Maserati, Lamborghini
                        </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <form class="form-search di_block search">
                    <div class="search-fon">

                    </div>
                    <div class="search-box">
                        <div class="search-form-box">
                            <input type="text" class="search-query" placeholder="Поиск по номеру детали или VIN автомобиля">
                            <i class="icon-ajax">
                                <img src="/static/img/ajax-loader.gif" class="icon-ajax_img" alt="Идет загрузка...">
                            </i>
                            <button class="btn btn-search" type="submit"><span class="btn-search_text">Искать</span></button>
                        </div>
                        <div class="search-help-box">
                            <div class="search-help_text">
                                Примеры запросов:
                            </div>
                            <div id="carousel_container">
                                <div id="left_scroll" class="tim_icom_arow-left-blue sprite"></div>
                                <div id="carousel_inner">
                                    <ul id="carousel_ul">
                                        <li>
                                            <a href="#" class="link_in di_in-block">
                                                SJNBAAN16UO411167
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link_in di_in-block">
                                                15208-9F600
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link_in di_in-block">
                                                WAUHE5438LN600047
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link_in di_in-block">
                                                MR 552951
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link_in di_in-block">
                                                SJNBAAN16UO411167
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link_in di_in-block">
                                                15208-9F600
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link_in di_in-block">
                                                WAUHE5438LN600047
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link_in di_in-block">
                                                MR 552951
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link_in di_in-block">
                                                SJNBAAN16UO411167
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="link_in di_in-block">
                                                15208-9F600
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="right_scroll" class="tim_icom_arow-right-blue sprite"></div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</header>
{% endblock %}
{% block is_index %}index-{% endblock %}
{% block content %}
<article>
    <h1>
        Искать запчасти - просто!
    </h1>
    <p>
        Мы занимаемся поставкой запчастей для японских автомобилей уже 13 лет и гарантируем, что с нами вы всегда сможете найти нужную вам деталь и, будьте уверены, мы вам ее привезен в кратчайшие сроки и в лучшем качестве! Мы работаем только с проверенными поставщики и по отлаженному бизнес-процессу.
    </p>
    <div class="row-fluid elementGroupIndex">
        <div class="span4">
            <img src="/static/dil-my/tim-del_11.png">
            <a href="#">Запчасти оптом? Не вопрос!</a>
            <p class="gray size-12">
                Скидки 15-30% на оптовые партии запчастей. Консультация по подбору запчастей - бесплатно
            </p>
        </div>
        <div class="span4">
            <img src="/static/dil-my/tim-del_13.png">
            <a href="#">Скидки на запчасти Nissan</a>
            <p class="gray size-12">
                При заказе деталей на Nissan 2002-2008 года выпуска до 10 декабря - скидка 15%!
            </p>
        </div>
        <div class="span4">
            <img src="/static/dil-my/tim-del_15.png">
            <a href="#">Нужна консультация?</a>
            <p class="gray size-12">
                Наши специалисты всегда помогут вам в подборе запчастей, особенно если вы - очаровательная брюнетка :)
            </p>
        </div>
    </div>
</article>
<article>
    <div class="new-bar-index">
        <h2>
            Новости компании
        </h2>
        <div class="row  new-bar-index_cont">
            <div class="span1 new-bar-index_data">
                24 декабря
            </div>
            <div class="span8 new-bar-index_text">
                <a href="#">Требуется авто-механик.</a>Ищем талантливого специалиста, любящего свою работу и непьющего.
            </div>
        </div>
        <div class="row  new-bar-index_cont">
            <div class="span1 new-bar-index_data">
                24 декабря
            </div>
            <div class="span8 new-bar-index_text">
                <a href="#">Открылся новый автосервис.</a>Мы рады вас видеть теперь и по адресу Блюхера, 88.
            </div>
        </div>
        <div class="row  new-bar-index_cont">
            <div class="span1 new-bar-index_data">
                24 декабря
            </div>
            <div class="span8 new-bar-index_text">
                <a href="#">Запчасти еще дешевле.</a>Скидки на запчасти Nissan до 20 января 2013 года - до 20%
            </div>
        </div>
        <div class="row  new-bar-index_cont">
            <div class="span1 new-bar-index_data">
                24 декабря
            </div>
            <div class="span8 new-bar-index_text">
                <a href="#">Теперь работаем и с Toyota!</a>С 1 декабря мы начали работу с каталогами Toyota.
            </div>
        </div>
    </div>
</article>
{% endblock %}
