{% extends '__base_lk.html' %}

{% block lk_content %}
<article class="account">
    <h2>Состояние счета</h2>
    <div class="row">
        <div class="span4 nav-basket balance-refill-basket">
            <div class="pull-left">
                <span class="small">На вашем счете</span>
                <p><strong>456 562.00 руб.</strong></p>
            </div>
            <button class="btn finihs-basket">Пополнить баланс</button>
        </div>
        <div class="span4 orders-info">
            <img alt="" src="/static/img/nav-basket__info_blue.png">
            <div>
                <p><strong>У вас есть заказы в работе</strong></p>
                <p><small>Ожидаемая сумма к оплате: <strong>23 800 р.</strong></small></p>
            </div>
        </div>
    </div>
    <table class="ordersHistory account-history">
        <colgroup>
            <col width="20%">
            <col width="15%">
            <col width="50%">
            <col width="15%">
        </colgroup>
        <tr>
            <th>Дата</th>
            <th>Сумма</th>
            <th>Описание</th>
            <th class="a-center">Статус</th>
        </tr>
        <tr class="informationMini ">
            <td><time>20 декабря 2012, в 18:05</time></td>
            <td><strong class="gray">- 3 200 р.</strong></td>
            <td>
                <span class="small">Предоплата по <a href="#">заказу №6789</a></span>
            </td>
            <td>
                <div  class="informationMini-box">
                    <a href="#" data-original-title="Ожидает оплаты" data-placement="top" rel="tooltip">
                        <img src="/static/img/status-red.png" alt="">
                    </a>
                    <a href="#">Оплатить</a>
                </div>
            </td>
        </tr>
        <tr class="informationMini ">
            <td><time>20 декабря 2012, в 18:05</time></td>
            <td><strong class="gray">+ 2 700 р.</strong></td>
            <td>
                <span class="small">Внесение средств на счет</span>
            </td>
            <td>
                <div  class="informationMini-box">
                    <a href="#" data-original-title="Ожидается зачисление платежа" data-placement="top" rel="tooltip">
                        <img src="/static/img/status-gray.png" alt="">
                    </a>
                </div>
            </td>
        </tr>
        <tr class="informationMini ">
            <td><time>20 декабря 2012, в 18:05</time></td>
            <td><strong class="green">+ 1 500 р.</strong></td>
            <td>
                <span class="small">Возврат предоплаты по <a href="#">заказу №6780 </a>(деталь: &#60;наименование&#62;)</span>
            </td>
            <td>
                <div  class="informationMini-box">
                    <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                        <img src="/static/img/status-green.png" alt="">
                    </a>
                </div>
            </td>
        </tr>
        <tr class="informationMini ">
            <td><time>20 декабря 2012, в 18:05</time></td>
            <td><strong class="red">- 1 500 р.</strong></td>
            <td>
                <span class="small">Оплата <a href="#">заказа №6780 </a></span>
            </td>
            <td>
                <div  class="informationMini-box">
                    <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                        <img src="/static/img/status-green.png" alt="">
                    </a>
                </div>
            </td>
        </tr>
        <tr class="informationMini ">
            <td><time>20 декабря 2012, в 18:05</time></td>
            <td><strong class="green">+ 7 000 р.</strong></td>
            <td>
                <span class="small">Пополнение баланса (<a href="#">Посмотреть счет</a>)</span>
            </td>
            <td>
                <div  class="informationMini-box">
                    <a href="#" data-original-title="Оплата прошла успешно" data-placement="top" rel="tooltip">
                        <img src="/static/img/status-green.png" alt="">
                    </a>
                </div>
            </td>
        </tr>

    </table>

    <div class="row">
        <div class="span4">
            <div class="alert alert-info margin-bottom-30">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Пусто. Пока вы не совершали у нас покупок и не вносили средства на свой счет.
            </div>
        </div>
    </div>

    <div class="paging">
        <div class="paging-links">
            <a>←</a> <a href="#" class="prev">Предыдущая</a> <a href="#">Следующая</a> <a href="#">→</a>
        </div>
        <ul>
            <li class="active">
                <a>1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">Последняя ></a>
            </li>
        </ul>
    </div>

</article>
{% endblock %}