{% extends '__base_frontend.html' %}
{% block content %}
<div class="breadCrumbs">
    <div class="you-looking"><span class="you-looking_text">Вы ищите:</span></div>
    <div class="breadCrumbs-box">
        <a href="#">Ford</a> <a href="#">Shelby Mustang</a> <a href="#">2009</a> года, модификация <a href="#">GT</a>, двигатель <a href="#">2.0</a>
    </div>
</div>
<article>
    <h1>Результаты поиска цен и заменителей</h1>
    <div id="search_number"  >
        <form class=" form-search form-filtr">

            <ul class="a-justify margin-0">
                <li class="inline">
                    <label class="checkbox size-11 margin-right-10">
                        <input type="checkbox" checked="checked" id="optionsCheckbox" value="option2">
                        Искать замену
                    </label>
                </li>
                <li class="inline">
                    <label class="checkbox size-11 margin-right-10">
                        <input type="checkbox" id="otherManufacturerselect" value="1">
                        Показать других производителей
                    </label>
                </li>
            </ul>
        </form>

    </div>
    <div id="broad_search" class="popup-onhover">
        <div class="icon_arow_big"><img src="/static/img/icon_arow_big.png" class="di_in-block" ></div>
        <form>
            <div class="row-fluid">
                <div class="span6 padding-top-10">
                    <h5 class="gray">По номеру автозапчасти</h5>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="" value="option1" checked="">
                        Все
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="" value="option1">
                        До 3-х дней
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="" value="option1" >
                        До 15-и дней
                    </label>
                </div>
                <div class="span6 margin-0 padding-top-10"><div class="margin-left-20">
                    <h5 class="gray">По номеру автозапчасти</h5>
                    <label class="radio">
                        <input type="radio" name="optionsRadios2" id="" value="option1" checked="">
                        Быстро
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios2" id="" value="option1" >
                        Дешево
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios2" id="" value="option1" >
                        В наличии
                    </label>
                    <button class="btn  right margin-bottom-10">
                        Искать
                    </button></div>

                </div>
                <div class="clear_bo"></div>
            </div>
        </form>
    </div>
    <div id="table_number" class="search-results-table">
    <div class="row-fluid">
        <div class="span9">
        <table class="table_number ">
        <colgroup>
            <col width="90px">
            <col width="95px">
            <col width="60px">
            <col width="40px">
            <col width="50px">
            <col width="160px">
        </colgroup>
        <thead>

        <tr>
            <th><div class="gradtabl"></div><div class="gradtab">Производитель<i class="arrow-thead"></i></div></th>
            <th><div class="gradtab ">Информация<i class="arrow-thead"></i></div></th>
            <th><div class="gradtab">Наличие<i class="arrow-thead"></i></div></th>
            <th><div class="gradtab">Цена в руб.</div></th>
            <th><div class="gradtab activeUP">Срок <i class="arrow-thead"></i></div></th>
            <th><div class="gradtabr"></div><div class="gradtab">Поставщик<i class="arrow-thead"></i></div></th>

        </tr>
        </thead>
        <tbody>
        <tr >
            <td colspan="6">
                <h4 class="resultat" data-toggle="collapse" data-target=".demo1">
                    <div  class="btn" data-toggle="button">
                        <div class="icon_minus"></div>Искомый номер:
                    </div>
                </h4>
            </td>
        </tr>
        </tbody>
        <tbody class="collapse  demo1">
        <tr  >
            <td>
                <div >
                    <strong>30210Y066A</strong><br>
                    <span>Nissan,</span><br>
                    <span>Япония</span>
                </div>
            </td>
            <td>
                <div >
                    <strong>Диск сцепления</strong><br>
                    <span>COVER-CLUTCH</span><br>
                    <span class="gray size-11">Вес: 4.389</span>
                </div>
            </td>
            <td>
                <strong>1000 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr  >
            <td><div></div> </td>
            <td><div></div> </td>
            <td>
                <strong>1000 шт</strong></td>
            <td><div class="ta-center" ><strong>100 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr  >
            <td><div ></div> </td>
            <td><div > </div> </td>
            <td>
                <strong>25 шт</strong></td>
            <td><div class="ta-center" ><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr  >
            <td><div ></div> </td>
            <td><div > </div> </td>
            <td>
                <strong>25 шт</strong></td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr  >
            <td><div ></div> </td>
            <td><div > </div> </td>
            <td>
                <strong>25 шт</strong></td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr  >
            <td><div ></div> </td>
            <td><div > </div> </td>
            <td>
                <strong>25 шт</strong></td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr  >
            <td><div ></div> </td>
            <td><div > </div> </td>
            <td>
                <strong>25 шт</strong></td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>

        </tbody>

        <tbody>
        <tr >
            <td colspan="6">
                <h4 class="resultat " data-toggle="collapse" data-target=".demo2">
                    <div class="btn"  data-toggle="button">
                        <div class="icon_minus"></div>Замены:
                    </div>
                </h4>
            </td>
        </tr>
        </tbody>
        <tbody class="collapse demo2">
        <tr>
            <td>
                <div >
                    <strong>30210Y066A</strong><br>
                    <span>Nissan,</span><br>
                    <span>Япония</span><BR>
                    <div class="icon_renew v-middle" rel="tooltip" title="Замена"><span></span></div><strong class="gray size-11">30210Y066A</strong><br>

                </div>
            </td>
            <td>
                <div >
                    <strong>Диск сцепления</strong><br>
                    <span>COVER-CLUTCH</span><br>
                    <span class="gray size-11">Вес: 4.389</span>
                </div>
            </td>
            <td>
                <strong>25 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr>
            <td>
                <div >
                </div>
            </td>
            <td>
                <div >
                </div>
            </td>
            <td>
                <strong>25 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr>
            <td>
                <div >
                </div>
            </td>
            <td>
                <div >
                </div>
            </td>
            <td>
                <strong>25 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr>
            <td>
                <div >
                </div>
            </td>
            <td>
                <div >
                </div>
            </td>
            <td>
                <strong>25 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>

        <tr>
            <td>
                <div >
                    <strong>30210Y066A</strong><br>
                    <span>Nissan,</span><br>
                    <span>Япония</span><BR>
                    <div class="icon_renew v-middle" rel="tooltip" title="Замена"><span></span></div><strong class="gray size-11">30210Y066A</strong><br>

                </div>
            </td>
            <td>
                <div >
                    <strong>Диск сцепления</strong><br>
                    <span>COVER-CLUTCH</span><br>
                    <span class="gray size-11">Вес: 4.389</span>
                </div>
            </td>
            <td>
                <strong>25 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr>
            <td>
                <div >
                </div>
            </td>
            <td>
                <div >
                </div>
            </td>
            <td>
                <strong>25 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr>
            <td>
                <div >
                </div>
            </td>
            <td>
                <div >
                </div>
            </td>
            <td>
                <strong>25 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr>
            <td>
                <div >
                </div>
            </td>
            <td>
                <div >
                </div>
            </td>
            <td>
                <strong>25 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>

        <tr>
            <td>
                <div >
                    <strong>30210Y066A</strong><br>
                    <span>Nissan,</span><br>
                    <span>Япония</span><BR>
                    <div class="icon_renew v-middle" rel="tooltip" title="Замена"><span></span></div><strong class="gray size-11">30210Y066A</strong><br>

                </div>
            </td>
            <td>
                <div >
                    <strong>Диск сцепления</strong><br>
                    <span>COVER-CLUTCH</span><br>
                    <span class="gray size-11">Вес: 4.389</span>
                </div>
            </td>
            <td>
                <strong>25 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr>
            <td>
                <div >
                </div>
            </td>
            <td>
                <div >
                </div>
            </td>
            <td>
                <strong>25 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr>
            <td>
                <div >
                </div>
            </td>
            <td>
                <div >
                </div>
            </td>
            <td>
                <strong>25 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        <tr>
            <td>
                <div >
                </div>
            </td>
            <td>
                <div >
                </div>
            </td>
            <td>
                <strong>25 шт</strong>
            </td>
            <td><div class="ta-center"><strong>4 345</strong><span>,33</span></div></td>
            <td><div ><strong>6</strong><span> (10)</span></div></td>
            <td>
                <div class="right">
                     <a class="buttonBuy" data-toggle="modal" href="#buyModal">
                         <i class="tim_icom_basket-mask sprite"></i>
                         <span class="buttonBuy_text">
                             Купить
                         </span>
                         <i class="arrow_right"></i>
                         <div class="buttonBuy_fon"></div>
                     </a>
                </div>
                <div >Северная<br>
                    Америка</div></td>
        </tr>
        </tbody>
        </table>
        <button type="button" class="btn btn-large btn-primary btn-warning btn_all">Показать остальные</button>
        </div>
        <div class="span3">
            <div class="well size-13 contacts-bar padding-left-5 padding-right-5">
                <div id="search-filter">
                    <div class="filter-result-informer" style="display: none;">
                        Выбрано запчастей: <strong>534</strong>. <a href="#" class="">Показать</a>
                        <div class=""></div>
                    </div>
                    <strong>Фирма</strong>
                    <ul class="no-bullet margin-left-0 margin-bottom-10 lh-large">
                        <li><a href="#" class="link_in grayLight size-10">Выбрать все</a></li>
                        <li><input type="checkbox"> <a href="#" class="link_in">Denso</a> <strong class="margin-left-5 size-11">(122 400 - 244 500 р.)</strong></li>
                        <li><input type="checkbox"> <a href="#" class="link_in">Nissan</a> <strong class="margin-left-5 size-11">(1342 - 2950 р.)</strong></li>
                        <li><input type="checkbox"> <a href="#" class="link_in">Toyota</a> <strong class="margin-left-5 size-11">(940 - 990 р.)</strong></li>
                        <li class="margin-bottom-10"></li>
                        <li><strong>Критерии поиска</strong></li>
                        <li><input type="checkbox"> <a href="#" class="link_in">В наличии</a> </li>
                        <li><input type="checkbox"> <a href="#" class="link_in">Быстро</a> </li>
                        <li><input type="checkbox"> <a href="#" class="link_in">Дешево</a> </li>
                    </ul>
                </div>

                <script type="text/javascript">
                    $(document).ready(function(){
                        hider = null;

                        var showInformer = function(obj) {
                            clearTimeout(hider);

                            $('.filter-result-informer').css({
                                'left': (
                                        -$('.filter-result-informer').width() - 40
                                        ),
                                'top': $(this).position().top -6
                            }).show();
                            hider = setTimeout('$(".filter-result-informer").fadeOut(100)', 2000);
                        }
                        $('#search-filter input[type="checkbox"]').change(showInformer);
                        $('#search-filter input[type="radio"]').change(showInformer);
                        $('#search-filter a').click(showInformer);
                    })
                </script>

            </div>
        </div>
    </div>
</article>
{% endblock %}