html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
* html img.png{background-image:none !important}
body{position:relative}
.img-repl{text-indent:-9999px; overflow:hidden; display:block}
*:focus{outline:none}
.hidden{display:none !important}
.show{display:block !important}
.no-margin{margin:0px !important}
.no-padding{padding:0px !important}
.no-back{background:none !important}
.no-border {border:none !important}
.no-bullet {list-style: none}
img{border:none}
.container{overflow:hidden}
.a-left{text-align:left}
.a-center{text-align:center}
.a-right{text-align:right}
.left{float:left;}
.right{float:right;}
.clear{clear:both; font-size: 1px; line-height: 1px;}
table{border-collapse:collapse; border-spacing:0px; width:100%}
table th, table td{text-align:left; vertical-align: top;}
.columns{width:100%; overflow:hidden; text-align:justify}
.w-50, .w-25, .w-33, .w-38, .w-66, .w-75, .w-62{float:left; overflow:hidden}
.w-5{width:5%}
.w-10{width:10%}
.w-15{width:15%}
.w-20{width:20%}
.w-25{width:25%}
.w-30{width:30%}
.w-35{width:35%}
.w-40{width:40%}
.w-45{width:45%}
.w-50{width:50%}
.w-55{width:55%}
.w-60{width:60%}
.w-65{width:65%}
.w-70{width:70%}
.w-75{width:75%}
.w-80{width:80%}
.w-85{width:85%}
.w-90{width:90%}
.w-95{width:95%}
.w-100{width:100%}
.w-33{width:33%}
.w-66{width:66%}
.w-38{width:38%}
.w-62{width:62%}


.padding-5 {padding: 5px;}
.padding-10 {padding: 10px;}
.padding-20 {padding: 20px;}
.padding-30 {padding: 30px;}
.padding-40 {padding: 40px;}
.padding-50 {padding: 50px;}
.padding-60 {padding: 60px;}
.padding-70 {padding: 70px;}
.padding-80 {padding: 80px;}

.padding-left-10 {padding-left: 10px;}
.padding-left-20 {padding-left: 20px;}
.padding-left-30 {padding-left: 30px;}
.padding-left-40 {padding-left: 40px;}
.padding-left-50 {padding-left: 50px;}
.padding-left-60 {padding-left: 60px;}
.padding-left-70 {padding-left: 70px;}
.padding-left-80 {padding-left: 80px;}

.padding-right-10 {padding-right: 10px;}
.padding-right-20 {padding-right: 20px;}
.padding-right-30 {padding-right: 30px;}
.padding-right-40 {padding-right: 40px;}
.padding-right-50 {padding-right: 50px;}
.padding-right-60 {padding-right: 60px;}
.padding-right-70 {padding-right: 70px;}
.padding-right-80 {padding-right: 80px;}


.margin-10 {margin: 10px;}
.margin-20 {margin: 20px;}
.margin-30 {margin: 30px;}
.margin-40 {margin: 40px;}
.margin-50 {margin: 50px;}
.margin-60 {margin: 60px;}
.margin-70 {margin: 70px;}
.margin-80 {margin: 80px;}

.margin-left-10 {margin-left: 10px;}
.margin-left-20 {margin-left: 20px;}
.margin-left-30 {margin-left: 30px;}
.margin-left-40 {margin-left: 40px;}
.margin-left-50 {margin-left: 50px;}
.margin-left-60 {margin-left: 60px;}
.margin-left-70 {margin-left: 70px;}
.margin-left-80 {margin-left: 80px;}

.margin-right-10 {margin-right: 10px;}
.margin-right-20 {margin-right: 20px;}
.margin-right-30 {margin-right: 30px;}
.margin-right-40 {margin-right: 40px;}
.margin-right-50 {margin-right: 50px;}
.margin-right-60 {margin-right: 60px;}
.margin-right-70 {margin-right: 70px;}
.margin-right-80 {margin-right: 80px;}




img.f-left{margin-right:1em}
img.f-right{margin-left:1em}
.content img.null-image{padding:0!important; border:none!important; margin:0!important}
.content form{padding:.5em 0px}
.content fieldset{margin-bottom:1em; border:none}
.content legend{margin-top:-1px; padding-bottom:1em; font-size:1.1em; font-weight:bold}
/* input{vertical-align:middle} */

.gray-bg { background: #efefef; }
.gray { color: #999; }
.small { font-size: .8em !important; }
.very-small { font-size: .7em !important; }
.big-font { font-size: 18px; }
.very-big-font { font-size: 24px; }
.italic { font-style: italic; }
.gap-10 { height: 10px; margin: 0; padding: 0; }
.gap-20 { height: 20px; margin: 0; padding: 0; }
.gap-30 { height: 30px; margin: 0; padding: 0; }
.gap-40 { height: 40px; margin: 0; padding: 0; }
.hr { border-bottom: 1px solid #ddd; height: 1px; line-height: 1px; margin: 0; padding: 0; }
.comlited-project { display: none; }

.dashed { text-decoration: none; border-bottom: 1px dashed; }
.dashed:hover { border: none; }
