/*-----------------------------------------------------------------------------
Screen Stylesheet

Version:   2.1
Author:    meded90
E-mail:    meded90@gmail.com
Website:   http://www.signception.ru/
Skype:     meded90
-----------------------------------------------------------------------------*/

.container{

}
.header .search .search-box .search-form-box .btn-search{

    width: 70px!important;
}
.header .search .search-box .search-form-box .search-query{
    width: 700px!important;
}
.header .search .search-box .search-help-box #carousel_container{
    overflow: hidden;
}
.header .search .search-box .search-help-box #carousel_container #carousel_inner{
    overflow: hidden;
}
.breadCrumbs{
    background-color: #efefef;
}
.breadCrumbs .breadCrumbs-box{
    margin-left: 0px;
    padding-left: 100px;
}
.menu-footer{
    background: #EFEFEF;
}

.help-block{
    margin: 0;
}
.span6.gray-blok{
    width: 46.93%;
}

.span6.gray-blok .right.margin-left-10 {display: none;}
.imgLinkInem_text {text-align: center;}
#buyModal.modal .buyModal_left .tim_icom_clous-grey {
    vertical-align: middle;
    margin: 0 0 0 7px;
}