/*-----------------------------------------------------------------------------
Screen Stylesheet

Version:   2.1
Author:    meded90
E-mail:    meded90@gmail.com
Website:   http://www.signception.ru/
Skype:     meded90
-----------------------------------------------------------------------------*/
.nav-basket ul li .box .box-number {
  margin-left: 3px;
  margin-right:3px;
  margin-top: -6px;
}

.finance .search-form-box .search-query {
	width: 89%;
}

.finance .search-form-box .btn {
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
    width: 9%;
}



.finance .data-selekt__item.span1 {
    width: 80px;
}

.top-sub-menu_level-three {
    zoom:1;
    position: relative;
    margin-bottom: 0;
}

.modal{position:absolute;
  margin-bottom:30px;
  background-color:#f8f8f8;
  background-image:-moz-linear-gradient(top,#fff,#ededed);
  background-image:-ms-linear-gradient(top,#fff,#ededed);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#ededed));
  background-image:-webkit-linear-gradient(top,#fff,#ededed);
  background-image:-o-linear-gradient(top,#fff,#ededed);
  background-image:linear-gradient(top,#fff,#ededed);
  background-repeat:repeat-x;
  top:20%;left:50%;z-index:1050;overflow:auto;width:560px;margin:0 0 0 -280px;border:1px solid #999;border:1px solid rgba(0,0,0,0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box}