html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 980px;
    margin: 0 auto;
}
body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
ul { line-height: 1.2em; padding: 2px 5px 2px 30px; }
li { padding: 1px 1px; }

#sm-head {
    height: 90px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px;
}
#sm-head h1 {
    font-size: 42px;
    font-weight: bold;
    float: left;
    margin: 20px 0 0 0px;
}
#sm-head .menu {
    float: right;
    margin: 62px 0 0 -275px;
}
#sm-head .menu ul {
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#sm-head .menu li  {
    margin: 0 1px 0; padding: 0 20px 0 20px;
    float: left;
    line-height: 28px;
    background: #efefef;
}
#sm-head .menu li.active {
    border-bottom: 4px solid #ccc;
}
#sm-bottom {
    height: 40px;
    width: 100%;
    bottom: 0;
}
#sm-bottom .copyright {
    font: 12px/40px arial, sans-serif;
    color: #555555;
}
#sm-container {
    padding-bottom: 30px;
}
#sm-container h1 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    color: #555;
}
#sm-container h2 {
    font-size: 26px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
#sm-container h3, .h3 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}
#sm-container h4, #sm-container h5, #sm-container h6 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
#sm-container p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form {
    background: #efefef;
    padding: 20px;
}
    .form table {}
        .form table th {
            font-weight: normal;
            text-align: right;
            vertical-align: top;
            padding: 3px;
            font-size: 12px;
            width: 30%;
        }
            .form table th label {}

        .form table td {
            text-align: left;
            padding: 3px;
        }
            .form table td  {}
                .form table td ul {
                    list-style: none;
                }
                ul.errorlist {
                    list-style: none;
                    color: #f00;
                    font-size: 11px;
                    margin: 0; padding: 0;
                }
                    ul.errorlist li {
                        margin: 0; padding: 0;
                    }
            .form table tr.submit td {

            }
                .form table tr.submit input {
                    padding: 2px 15px 2px 15px;
                }
table.colored {}
    table.colored tr {}
        table.colored th {
            font-size: 11px;
            color: #bbb;
            padding: 20px 0 10px 5px;
            font-weight: normal;
            border-bottom: 1px solid #efefef;
        }
        table.colored td {
            padding: 5px 0 5px 5px;
            border-bottom: 1px solid #efefef;
            vertical-align: middle;
        }
        table.colored tr:hover td {
            background: #fffcc4;
        }
		tr.complited td,
		tr.closed td {
			opacity: .5;
			-moz-opacity: .5;
			-webkit-opacity: .5;
		}

.paginator {
    margin: 20px 0 20px 0;
}
    .paginator ul {
        list-style: none;
        margin: 0; padding: 0;
    }
        .paginator ul li {
            float: left;
            margin-right: 4px;
        }
            .paginator ul li a,
            .paginator ul li span {
                display: inline-block;
                height: 25px; min-width: 25px;
                line-height: 25px;
                text-align: center;
                border: 1px solid #eee;
                text-decoration: none;
            }
            .paginator ul li span {
                background: #eee;
                color: #666;
            }
            .paginator ul li a:hover {
                background: #0078ff;
                color: #fff;
            }


a {
    color: #0078ff;
}
a:hover {
    text-decoration: none;
}

.clear {
    clear:both;
}
.left {
    float: left;
}
.right {
    float: right;
}
.center {
    text-align:center;
}
#find-input {
    width: 300px;
}
#search-result {
    margin-top: 15px;
}
.loading {
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    height: 32px;
    background-position: center;
}
.link {
    cursor: pointer;
}

.variants p {
    margin: 10px;
}

.variants h3 {
    margin-left: 10px;
    margin-top: 20px;
}

.variants-out {
    margin-right: 20px;
}

.units { float: left; }
.unit-groups { float: right; margin: 15px;}
.unit-groups a { color: #05006a; }
.unit-groups li { margin: 5px; }

#content { float: left; width: 500px; overflow: hidden; }
#sm-menu { float: left; display: block;  }
#sm-menu ul { list-style: none; }
#sm-menu ul li { padding-bottom: 6px; padding-top: 6px; font-size: 120%; border-top: 1px dotted #bbb; padding-left: 5px; padding-right: 5px; }
#sm-menu ul li:first-child { border-top: none; }
#sm-menu ul li a { color: #05006a; }
#sm-menu ul li.selected { background-color: #d4e3ff; }

.menu-block { padding-top: 15px; padding-bottom: 15px; border-bottom: solid #9bbeff 1px;}

#samples { margin-top: 10px; color: #bbb; font-size: 80%; }
#samples a { color: #b7d0ff; text-decoration: none; border-bottom: #b7d0ff 1px dotted; }

.units-tree { border: silver solid 1px; float: left; font-size: 80%; width: 320px }
.details { width: 620px; float: right; }

.autocomplete-w1 { background:url(../img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

.insensible { color: #ccc; }

#filter_list {text-align:center;}
.attributes_filter_wrapper{ min-width: 200px; display:  inline-block;vertical-align: top; margin: 0 5px 10px 0;}
	.attributes_filter {vertical-align: top; margin: 0 5px 0 3px;}
		.attributes_filter th {border: #dddddd solid 1px; background: #dddddd; text-align: center; width: 100%; padding: 5px; white-space:nowrap;}
		.attributes_filter td {border: #dddddd solid 1px; text-align: center; padding: 5px; text-align: center; white-space:nowrap;}

.pagination{width: 100%; text-align: right;}
    .pagination a{display: inline-block; margin: 0px 5px; padding: 5px; min-width: 16px; vertical-align: middle; color: #eeeeee; text-align: center; background: #aaaaaa;}
    .pagination .current{display: inline-block; margin: 0px 5px; padding: 5px; min-width: 16px; vertical-align: middle; text-align: center; background: #eeeeee; font-weight: bold;}

.details_translation_box{margin: 10px 0px; padding:10px 0px;}
	.detail_translation_block{min-height: 100px; margin: 10px 0px; border: #aaa solid 1px; padding:10px;}
	.detail_translation_header div{display: inline-block; font-size: 16px;}
		.detail_oem{font-style: italic;}
		.detail_original_name{font-weight: bold;}
	.detail_translations_list_box{margin-top: 10px;}
	.detail_final_translation_box{margin-top: 10px;}
	.detail_final_translation_field{height: 30px; font-size: 20px;}
	.detail_translation_block:nth-child(odd){background: #ddd;}
    
.success
{
    color: #004400;
    font-weight: bold;
}

.error
{
    color: #990000;
    font-weight: bold;
}