[class^="chance-icon-"],
[class*=" chance-icon-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: text-top;
  background-image: url("@{iconChanceSpritePath}");
  background-position: 20px 20px;
  background-repeat: no-repeat;

  .ie7-restore-right-whitespace();
}

.genBG(@offset)
{
    background-position: @offset 0px;

    &:hover
    {
        background-position: @offset -20px;
    }
}

.chance-icon-0    { .genBG(0px); }
.chance-icon-5    { .genBG(-20px); }
.chance-icon-10   { .genBG(-40px); }
.chance-icon-15   { .genBG(-60px); }
.chance-icon-20   { .genBG(-80px); }
.chance-icon-25   { .genBG(-100px); }
.chance-icon-30   { .genBG(-120px); }
.chance-icon-35   { .genBG(-140px); }
.chance-icon-40   { .genBG(-160px); }
.chance-icon-45   { .genBG(-180px); }
.chance-icon-50   { .genBG(-200px); }
.chance-icon-55   { .genBG(-220px); }
.chance-icon-60   { .genBG(-240px); }
.chance-icon-65   { .genBG(-260px); }
.chance-icon-70   { .genBG(-280px); }
.chance-icon-75   { .genBG(-300px); }
.chance-icon-80   { .genBG(-320px); }
.chance-icon-85   { .genBG(-340px); }
.chance-icon-90   { .genBG(-360px); }
.chance-icon-95   { .genBG(-380px); }
.chance-icon-100 { .genBG(-400px); }