.header{
  max-height:191px;
}
.top-ponel{
  background-color:#373737;
  height:30px;
  border-bottom:1px solid #000;
}
.top-ponel__out{
  display:inline-block;
  .ie7-inline-block();
  text-decoration:none;
  margin-top:4px;
  float:right;
  @color:#b33919;
  background-color:@color;
  color:#fff;
  vertical-align:middle;
  padding:0 14px;
  .border-radius(11px); //(@radius: 5px)
  .transition(background-color 100ms);

  .top-ponel__out-text{
    text-decoration:underline;
    font-size:12;
    line-height:22px;

  }
  &:hover{
    background-color:@color - #111;
    color:#fff;
    .top-ponel__out-text{
      text-decoration:none;
    }
  }
}
.top-ponel__question-green{
  float:right;
  padding-top:5px;
  white-space:nowrap;
}
.top-ponel__spliter{
  width:0;
  height:30px;
  border-right:1px solid #000000;
  border-left:1px solid #fff;
  .opacity(30); //(1 — 100)
  margin:0 20px;
}
.top-ponel__notice{
  float:left;
  > a{
    vertical-align:middle;
    margin-top:3px;
    padding:2px 7px 4px;
    display:inline-block;
    .border-radius(3px);
    .ie7-inline-block();
    color:#fff;
    text-decoration:none;
    img{
      vertical-align:middle;
    }
    span{
      vertical-align:middle;
    }
    &:hover{
      background-color:rgba(0, 0, 0, .1);
      color:#fff;
    }
    &.active{
      background-color:rgba(0, 0, 0, .3);
      .box-shadow(inset 1px 1px 2px rgba(0, 0, 0, 0.73)); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)
    }
    .index{
      padding:0 2px 0 0;
      .box-sizing(border-box);
      .square(13px); //(height = width)
      background-color:#dc3e14;
      .border-radius(100px);
      font-size:8px;
      line-height:14px;
      display:inline-block;
      .ie7-inline-block();
      text-align:center;
      vertical-align:top;
      font-style:normal;
    }

  }
  .popover-box{
    .popover{
      width:460px;
      margin-left:0;
      left:-20px;
      .end{
        text-align:center;
        color:#b8b8b8;
        font-size:14px;
        line-height:round(14px*1.3);
      }
      .add{
        text-align:center;
        display:block;
        font-size:14px;
        line-height:round(14px*1.3);
        text-decoration:none;
        span{
          border-bottom:1px dashed;
        }
        &:hover{
          span{
            border-bottom:none;
          }
        }
      }
      .arrow{
        left:35px;
      }
    }
  }
}
.top-ponel__collapse-link{
  text-decoration:none;
  display:inline-block;
  .ie7-inline-block();
  font-size:12px;
  line-height:31px;
  color:#fff;
  float:left;
  border-right:1px solid rgba(255, 255, 255, .2);
  padding-right:12px;
  &::before{
    .transition(all 0.35s );

    content:"";
    .arrow(top,5px,rgba(255,255,255,.2));
    margin-left:2px;
    margin-right:5px;
    margin-top:-5px;
  }
  &.active{
    &::before{
      .arrow(bottom,5px,rgba(255,255,255,.2));
    }
  }
  &:hover{
    text-decoration:none;
    color:#fff;

    .top-ponel__collapse-link-text{
      border-bottom:transparent;
    }
  }
}
.top-ponel__collapse-link-text{
  border-bottom:1px dotted rgba(255, 255, 255, .5);
}
.top-ponel__collapse-dis{
  float:left;
  padding-left:12px;
  display:inline-block;
  .ie7-inline-block();
  font-size:12px;
  line-height:31px;
  font-weight:bold;
  border-left:1px solid rgba(0, 0, 0, .2);
  color:rgba(255, 255, 255, .3);
}
.top-menu{
  position:relative;
  background-color:#39404a;
  background-image:url(../img/top-menu_fon.png);
  background-repeat:repeat-x;
  background-position:bottom left;
  border-top:1px solid #737373;
  height:auto;
  margin-bottom:30px;
  max-height: 160px;
}
.top-menu__item{
  border-left:rgba(0, 0, 0, .2) 1px solid;
  margin-left:-1px;

  float:left;
  height:auto;
  width:17%;
  &_for-status{
    width:15%;
    border-left:none;
    .collapse{
      overflow:hidden !important;
      &.in{
        overflow:visible !important;
      }
    }
  }
  .top-menu__more-info{
    overflow:hidden;
    .nobreak {
      white-space: nowrap;
    }
  }
  .top-menu__more-info__box{
    margin:25px 0 0;
    height:77px;

  }
  .top-menu__more-info__cont{
    margin-left:25px;
    text-shadow:1px 1px 0 #000;
    color:#bbc2cd;
    font-size:12px;
    line-height:round(12px*1.3);

  }
  .top-menu__more-info__var{
    text-shadow:1px 1px 0 #000;
    margin-left:10px;
    color:#fff;
    font-size:12px;
    line-height:round(12px*1.3);
    font-weight:bold;
  }
  .top-menu__link{
    text-decoration:none;
    height:57px;
    display:block;
    .transition(background-color 100ms);
    [class*="icon"]{
      display:inline-block;
      .ie7-inline-block();
      line-height:57px;
      vertical-align:middle;
      margin-left:25px;
    }
    .top-menu__link__comt{
      display:inline-block;
      .ie7-inline-block();
      line-height:57px;
      vertical-align:middle;
      margin-left:3px;
      font-size:18px;
      color:#fff;
      text-decoration:underline;
    }
    &:hover{
      background-color:rgba(0, 0, 0, .1);
      text-decoration:none;
      .top-menu__link__comt{
        text-decoration:none;
      }
    }
  }
  &:first-child{
    border-left:none;
  }
  &.active{
    background-image:url(../img/top-menu_fon_a.png);
    .box-shadow( 0 7px  9px #000 inset); //@shadow: 0 1px 3px rgba(0,0,0,.25)
    background-position:bottom;
    border-right-color:transparent;
    position:relative;
    .top-menu__link{
      font-family:'MetaPro-Normal', arial;
      text-decoration:none;
      cursor:default;
      &:hover{
        background-color:rgba(0, 0, 0, .0);
      }
      .top-menu__link__comt{
        color:#cbcbcb;
        text-decoration:none;
      }
      &::after{
        position:absolute;
        .arrow(top,10px,#fff);
        margin:0;
        margin-left:-12px;
        bottom:0;
        left: 50%;
      }
    }
  }

}
.top-sub-menu{
  #gradient > .vertical(#fff,#d7d7d7);
  .clearfix();
//  outline:1px solid rgba(0, 0, 0, 0.49);

  line-height:60px;
  .dis{
    float:left;
    vertical-align:middle;
    color:#929292;
    font-size:12px;
    margin-right:20px;
  }
  .list{
    list-style:none;
    float:left;
    margin:0;
    .item{
      float:left;
      line-height:inherit;
      font-size:22px;
      a{
        padding:0 20px;

        color:#5d6b7e;
        text-shadow:1px 1px 0 #fff;
        display:inline-block;
        .ie7-inline-block();
      }

      &.active{
        a{

          text-decoration:none;
          cursor:default;
          position:relative;
          #gradient > .vertical(#778392, #30343b);
          .box-shadow(~"0 7px 9px black inset, 0px -1px 0px 0 rgba(255, 255, 255, 0.18) inset"); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)
          span{
            text-decoration:none;
            color:#fff;
            text-shadow:1px 1px 0 #2b2f35;
          }
        }
        .arrow-el{
          position:absolute;
          @sizen:10px;
          .arrow(bottom, @sizen,rgba(0,0,0,0.40));
          left:50%;
          bottom:-@sizen*2;
          margin-left:-@sizen+1;
          z-index:2;
          &::before{
            position:absolute;
            content:"";
            @sizen:10px;
            .arrow(bottom, @sizen,rgba(255,255,255,0.4));
            top:-@sizen;
            left:-@sizen - 2;
            margin:0;
          }
          &::after{
            position:absolute;
            content:"";
            @sizen:10px;
            .arrow(bottom, @sizen,#30343b);
            top:-@sizen - 1;
            left:-@sizen - 1;
            margin:0;
          }
        }
      }
    }
  }
  &_level-one{
    .box-shadow(0 0 1px rgba(0, 0, 0, 0.49)); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)
  }
  &_level-two{
    line-height:55px;
    outline:1px solid rgba(255, 255, 255, 0.5);
    #gradient > .vertical( #343a41,#828d9c);
    .dis{
      margin-left:10px;
      color:#fff;
      text-shadow:1px 1px 0 rgba(0, 0, 0, 0.23);
    }
    .list{
      overflow:hidden;
      .item{
        a{
          border:1px transparent solid;
          padding:0 15px;
          border-top:0;
          border-bottom:0;
          span{
            font-size:15px;
            color:#fff;
            text-shadow:1px 1px 0 rgba(0, 0, 0, 0.40);
          }
        }
        &.active{
          a{
            outline:1px solid #8a95a3;
            outline:1px solid rgba(255, 255, 255, 0.20);
            outline-offset:1px;
            border-color:#747f8e;
            border-color:rgba(0, 0, 0, 0.2);
            span{

            }
          }
        }
      }
    }
  }
  &_level-three {
    #gradient > .vertical(#d8dfe7, #fff);
    border:none;
    outline:none;
    line-height:76px;
    margin-bottom:-30px;
    .box-shadow(inset 1px 0 0px rgba(0, 0, 0, 0.49)); //@shadow: inset  0 1px 3px rgba(0,0,0,.25)
    h3 {
      display:inline;
    }
    .btn-group {
      display:inline-block;
      .ie7-inline-block();
      vertical-align:middle;
    }
    .insert-data{
      display:inline-block;
      .ie7-inline-block();
      margin-right:2%;
      vertical-align:middle;
    }

  }
  .tooltip{
    margin-left:10px;
    position:relative;
    float:left;
    padding-top:0;
    padding-bottom:0;
    vertical-align:middle;
    z-index:1;
  }
  .tooltip-inner{
    display:inline-block;
    .ie7-inline-block();
    line-height:20px;
    max-width:10000%;
  }

}
.insert-data {
  text-align:center;
  line-height:10px;
  .btn {
    .buttonBackground(#434b56,#373e47);
    color:#fff;
    .box-shadow(none);
    padding:1px ;
    font-size:10px;
    vertical-align:top;
  }
  input {
    line-height:17px;
    padding-top:1px;
    padding-bottom:1px;
    vertical-align:top;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    color:#585858;
    border:1px solid #93999a;
    .box-shadow( 0 3px 3px -2px rgba(147,153,154,0.41)  inset );
    &:focus {


    }
  }
}
.top-menu__alert{
  z-index:1010;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  display:none;
  &_visible{
    display:block;
  }
  &.top-menu__alert_viseble+ .container-fluid{
    .top-menu__item.active .top-menu__link::after{
      border-bottom-color:#fcf8e2;
    }
  }
  .wraper{
    position:absolute;
    top:0;
    left:0;
    right:0;
    padding:20px 0;
    #gradient > .vertical(#fefcf0,#fdf9e5);
    border-bottom:1px solid #ede7c6;
    &::before{
      content:"";
      position:absolute;
      bottom:-2px;
      left:0;
      right:0;
      height:1px;
      background-color:#fdf9e5;
    }
  }
}
.top-menu__item_for-status {
  width: 14%;
  margin-left: 5px;
  .for-status__dis {
    display: block;
    margin-left: 11px;
    text-align: left;
  }
}

.help-text{
  line-height:16px;
  float:right;
  color:#555556;
  text-align:right;
  margin-top:15px;

}
.for-status{
  margin:17px 0;
  padding:15px;
  background-color:#2a2f35;
  line-height:round(10px*1.3);
  .popover-box{
    .popover{
      left:-120%;
      width:320px;
      margin:0;
      margin-top:18px;
      .arrow{
        left:60%;
      }
      table{
        margin:0;
      }
    }
  }
  &__procent{
    font-family:'MetaPro-Bold', arial;
    font-size:33px;
    line-height:33px;
    color:#a2abb7;
    display:inline-block;
    vertical-align:top;
    .ie7-inline-block();
    &_dis{
      font-family:'MetaPro-Bold', arial;
      line-height:38px;
      font-size:33px;
      vertical-align:top;
      color:#a2abb7;
      display:inline-block;
      .ie7-inline-block();
    }

  }
  &__dis{
    text-align:center;
    color:#a2abb7;
    font-size:10px;

  }
  &__linc-dis{
    color:#fff;
    font-size:9px;
    line-height:round(9px*1.3);
    &:hover{
      color:#fff;
    }
  }
}