// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media (max-width: 1199px) {


  // No need to reset .thumbnails here since it's the same @gridGutterWidth
  .top-menu__item {
      .top-menu__more-info__box{
      }
          .top-menu__more-info__cont{
            margin-left:10px!important;
          }
         .top-menu__link [class*="icon"]{
            margin-left:10px!important;
         }
  }
}
