{% extends '__base_shops.html' %}

{% block content %}
	<div id="body" class="index">
		<div class="row">
			<div class="span4">
				<div class="side-block index-block margin-bottom-30 size-12">
					<div class="stats">
						<p>
							В базе <strong>654</strong> поставщиков<br> запчастей и <strong>34556</strong><br> наименований деталей
						</p>
						
						<!-- <span class="icon-question-sign size-16"></span>
						<a href="#">Как сюда попасть?</a> -->
					</div>
				</div>
				<div class="temporary-block index-block">
					<div class="popover-comment popover-green">
						<h4>Лидеры продаж</h4>
						<p>
							Скоро вы сможете увидеть рейтинг различных продавцов в регионах
						</p>
					</div>
					<img src="/static/shops/img/halper-1-new.png" alt="Рейтинг отзывов" />
				</div>
			</div>
			<div class="span8">
				<div class="border-block">
					<h2 class="">Марка автомобиля</h2>
					<p class="margin-bottom-15">
						Вы можете найти нужную запчасть, воспользовавшись нашим мастером подбора
					</p>
		            <article>
		                <div class="columns">
		                    <div class="columns-box">
		                        <div class="columns_left">
		                            <strong>A</strong>
		                        </div>
		                        <div class="columns_right">
		                            <a href="#">AD Van</a>
		                            <a href="#">AD Wagon</a>
		                            <a href="#">Almera</a>
		                            <a href="#">Almera Classic</a>
		                            <a href="#">Armada</a>
		                            <a href="#">Avenir</a>
		                            <a href="#">Avenir Salut</a>
		                            <a href="#">Armada</a>
		                            <a href="#">Avenir</a>
		                            <a href="#">Avenir Salut</a>
		                        </div>
		                    </div>
		                    <div class="columns-box">
		                        <div class="columns_left">
		                            <strong>B</strong>
		                        </div>
		                        <div class="columns_right">
		                            <a href="#">Bluebird</a>
		                            <a href="#">Bluebird Sylphy</a>
		                        </div>
		                    </div>
		                    <div class="columns-box">
			                    <div class="columns_left">
			                        <strong>C</strong>
			                    </div>
			                    <div class="columns_right">
			                        <a href="#">Caravan</a>
			                        <a href="#">Cedric</a>
			                        <a href="#">Cefiro</a>
			                        <a href="#">Cube</a>
			                        <a href="#">Cefiro</a>
			                        <a href="#">Cube</a>
			                    </div>
		                    </div>
	                        <div class="columns-box">
		                        <div class="columns_left">
		                            <strong>E</strong>
		                        </div>
		                        <div class="columns_right">
		                            <a href="#">Elgrand</a>
		                        </div>
		                    </div>
		                    <div class="columns-box">
		                        <div class="columns_left">
		                            <strong>G</strong>
		                        </div>
		                        <div class="columns_right">
		                            <a href="#">Gloria</a>
		                        </div>
		                    </div>
		                    <div class="columns-box">
		                        <div class="columns_left">
		                            <strong>J</strong>
		                        </div>
		                        <div class="columns_right">
		                            <a href="#">Juke</a>
		                        </div>
		                    </div>
		                    <div class="columns-box">
		                        <div class="columns_left">
		                            <strong>L</strong>
		                        </div>
		                        <div class="columns_right">
		                            <a href="#">Largo</a>
		                            <a href="#">Laurel</a>
		                            <a href="#">Liberty</a>
		                        </div>
		                    </div>
		                    
		                    <div class="columns-box">
		                        <div class="columns_left">
		                            <strong>M</strong>
		                        </div>
		                        <div class="columns_right">
		                            <a href="#">March</a>
		                            <a href="#" class="disabled">March Box</a>
		                            <a href="#" class="disabled">Maxima</a>
		                            <a href="#" class="disabled">Micra</a>
		                            <a href="#">Moco</a>
		                            <a href="#">Murano</a>
		                        </div>
		                    </div>
		                    
		                    <div class="columns-box">
		                        <div class="columns_left">
		                            <strong>N</strong>
		                        </div>
		                        <div class="columns_right">
		                            <a href="#">Navara</a>
		                            <a href="#">Note</a>
		                        </div>
		                    </div>
		                    <div class="columns-box">
		                        <div class="columns_left">
		                            <strong>P</strong>
		                        </div>
		                        <div class="columns_right">
		                            <a href="#">Pathfinder</a>
		                            <a href="#">Patrol</a>
		                            <a href="#">Prairie</a>
		                            <a href="#" class="disabled">Prairie Joy</a>
		                            <a href="#">Presage</a>
		                            <a href="#">Presea</a>
		                            <a href="#">Primera</a>
		                            <a href="#">Presage</a>
		                            <a href="#">Presea</a>
		                            <a href="#">Primera</a>
		                            <a href="#">Primera Wagon</a>
		                            <a href="#">Pulsar</a>
		                        </div>
		                    </div>
		                    <div class="columns-box">
		                        <div class="columns_left">
		                            <strong>Q</strong>
		                        </div>
		                        <div class="columns_right">
		                            <a href="#">Qashqai</a>
		                        </div>
		                    </div>
		                    <div class="columns-box">
		                        <div class="columns_left">
		                            <strong>R</strong>
		                        </div>
		                        <div class="columns_right">
		                            <a href="#">R Nessa</a>
		                        </div>
		                    </div>
		                    <div class="columns-box">
		                        <div class="columns_left">
		                            <strong>S</strong>
		                        </div>
		                        <div class="columns_right">
		                            <a href="#" class="disabled">Serena</a>
		                            <a href="#" class="disabled">Silvia</a>
		                            <a href="#">Skyline</a>
		                            <a href="#">Sunny</a>
		                        </div>
		                    </div>
		                </div>
		            </article>
				</div>
			</div>
			<div class="span4">
				<div class="side-infoblock whatis">
					<div class="heading-icon pull-left"></div>
					<div class="padding-top-5">
						<p class="gray size-13">Покупателям запчастей</p>
						<p class="size-16">Что такое Teamparts?</p>
					</div>
					<p class="size-12">Тимпартс – универсальная система поиска и покупки запчастей. Мы быстро найдем нужную вам запчасть и всех продавцов, у которых она есть. Вам остается только выбрать лучшее предложение!</p>
					<i class="icon-question-sign"></i><a href="#" class="padding-left-5 size-15">Подробнее о возможностях</a>
				</div>
				<div class="side-infoblock howto">
					<div class="heading-icon pull-left"></div>
					<div class="padding-top-5">
						<p class="gray size-13">Владельцам бизнеса</p>
						<p class="size-16">Как сюда попасть?</p>
					</div>
					<p class="size-12">Здесь собраны предложения от продавцов, использующих SaaS-сервис Тимпартс – современную онлайн-платформу для ведения бизнеса по продаже запчастей. Присоединяйтесь!</p>
					<i class="icon-question-sign"></i><a href="#" class="padding-left-5 size-15">Перейти на промо сайт</a>
				</div>
			</div>
		</div>
		<br class="clear" />
		<div class="row margin-bottom-70">
		</div>
	</div>
{% endblock %}