{% extends '__base_shops.html' %}

{% block content %}
	<div id="body">
		<div class="row">
			<div class="span16">
				<div class="side-block">
					<div>Мы ищем продавцов, у которых есть:</div>
					<p class="size-14 bold">
						<a href="#">OEM 84201FA150</a>, 
						<a href="#">сальник</a> 
						(<a href="#">Ford</a> 
						<a href="#">Shelby</a> 
						<a href="#">Mustang</a> 
						<a href="#">2009</a> года, модификация <a href="#">GT</a>, двигатель <a href="#">2.0</a>)
					</p>
				</div>
				<br />
			</div>
			
			<!-- Центральная колонка -->
			<div class="span11">
				<div class="content margin-bottom-60">
					<ul class="unstyled extra-filters">
						<li><input type="checkbox" id="change"><label for="change">Искать замену</label></li>
						<li><input type="checkbox" id="onlyMyRegion" checked><label for="onlyMyRegion">Только предложения в моем регионе</label></li>
					</ul>
					<div class="order-selecter">
						<div class="left margin-right-10 grayLight">
							Сортировать по: 
						</div>
						<div class="btn-group">
	  						<button class="btn active">Цене</button>
						    <button class="btn">Рейтингу продавца</button>
						    <button class="btn">Времени доставки</button>
						    <!-- <button class="btn">Вероятности наличия</button> -->
						</div>
						
					</div>
					
					<div class="saler-list">
						<ul>
							<li>
								<div class="saler-item row">
									<div class="span3">
										<div class="price size-22">12 950.50 <span class="rur">P</span></div>
									</div>
									<div class="span7">
										<div class="margin-bottom-10">
											<h4 class="left margin-right-20 size-15"><a href="#">Склад Emex</a></h4>
											
											<ul class="rate left margin-right-20" rel="3">
												<li class="a"></li>
												<li class="a"></li>
												<li class="a"></li>
												<li></li>
												<li></li>
											</ul>
											
											<a href="#" class="grayLight">15 отзывов</a> 
											<br class="clear clearfix">
										</div>
										
										<p class="grayLight">Доставка: в г. Екатеринбург — бесплатно, возможен самовывоз</p>
										<p><span class="icon-map-marker mainColorGreen size-16"></span> Екатеринбург, Барвинка, д. 16</p>
										
										<button class="btn">Купить</button>
										<div class="hr"></div>
									</div>
								</div>
							</li>
							<li>
								<div class="saler-item row">
									<div class="span3">
										<div class="price size-22">12 950.50 <span class="rur">P</span></div>
									</div>
									<div class="span7">
										<div class="margin-bottom-10">
											<h4 class="left margin-right-20 size-15"><a href="#">Склад Emex</a></h4>
											
											<ul class="rate left margin-right-20" rel="3">
												<li class="a"></li>
												<li class="a"></li>
												<li class="a"></li>
												<li></li>
												<li></li>
											</ul>
											
											<a href="#" class="grayLight">15 отзывов</a> 
											<br class="clear clearfix">
										</div>
										
										<p class="grayLight">Доставка: в г. Екатеринбург — бесплатно, возможен самовывоз</p>
										<p><span class="icon-map-marker mainColorGreen size-16"></span> Екатеринбург, Барвинка, д. 16</p>
										
										<button class="btn">Купить</button>
										<div class="hr"></div>
									</div>
								</div>
							</li>
							<li>
								<div class="saler-item row">
									<div class="span3">
										<div class="price size-22">12 950.50 <span class="rur">P</span></div>
									</div>
									<div class="span7">
										<div class="margin-bottom-10">
											<h4 class="left margin-right-20 size-15"><a href="#">Склад Emex</a></h4>
											
											<ul class="rate left margin-right-20" rel="3">
												<li class="a"></li>
												<li class="a"></li>
												<li class="a"></li>
												<li></li>
												<li></li>
											</ul>
											
											<a href="#" class="grayLight">15 отзывов</a> 
											<br class="clear clearfix">
										</div>
										
										<p class="grayLight">Доставка: в г. Екатеринбург — бесплатно, возможен самовывоз</p>
										<p><span class="icon-map-marker mainColorGreen size-16"></span> Екатеринбург, Барвинка, д. 16</p>
										
										<button class="btn">Купить</button>
										<div class="hr"></div>
									</div>
								</div>
							</li>
							<li>
								<div class="saler-item row">
									<div class="span3">
										<div class="price size-22">12 950.50 <span class="rur">P</span></div>
									</div>
									<div class="span7">
										<div class="margin-bottom-10">
											<h4 class="left margin-right-20 size-15"><a href="#">Склад Emex</a></h4>
											
											<ul class="rate left margin-right-20" rel="3">
												<li class="a"></li>
												<li class="a"></li>
												<li class="a"></li>
												<li></li>
												<li></li>
											</ul>
											
											<a href="#" class="grayLight">15 отзывов</a> 
											<br class="clear clearfix">
										</div>
										
										<p class="grayLight">Доставка: в г. Екатеринбург — бесплатно, возможен самовывоз</p>
										<p><span class="icon-map-marker mainColorGreen size-16"></span> Екатеринбург, Барвинка, д. 16</p>
										
										<button class="btn">Купить</button>
										<div class="hr"></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="row">
						<div class="offset3">
		                    <div class="pagination">
		                        <ul>
		                            <li class="disabled arrow"><a href="#">←</a></li>
		                            <li class="active"><a href="#">1</a></li>
		                            <li><a href="#">2</a></li>
		                            <li><a href="#">3</a></li>
		                            <li><a href="#">4</a></li>
		                            <li class="arrow"><a href="#">→</a></li>
		                        </ul>
		                        <br>
		                    </div>
		                    <a href="#" class="pagination-arrow">← Назад</a> <a href="#" class="pagination-arrow">Вперед →</a>
	                     </div>
                    </div>
				</div>
			</div>
			
			<!-- Правая колонка -->
			<div class="span5">
				<div class="border-block">
					<h3>Параметры поиска</h3>
					<br />
					<div id="search-filter">
					    <div class="filter-result-informer" style="display: none;">
					        Выбрано запчастей: <strong>534</strong>. <a href="#" class="">Показать</a>
					        <div class=""></div>
					    </div>
					    <strong>Фирма</strong>
					    <ul class="no-bullet margin-left-0 margin-bottom-0 lh-large">
					        <li>
					        	<a href="#" class="link_in size-10">Выбрать все</a>
					        </li>
					        <li>
					        	<input type="checkbox"> <a href="#" class="link_in">Denso</a> <strong class="margin-left-10">(1240 - 2450 р.)</strong>
					        </li>
					        <li>
					        	<input type="checkbox"> <a href="#" class="link_in">Toyota</a> <strong class="margin-left-10">(1346 - 2670 р.)</strong>
					        </li>
					        <li>
					        	<input type="checkbox"> <a href="#" class="link_in">Champion</a> <strong class="margin-left-10">(2400 - 2560 р.)</strong>
					        </li>
					        <li>
					        	<input type="checkbox"> <a href="#" class="link_in">NGK</a> <strong class="margin-left-10">(3400 - 3780 р.)</strong>
					        </li>
					        <li class="margin-bottom-10"></li>
					        <li>
					        	<strong>Дополнительно</strong>
					        </li>
					        <li>
					        	<input type="checkbox"> <a href="#" class="link_in">Быстро</a> 
					        </li>
					        <li>
					        	<input type="checkbox"> <a href="#" class="link_in">Дешево</a> 
					        </li>
					        <li >
					        	<input type="checkbox"> <a href="#" class="link_in">В наличии</a> 
					        </li>
					        <li class="margin-bottom-10"></li>
					        <li>
					        	<strong>Рейтинг магазина</strong></li>
					        <li><input type="radio"> <a href="#" class="link_in">Неважно</a> 
					        </li>
					        <li>
					        	<input type="radio"> <a href="#" class="link_in">От 4 звезд и выше</a> 
					        </li>
					        <li>
					        	<input type="radio"> <a href="#" class="link_in">От 3 звезд и выше</a> 
					        </li>
					    </ul>
					</div>
					
					<!-- <form action="#" class="form-vertical margin-bottom-0">
						<p class="margin-bottom-10">
							<label class="checkbox margin-bottom-5">
							    <input type="checkbox"> Только на складе в Екатеринбурге
						    </label>
							<label class="checkbox margin-bottom-5">
							    <input type="checkbox"> Бесплатная доставка до дома
						    </label>
						</p>
					    
					    <p class="margin-bottom-10">
					    	<div class="grayLight margin-bottom-5">Цена:</div>
					    	От <input type="text" value="" class="span1">&nbsp; до &nbsp;<input type="text" value="" class="span1"> 
					    </p>
					    
					    <p class="margin-bottom-10">
					    	<div class="grayLight margin-bottom-5">Рейтинг магазина:</div>
					    	<div class="controls">
								<label class="radio">
								    <input type="radio"> неважно
							   </label>
								<label class="radio">
								    <input type="radio"> от 4 звезд и выше
							    </label>
								<label class="radio">
								    <input type="radio"> от 3 звезд и выше
							    </label>
								<label class="radio">
								    <input type="radio"> от 2 звезд и выше
							    </label>
					    	</div>
					    </p>
					    <p class="margin-top-20 margin-bottom-0">
					    	<button class="btn btn-primary">Уточнить</button>
					    </p>
					</form> -->
					
				</div>
			</div>
		</div>
	</div>
{% endblock %}	

{% block js %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function(){
        hider = null;

        var showInformer = function(obj) {
            clearTimeout(hider);

            $('.filter-result-informer').css({
                'left': (
                        -$('.filter-result-informer').width() - 40
                        ),
                'top': $(this).position().top -6
            }).show();
            hider = setTimeout('$(".filter-result-informer").fadeOut(100)', 2000);
        }
        $('#search-filter input[type="checkbox"]').change(showInformer);
        $('#search-filter input[type="radio"]').change(showInformer);
        $('#search-filter a').click(showInformer);
    })
</script>
{% endblock %}