{% extends '__base_shops.html' %}

{% block content %}
	<div id="body">
		<div class="row">
			<div class="span5">
				<div class="logo">
					<img src="/static/dil-my/tim-del_logobig.png" />
				</div>
				<br />
				
				<div class="side-block saler-data">
					<p class="margin-bottom-5 size-14 grayLight">
						<span class="icon-map-marker size-16"></span>
						Адрес:
					</p>
					<div class="margin-bottom-15 size-14">
						<a data-toggle="modal" href="#yandex-map">Екатеринбург, ул. Артинская, д. 4, оф. 100а</a>
						<div class="modal" id="yandex-map" style="display: none;">
							<div class="modal-body">
								<button class="close" data-dismiss="modal">
								    <div class="icon-clous"></div> <span>Закрыть</span>
								</button>
								<p>Здесь будет яндекс карта</p>
							</div>
						</div>
					</div>
					<p class="margin-bottom-5 size-14 grayLight">
						<span class="icon-phone size-16"></span>
						Телефон:
					</p>
					<div class="size-18 phones margin-bottom-10">
						+7 (343) 20-09-499<br />
						+7 (953) 605-44-14
					</div>

					<p class="margin-bottom-5 size-14 grayLight">
						<span class="icon-globe size-16"></span>
						Веб-сайт:
					</p>
					<div class="size-14 margin-bottom-10">
						<a href="#">www.abcdef.ru</a>
					</div>

					<p class="margin-bottom-5 size-14 grayLight">
						<span class="icon-envelope-alt size-16"></span>
						E-mail:
					</p>
					<div class="size-14">
						<a href="mailto:abcdef@abcdef.ru">abcdef@abcdef.ru</a>
					</div>
				</div>
				
			</div>
			<div class="span11">
				<h1>Лучший магазин запчастей</h1>
				<div  class="feedback-row">

					<!-- <ul class="rate left margin-right-10" rel="3">
						<li class="a"></li>
						<li class="a"></li>
						<li class="a"></li>
						<li></li>
						<li></li>
					</ul>
					<span class="grayLight size-12 left margin-right-20">← Оценить магазин</span>
					<a href="#" class="btn write-feedback">Написать отзыв</a> -->
					<div class="rate-block margin-bottom-20">
						<!-- <p class="margin-bottom-5 size-14 grayLight">Рейтинг продавца:</p> -->
						<ul class="rate left" rel="3">
							<li class="a"></li>
							<li class="a"></li>
							<li class="a"></li>
							<li></li>
							<li></li>
						</ul>
						<small class="size-10 grayLight">678 голосов</small>
						<br class="clear clearfix" />
					</div>
				</div>
				<br/>
				
				<h3 class="">О компании</h3>
				
				<p>Мы предлагаем Вам нашу систему  поиска и заказа запасных частей, воспользовавшись которой, Вы получаете практически неограниченный ассортимент запчастей на любые иномарки, персональное обслуживание, профессиональные консультации, а также доставку товара по городу.</p>
				<p>Наша компания довольно молода, под именем "Автокомпонент" мы начали работу в начале 2011 года, но даже за столь короткий период времени мы успели зарекомендовать себя у наших клиентов как грамотные и активные профессионалы, которых рекомендуют друзьям. Объясняется это следующими факторами...</p>
			</div>
		</div>
		
		<div class="row margin-top-30 margin-bottom-60">
			<div class="offset2 span12">
				<h4 class="size-22 normal margin-bottom-20">Отзывы <span class="grayLight">(23)</span></h4>

				<div class="side-block margin-bottom-20">
					<p><strong>У нас только реальные отзывы от тех, кто реально заказывал!</strong></p>
					<p class="margin-bottom-0">Вы можете оставить отзыв в <a href="#">личном кабинете</a> на сайте продавца, только если вы уже пользовались его услугами.</p>
				</div>
				
				<div class="review-list">
					<ul>
						<li>
							<div class="row">
								<div class="span2">
									<ul class="rate" rel="3">
										<li class="a"></li>
										<li class="a"></li>
										<li class="a"></li>
										<li></li>
										<li></li>
									</ul>
									<span class="grayLight size-11">Отличный магазин</span>
								</div>
								<div class="span10 size-13">
									<div class="grayLight size-13 margin-bottom-10">
										От <strong>Cyberhawk2006</strong>
										<i class="right">15 февраля</i>
									</div>
									
									<p class="margin-bottom-20">
										Очень редко определяется системой через USB 2.0 и даже через USB 3.0, через SATA все хорошо, но это все таки внешний жесткий диск а через USB не определяется. Покупал в магазине РиК, пытался сдать на первой неделе после покупки, отказали из-за потертостей на поверхности HDD, а ведь я его никуда от системного блока и не относил(но тем не менее они появились), сдал по гарантии, проблема не подтвердилась как сказали мне в сервисном центре, при них решил проверить HDD подключив его в ноуту, и о чудо он работает! На радостях купил контроллер USB 3.0 все установил, прошло дней 5 эксплуатации с учетом что я его ни разу за это время не отключал и не перемещал!
									</p>
									
									<!-- <div class="row">
										<div class="span2"><a href="#" class="dashed">Ответ магазина</a></div>
										<div class="span8 grayLight">Добрый день! Спасибо за Ваш отзыв! Мы работаем для Вас и постоянно улучшаем качество сервиса</div>
									</div> -->
									<div class="hr"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="span2">
									<ul class="rate" rel="3">
										<li class="a"></li>
										<li class="a"></li>
										<li class="a"></li>
										<li></li>
										<li></li>
									</ul>
									<span class="grayLight size-11">Отличный магазин</span>
								</div>
								<div class="span10 size-13">
									<div class="grayLight size-13 margin-bottom-10">
										От <strong>Cyberhawk2006</strong>
										<i class="right">15 февраля</i>
									</div>
									
									<p class="margin-bottom-20">
										Очень редко определяется системой через USB 2.0 и даже через USB 3.0, через SATA все хорошо, но это все таки внешний жесткий диск а через USB не определяется. Покупал в магазине РиК, пытался сдать на первой неделе после покупки, отказали из-за потертостей на поверхности HDD, а ведь я его никуда от системного блока и не относил(но тем не менее они появились), сдал по гарантии, проблема не подтвердилась как сказали мне в сервисном центре, при них решил проверить HDD подключив его в ноуту, и о чудо он работает! На радостях купил контроллер USB 3.0 все установил, прошло дней 5 эксплуатации с учетом что я его ни разу за это время не отключал и не перемещал!
									</p>
									
									<!-- <div class="row">
										<div class="span2"><a href="#" class="dashed">Ответ магазина</a></div>
										<div class="span8 grayLight">Добрый день! Спасибо за Ваш отзыв! Мы работаем для Вас и постоянно улучшаем качество сервиса</div>
									</div> -->
									<div class="hr"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="span2">
									<ul class="rate" rel="3">
										<li class="a"></li>
										<li class="a"></li>
										<li class="a"></li>
										<li></li>
										<li></li>
									</ul>
									<span class="grayLight size-11">Отличный магазин</span>
								</div>
								<div class="span10 size-13">
									<div class="grayLight size-13 margin-bottom-10">
										От <strong>Cyberhawk2006</strong>
										<i class="right">15 февраля</i>
									</div>
									
									<p class="margin-bottom-20">
										Очень редко определяется системой через USB 2.0 и даже через USB 3.0, через SATA все хорошо, но это все таки внешний жесткий диск а через USB не определяется. Покупал в магазине РиК, пытался сдать на первой неделе после покупки, отказали из-за потертостей на поверхности HDD, а ведь я его никуда от системного блока и не относил(но тем не менее они появились), сдал по гарантии, проблема не подтвердилась как сказали мне в сервисном центре, при них решил проверить HDD подключив его в ноуту, и о чудо он работает! На радостях купил контроллер USB 3.0 все установил, прошло дней 5 эксплуатации с учетом что я его ни разу за это время не отключал и не перемещал!
									</p>
									
									<!-- <div class="row">
										<div class="span2"><a href="#" class="dashed">Ответ магазина</a></div>
										<div class="span8 grayLight">Добрый день! Спасибо за Ваш отзыв! Мы работаем для Вас и постоянно улучшаем качество сервиса</div>
									</div> -->
									<div class="hr"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="span2">
									<ul class="rate" rel="3">
										<li class="a"></li>
										<li class="a"></li>
										<li class="a"></li>
										<li></li>
										<li></li>
									</ul>
									<span class="grayLight size-11">Отличный магазин</span>
								</div>
								<div class="span10 size-13">
									<div class="grayLight size-13 margin-bottom-10">
										От <strong>Cyberhawk2006</strong>
										<i class="right">15 февраля</i>
									</div>
									
									<p class="margin-bottom-20">
										Очень редко определяется системой через USB 2.0 и даже через USB 3.0, через SATA все хорошо, но это все таки внешний жесткий диск а через USB не определяется. Покупал в магазине РиК, пытался сдать на первой неделе после покупки, отказали из-за потертостей на поверхности HDD, а ведь я его никуда от системного блока и не относил(но тем не менее они появились), сдал по гарантии, проблема не подтвердилась как сказали мне в сервисном центре, при них решил проверить HDD подключив его в ноуту, и о чудо он работает! На радостях купил контроллер USB 3.0 все установил, прошло дней 5 эксплуатации с учетом что я его ни разу за это время не отключал и не перемещал!
									</p>
									
									<!-- <div class="row">
										<div class="span2"><a href="#" class="dashed">Ответ магазина</a></div>
										<div class="span8 grayLight">Добрый день! Спасибо за Ваш отзыв! Мы работаем для Вас и постоянно улучшаем качество сервиса</div>
									</div> -->
									<div class="hr"></div>
								</div>
							</div>
						</li>
					</ul>
					<div class="row">
						<span class="offset2">
							<a href="#" class="dashed">Ещё отзывы</a> (7)
							<!-- <a href="#" class="btn margin-left-20">Оставить свой отзыв</a> -->
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
