{% extends '__base_shops.html' %}

{% block content %}
	<div id="body" class="search-step">
		<div class="row">
      <div class="span12 offset2 margin-top-10">

        <div class="breadCrumbs">
          <div class="you-looking">
            <span class="you-looking_text">Вы ищете:</span>
          </div>
          <div class="breadCrumbs-box">
            <a href="#">Ford</a>
            <a href="#">Shelby Mustang</a>
            <a href="#">2009</a>
            года, модификация
            <a href="#">GT</a>
            , двигатель
            <a href="#">2.0</a>
          </div>
        </div>

        <div class="search-results">
          <div class="search-results-box">
            <div class="search-results_text">
              <div class="search-results_dis">Найдено деталей:</div>
              <span class="search-results_number">51154</span><a href="#" class="search-results_link">показать</a><span class="search-results_arow"> →</span><br>
            </div>
          </div>
        </div>
        
        <h2>Выберите модель автомобиля</h2>
        
        <div class="clear"></div>
        
        <article>

          <div class="columns4 margin-bottom-60 margin-top-10">
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
              </div>
              <div class="columns_right">
                <a href="#"> 100nx</a>
                <a href="#">350Z </a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>A</strong>
              </div>
              <div class="columns_right">
                <a href="#">AD Van</a>
                <a href="#">AD Wagon</a>
                <a href="#">Almera</a>
                <a href="#">Almera Classic</a>
                <a href="#">Armada</a>
                <a href="#">Avenir</a>
                <a href="#">Avenir Salut</a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>B</strong>
              </div>
              <div class="columns_right">
                <a href="#">Bluebird</a>
                <a href="#">Bluebird Sylphy</a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>C</strong>
              </div>
              <div class="columns_right">
                <a href="#">Caravan</a>
                <a href="#">Cedric</a>
                <a href="#">Cefiro</a>
                <a href="#">Cube</a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>E</strong>
              </div>
              <div class="columns_right">
                <a href="#">Elgrand</a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>G</strong>
              </div>
              <div class="columns_right">
                <a href="#">Gloria</a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>J</strong>
              </div>
              <div class="columns_right">
                <a href="#">Juke</a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>L</strong>
              </div>
              <div class="columns_right">
                <a href="#">Largo</a>
                <a href="#">Laurel</a>
                <a href="#">Liberty</a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>M</strong>
              </div>
              <div class="columns_right">
                <a href="#">March</a>
                <a href="#">March Box</a>
                <a href="#">Maxima</a>
                <a href="#">Micra</a>
                <a href="#">Moco</a>
                <a href="#">Murano</a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>N</strong>
              </div>
              <div class="columns_right">
                <a href="#">Navara</a>
                <a href="#">Note</a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>P</strong>
              </div>
              <div class="columns_right">
                <a href="#">Pathfinder</a>
                <a href="#">Patrol</a>
                <a href="#">Prairie</a>
                <a href="#">Prairie Joy</a>
                <a href="#">Presage</a>
                <a href="#">Presea</a>
                <a href="#">Primera</a>
                <a href="#">Primera Wagon</a>
                <a href="#">Pulsar</a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>Q</strong>
              </div>
              <div class="columns_right">
                <a href="#">Qashqai</a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>R</strong>
              </div>
              <div class="columns_right">
                <a href="#">R Nessa</a>
              </div>
            </div>
            <div class="columns-box">
              <div class="columns_left columns_left_no-arow ">
                <strong>S</strong>
              </div>
              <div class="columns_right">
                <a href="#">Serena</a>
                <a href="#">Silvia</a>
                <a href="#">Skyline</a>
                <a href="#">Sunny</a>
              </div>
            </div>
          </div>
        </article>
      </div>
		</div>
	</div>
{% endblock %}