{% extends '__base_shops.html' %}

{% block content %}
<div id="body" class="search-step">
  <div class="row">
    <div class="span12 offset2 margin-top-10">

      <div class="breadCrumbs">
        <div class="you-looking">
          <span class="you-looking_text">Вы ищете:</span>
        </div>
        <div class="breadCrumbs-box">
          <a href="#">Ford</a>
          <a href="#">Shelby Mustang</a>
          <a href="#">2009</a>
          года, модификация
          <a href="#">GT</a>
          , двигатель
          <a href="#">2.0</a>
        </div>
      </div>

    <div class="search-results">
    <div class="search-results-box">
      <div class="search-results_text">
        <div class="search-results_dis">Найдено деталей:</div>
        <span class="search-results_number">51154</span><a href="#" class="search-results_link">показать</a><span class="search-results_arow"> →</span><br>
      </div>
    </div>

    </div>
    <h2>Выберите деталь</h2>
    <div class="clear"></div>
      <article>
        <img alt="" src="/static/dil-my/shema.png" >
        <table class="parts-list">

          <tbody><tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          <tr>
            <td>135101F700, САЛЬНИК  Устанавливалось с 01.04.2001 по 01.06.2003 </td>
            <td>Двигатель </td>
            <td><a class="order-but"><span>Заказать</span></a> </td>
          </tr>
          </tbody></table>
      </article>
    </div>
  </div>
</div>
{% endblock %}
