
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<table  align="center" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
    <tr>
        <td bgcolor="#39414a">
        <!--щапка веох-->
            <table width="690" align="center"  cellpadding="15" cellspacing="0" style="border-collapse:collapse;">
                <tr>
                    <td>
                        <a href="#" style="
                        text-decoration:none;
                        color:#39414a;" target="_blank">
                            <span style="text-decoration:none;"> <img src="http://www.teamparts.org/static/less/mail/img/logo.png" alt="Teamparts - SaaS-сервис по продаже запчастей"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#333a42" style="border-bottom:1px solid #1f2328">
        <!--щапка низ-->

            <table width="680" align="center"  cellpadding="0" cellspacing="0" style="border-collapse:collapse; line-height:0;">
                <tr>
                    <td>
                        <a href="#" style="
                        text-decoration:none;
                        color:#333a42;
                        line-height:0;" target="_blank">
                            <span style="text-decoration:none;">
                                <img src="http://www.teamparts.org/static/less/mail/img/menu1.png" alt="Ваш сайт" >
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="#" style="
                        text-decoration:none;
                        color:#333a42;
                        line-height:0" target="_blank">
                            <span style="text-decoration:none;">
                                <img src="http://www.teamparts.org/static/less/mail/img/menu2.png" alt="Финансы" >
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="#" style="
                        text-decoration:none;
                        color:#333a42;
                        line-height:0" target="_blank">
                            <span style="text-decoration:none;">
                                <img src="http://www.teamparts.org/static/less/mail/img/menu3.png" alt="Заказы" >
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="#" style="
                        text-decoration:none;
                        color:#333a42;
                        line-height:0" target="_blank">
                            <span style="text-decoration:none;">
                                <img src="http://www.teamparts.org/static/less/mail/img/menu4.png" alt="Клиенты" >
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="#" style="
                        text-decoration:none;
                        color:#333a42;
                        line-height:0" target="_blank">
                            <span style="text-decoration:none;">
                                <img src="http://www.teamparts.org/static/less/mail/img/menu5.png"  alt="Настройки" >
                            </span>
                        </a>
                    </td>
                </tr>
            </table>
        </td>

    </tr>
    <tr>
        <!-- тело-->
        <td>
            <table class="body" width="680" align="center"  cellpadding="10" cellspacing="0" style="border-collapse:collapse; line-height:0;">
                <colgroup>
                    <col width="340">
                    <col width="340">
                </colgroup>
                <tr>
                    <td><p style="margin:0; line-height:30px;">
                        <img height="30" width="30" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p></td>
                    <td></td>
                </tr>
                <tr style="vertical-align:top; line-height:15px;">
                    <td>
                        <img src="http://www.teamparts.org/static/less/mail/img/imag-alcogol.png" >
                    </td>
                    <td>
                        <table align="left"  cellpadding="10" cellspacing="0" style="border-collapse:collapse; text-align:left; font-family:arial; font-size:13px; ">
                            <tr >
                                <td >
                                    <h2 style="
                                        margin:0;
                                        font-size:18px;
                                        font-weight:bold;
                                        color:#39414a;
                                        font-family:arial;

                                    ">Добро пожаловать в Teamparts!</h2>

                                    <p style="margin:0; line-height:5px;"><img height="5" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif"></p>
                                        <span>Регистрация успешно пройдена - теперь пора принимать наши искренние поздравления!</span>
                                         <p style="margin:0; line-height:10px;"><img height="10" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif"></p>
                                        <span>Спасибо, что вы решили к нам присоединиться, мы правда очень этому рады :)</span>

                                    <p style="margin:0; line-height:4px;">
                                        <img height="4" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                    </p>
                                        <p style="text-align:right;font-weight:bold;"><b>— Ваш Teamparts</b></p>
                                         <p style="margin:0; line-height:10px;"><img height="10" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif"></p>
                                        <h2 style="
                                        font-size:16px;
                                        font-weight:bold;
                                        color:#384049;
                                        font-family:arial;
                                        margin:0;
                                        ">Данные от вашего аккаунта:</h2>
                                         <p style="margin:0; line-height:5px;"><img height="5" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif"></p>
                                        <table   cellpadding="3" cellspacing="0" style="border-collapse:collapse; text-align:left; font-family:arial;">
                                            <colgroup>
                                                <col width="44">
                                                <col width="auto">
                                            </colgroup>
                                            <tr style="font-size:13px;">
                                                <td><i style="color:#686868;font-style:italic;">Логин:</i></td>
                                                <td>matvey@mail.ru</td>
                                            </tr>
                                            <tr style="font-size:13px;">
                                                <td><i style="color:#686868;font-style:italic;">Пароль:</i></td>
                                                <td>mt9hGj01ap</td>
                                            </tr>
                                        </table>

                                    <p style="margin:0; line-height:20px;">
                                        <img height="20" width="10" style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                    </p>
                                       
                                        <a href="#" style="" target="_blank">
                                            <span style="text-decoration:none!important;">
                                                <img style="display:block;" src="http://www.teamparts.org/static/less/mail/img/btn.png" border="0"   width="195" height="37" alt="Вход в личный кабинет" style="background-color:#0cbe1f; color:#fff" >
                                            </span>
                                        </a>
                                    </p>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr bgcolor="#f8f8f8">
        <td >
            <table  width="660" align="center"  cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                <tr>
                    <td colspan="2" style="font:13px arial; color:#39414a; ">
                        <p style="margin:0; line-height:20px;">
                            <img style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" height="20" width="100" >
                        </p>

                        Помните, если у вас возникли какие-то вопросы - наша служба поддержки всегда сможет их решить.
                        <br>
                        8-800-1000-768
                        <p style="margin:0; line-height:10px;">
                            <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                        </p>
                        <table  width="100%"  align="center"  cellpadding="10" cellspacing="0" style="border-collapse:collapse; line-height:0; text-align:center;">
                            <colgroup>
                                <col width="205">
                                <col width="0">
                                <col width="205">
                                <col width="0">
                                <col width="205">
                            </colgroup>
                            <tr>
                                <td gcolor="#e7e7e7" style="
                                background-color:#e7e7e7;
                                    font-size:13px;
                                    font-family:arial;
                                    color:#39414a;
                                    line-height:17px;
                                ">

                                    <p style="margin:0; line-height:10px;">
                                        <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                    </p>
                                    <span>Наша электронная почта:</span>

                                    <p style="margin:0; line-height:5px;">
                                        <img height="5" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                    </p>
                                    <a href="mailto:info@teamparts.org" style="font-size:16px; color:#39414a;" target="_blank" >
                                        <span style="text-decoration:underline; color:#39414a!important;">
                                            info@teamparts.com
                                        </span>
                                    </a>


                                    <p style="margin:0; line-height:10px;">
                                        <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                    </p>
                                </td>
                                <td></td>
                                <td gcolor="#e7e7e7" style="
                                background-color:#e7e7e7;
                                    font-size:13px;
                                    font-family:arial;
                                    color:#39414a;
                                    line-height:17px;
                                ">

                                    <p style="margin:0; line-height:10px;">
                                        <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                    </p>

                                    <span>Многоканальный телефон:</span>

                                    <p style="margin:0; line-height:5px;">
                                        <img height="5" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                    </p>
                                    <b style="font-size:18px; color:#39414a;">8-800-1000-768</b>


                                    <p style="margin:0; line-height:10px;">
                                        <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                    </p>
                                </td>
                                <td></td>
                                <td gcolor="#e7e7e7" style="
                                background-color:#e7e7e7;
                                    font-size:13px;
                                    font-family:arial;
                                    color:#39414a;
                                    line-height:17px;
                                ">

                                    <p style="margin:0; line-height:10px;">
                                        <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                    </p>

                                    <span>Промо-сайт</span>

                                    <p style="margin:0; line-height:5px;">
                                        <img height="5" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                    </p>
                                    <a href="www.teamparts.com" target="_blank" style="font-size:16px; color:#39414a;" >
                                        <span style="text-decoration:underline; color:#39414a!important;">
                                            www.teamparts.com
                                        </span>
                                    </a>


                                    <p style="margin:0; line-height:10px;">
                                        <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                                    </p>
                                </td>
                            </tr>
                        </table>

                        <p style="margin:0; line-height:20px;">
                            <img height="20" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                        </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>
            <table class="footer" width="660" align="center"  cellpadding="0" cellspacing="0" style="border-collapse:collapse; ">
                <tr>
                    <td>

                        <p style="margin:0; line-height:20px;">
                            <img height="20" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                        </p>
                        <div style="
                        font-family:arial
                        ;font-size:11px;
                        color:#989898;
                        line-height:12px;
                        ">

                            <i >Это письмо создано автоматaически, и отвечать на него не нужно. Вы получили это сообщение, так как являетесь зарегистрированным пользователем системы Teamparts. Если это письмо попало к вам по ошибке - пожалуйста, сообщите нам об этом по телефону 8-800-1000-768</i>



                            <p style="margin:0; line-height:10px;">
                                <img height="10" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                            </p>
                            <a href="#" style="color:#0088cc;"><span style="text-decoration:underline; color:#0088cc!important;font-size:11px;">Я хочу отписаться от рассылки</span></a>

                            <p style="margin:0; line-height:20px;">
                                <img height="20" width="100"  style="display:block;" src="http://www.teamparts.org/static/less/mail/img/blank.gif" >
                            </p>

                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
