<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

<table align="center" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
<tr>
    <td bgcolor="#39414a" style=" background-image: url(img/images/header-fon.png)">
        <!--щапка веох-->
        <table width="600" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse; color:#000;">
            <tr>
                <td>
                    <a href="#" style="
                        text-decoration:none;
                        color:#39414a;" target="_blank">
                        <span style="text-decoration:none;"><img src="img/images/heder.png"
                                                                 alt="Teamparts - SaaS-сервис по продаже запчастей"></span>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr bgcolor="#eeeeee">
    <!-- тело-->
    <td>

        <table width="600" align="center" cellpadding="10" cellspacing="0"
               style="margin:0 auto;padding:0 0 0 0;text-align:left; border-collapse:collapse;font-family: arial;font-size: 15px; ">
            <colgroup>
                <col width="300">
                <col width="300">
            </colgroup>

            <tr style="vertical-align:top; line-height:15px;">
                <td width="252" style="width:340;">
                    <img src="img/images/pc.png" width="252">
                </td>
                <td>

                    <table width="340" style="width:340;" align="left" cellpadding="0" cellspacing="0"
                           style="border-collapse:collapse; text-align:left; ">
                        <tr>
                            <td style="
                                            margin:0;
                                            font-family:arial;
                                            font-size:13px;
                                            ">
                                <p style="margin:0; line-height:60px;">
                                    <img height="60" width="100" style="display:block;"
                                         src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>

                                <h1 style="
                                        margin:0;
                                        font-size:24px;
                                        font-weight:bold;
                                        color:#424b5e;
                                        font-family:arial;

                                    ">Добрый день!</h1>

                                <p style="margin:0; line-height:5px;">
                                    <img height="5" width="100" style="display:block;"
                                         src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>

                                <p style="margin:0; font-size: 15px;line-height: 1.33;">
                                    Мы предлагаем Вам создать собственный интернет-магазин по продаже запчастей для
                                    иномарок у нас, в компании <a href="#" target="_blank"
                                                                  style="text-decoration:none; color:#3a448d;"><span
                                        style="text-decoration:underline; color:#3a448d!important;">Teamparts</span></a>.
                                </p>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>

        </table>
        <table width="600" align="center" cellpadding="0" cellspacing="0"
               style="margin:0 auto;padding:0 0 0 0;text-align:left; border-collapse:collapse; ">
            <colgroup>
                <col width="371">
                <col width="229">
            </colgroup>

            <tr style="vertical-align:top; line-height:15px; font-family: arial;font-size: 15px;line-height: 1.33; ">
                <td width="371" style="width:371;">


                    <h2 style="
                                        margin:0;
                                        font-size:30px;
                                        font-weight:bold;
                                        color:#424b5e;
                                        font-family:arial;

                                    ">Почему именно у нас?</h2>

                    <p style="margin:0; line-height:15px;">
                        <img height="15" width="100" style="display:block;"
                             src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>

                    <p style="margin:0 0 0  10px;">
                        После регистрации на сайте вы сможете <strong>мгновенно</strong> начать работу и воспользоваться
                        <strong>множеством функций</strong>:
                    </p>

                    <p style="margin:0; line-height:15px;">
                        <img height="15" width="100" style="display:block;"
                             src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>
                    <table width="100%" align="center" cellpadding="10" cellspacing="0"
                           style="margin:0 auto;padding:0 0 0 0;text-align:left; border-collapse:collapse;line-height: 1.33; font-size: 14px; ">
                        <colgroup>
                            <col width="30">
                            <col width="">
                        </colgroup>
                        <tr style="vertical-align:top; line-height:1.33">
                            <td width="30" style="width:30;">
                                <img width="30" style="display:block;" src="img/images/icon-1.png">
                            </td>
                            <td>
                                Создать неповторимый стиль своего интернет-магазина на любом доменеили субдомене
                                <a href="#" target="_blank" style="text-decoration:none; color:#3a448d;"><span
                                        style="text-decoration:underline; color:#3a448d!important;">teamparts.com</span></a>.

                            </td>
                        </tr>
                        <tr style="vertical-align:top; line-height:1.33">
                            <td width="30" style="width:30;">
                                <img width="30" style="display:block;" src="img/images/icon-2.png">
                            </td>
                            <td>
                                Дать возможность покупателям быстро искать и заказывать необходимые запчасти по
                                каталогам мировых автопроизводителей.
                            </td>
                        </tr>
                        <tr style="vertical-align:top; line-height:1.33">
                            <td width="30" style="width:30;">
                                <img width="30" style="display:block;" src="img/images/icon-3.png">
                            </td>
                            <td>
                                Вести базу данных клиентов с функцией персональных наценок и заметок.
                            </td>
                        </tr>
                        <tr style="vertical-align:top; line-height:1.33">
                            <td width="30" style="width:30;">
                                <img width="30" style="display:block;" src="img/images/icon-4.png">
                            </td>
                            <td>
                                Выбирать поставщиков, способы доставкии оплаты товара.
                            </td>
                        </tr>
                        <tr style="vertical-align:top; line-height:1.33">
                            <td width="30" style="width:30;">
                                <img width="30" style="display:block;" src="img/images/icon-5.png">
                            </td>
                            <td>
                                Загрузить собственный прайс-лист и наличие запчастей на складе.
                            </td>
                        </tr>
                        <tr style="vertical-align:top; line-height:1.33">
                            <td width="30" style="width:30;">
                                <img width="30" style="display:block;" src="img/images/icon-6.png">
                            </td>
                            <td>
                                Контролировать финансы в системе: баланс, оборот, прибыль, бухгалтерские документы,
                                биллинг, отчеты и 1С.
                            </td>
                        </tr>
                        <tr style="vertical-align:top; line-height:1.33">
                            <td width="30" style="width:30;">
                                <img width="30" style="display:block;" src="img/images/icon-7.png">
                            </td>
                            <td>
                                Отслеживать состояние заказов на каждом этапе в режиме онлайн.
                            </td>
                        </tr>
                    </table>
                    <p style="margin:0; line-height:30px;">
                        <img height="30" width="100" style="display:block;"
                             src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>
                </td>
                <td width="229">
                    <p style="margin:0; line-height:40px;">
                        <img height="40" width="229" style="display:block;"
                             src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>
                    <img height="266" width="229" style="display:block;" src="img/images/action-1.png">
                    <a href="#" style="display:block; text-decoration: none;">
                        <img height="52" width="229" style="display:block;" src="img/images/action-2.png">
                    </a>
                    <img height="79" width="229" style="display:block;" src="img/images/action-3.png">
                </td>
            </tr>

        </table>
    </td>
</tr>
<tr bgcolor="#636b79">
    <td>
        <table width="600" align="center" cellpadding="0" cellspacing="0"
               style="margin:0 auto;padding:0 0 0 0;text-align:left; border-collapse:collapse; ">
            <tr style="vertical-align:top; color: #fff; line-height:15px; font-family: arial;font-size: 15px;line-height: 1.33; ">
                <td>
                    <p style="margin:0; line-height:24px;">
                        <img height="24" width="100" style="display:block;"
                             src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>

                    <h2 style="
                                        margin:0;
                                        font-size:24px;
                                        font-weight:bold;
                                        color:#f5f5f5;
                                        font-family:arial;

                                    ">Возникли вопросы?</h2>

                    <p style="margin:0; line-height:27px;">
                        <img height="27" width="100" style="display:block;"
                             src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>
                    <table width="100%" align="center" cellpadding="0" cellspacing="10"
                           style="margin:0 auto;padding:0 0 0 0;text-align:left; border-collapse:collapse; ">
                        <tr style="vertical-align:top; color: #fff; line-height:15px; font-family: arial;font-size: 15px;line-height: 1.33; ">

                            <td>
                                <table width="100%" align="center" cellpadding="0" cellspacing="0"
                                       style="margin:0 auto;padding:0 0 0 0;text-align:left; border-collapse:collapse; ">
                                    <tr style="vertical-align:top; color: #fff; line-height:15px; font-family: arial;font-size: 15px;line-height: 1.33; ">
                                        <td>
                                            <p style="margin:0; line-height:5px;">
                                                <img height="5" width="10" style="display:block;"
                                                     src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                            </p>
                                            <img height="31" width="28" style="display:block;"
                                                 src="img/images/icon-p.png">

                                        </td>
                                        <td>
                                            <p style="margin:0; color: #fff; font-size: 24px; line-height:27px;">
                                                +7 922 203 24 17
                                            </p>

                                            <p style="margin:0; color: #fff; font-size: 14px; line-height:17px;">
                                                Егор, отдел продаж
                                            </p>
                                        </td>

                                    </tr>
                                </table>
                            </td>
                            <td>
                                <p style="margin:0; color: #fff; font-size: 24px; line-height:27px;">
                                    8 800 1000 768
                                </p>

                                <p style="margin:0; color: #fff; font-size: 14px; line-height:17px;">
                                    Многоканальный номер
                                </p>
                            </td>
                            <td>
                                <p style="margin:0; color: #fff; font-size: 18px; line-height:27px;">
                                    Заказать
                                </p>

                                <p style="margin:0; color: #fff; font-size: 14px; line-height:17px;">
                                    <a href="#" target="_blank" style="text-decoration:none; color:#fff;"><span
                                            style="text-decoration:underline; color:#fff!important;">обратный звонок</span></a>.

                                </p>

                                <p style="margin:0; line-height:27px;">
                                    <img height="27" width="100" style="display:block;"
                                         src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>
                            </td>

                        </tr>
                    </table>

                    <table width="100%" align="center" cellpadding="0" cellspacing="0"
                           style="margin:0 auto;padding:0 0 0 0;text-align:left; border-collapse:collapse; ">
                        <tr style="vertical-align:top; color: #fff; line-height:15px; font-family: arial;font-size: 15px;line-height: 1.33; ">
                            <td>
                                <p style="margin:0; line-height:5px;">
                                    <img height="5" width="10" style="display:block;"
                                         src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>
                                <img height="15" width="35" style="display:block;" src="img/images/icon-m.png">
                            </td>
                            <td>


                                <p style="margin:0; color: #fff; font-size: 14px; line-height:27px;">
                                    Напишите
                                    <a href="#" target="_blank" style="text-decoration:none; color:#fff;"><span
                                            style="text-decoration:underline; color:#fff!important;">


                                    sales@teamparts.com</span></a>
                                    или
                                    <a href="#" target="_blank" style="text-decoration:none; color:#fff;"><span
                                            style="text-decoration:underline; color:#fff!important;">
                                    прямо через сайт</span></a>.

                                </p>


                            </td>

                        </tr>
                    </table>
                    <p style="margin:0; line-height:20px;">
                        <img height="20" width="100" style="display:block;"
                             src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>
                </td>

            </tr>
        </table>
    </td>
</tr>
<tr bgcolor="#eeeeee">
    <td>
        <table width="600" align="center" cellpadding="10" cellspacing="0"
               style="margin:0 auto;padding:0 0 0 0;text-align:left; border-collapse:collapse;font-family: arial;font-size: 15px; ">
            <tr>
                <td>
                    <p style="margin:0; line-height:40px;">
                        <img height="40" width="100" style="display:block;"
                             src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>

                    <h2 style="
                                            margin:0;
                                            font-size:24px;
                                            font-weight:bold;
                                            color:#424b5e;
                                            font-family:arial;

                                        ">P.S. Очень важно:</h2>

                    <p style="margin:0; line-height:20px;">
                        <img height="20" width="100" style="display:block;"
                             src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                    </p>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0"
                           style="margin:0 auto;padding:0 0 0 0;text-align:left; border-collapse:collapse;line-height: 1.33; font-size: 14px; ">
                        <colgroup>
                            <col width="30">
                            <col width="10">
                            <col width="400">
                        </colgroup>
                        <tr style="vertical-align:top; line-height:1.33">
                            <td style="width: 30px;">
                                <p style="margin:0; line-height:10px;">
                                    <img height="10" width="30" style="display:block;"
                                         src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>
                            </td>
                            <td>
                                —
                            </td>
                            <td style="width: 400px;">
                                <p style="margin:0">
                                    Стоимость разработки аналогичного сайта в сторонней компании будет равна стоимости
                                    обслуживанияв Teamparts в течение 5 лет!
                                </p>

                                <p style="margin:0; line-height:25px;">
                                    <img height="25" width="100" style="display:block;"
                                         src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>
                            </td>
                        </tr>
                        <tr style="vertical-align:top; line-height:1.33">
                            <td style="width: 30px;">
                                <p style="margin:0; line-height:10px;">
                                    <img height="10" width="30" style="display:block;"
                                         src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>
                            </td>
                            <td>
                                —
                            </td>
                            <td style="width: 400px;">
                                <p style="margin:0">
                                    Срок разработки подобного сайта – от 4 месяцев, а начать пользоваться системой
                                    <a href="#" target="_blank" style="text-decoration:none; color:#3a448d;"><span
                                            style="text-decoration:underline; color:#3a448d!important;">Teamparts</span></a>
                                    – вы можете
                                    <a href="#" target="_blank" style="text-decoration:none; color:#3a448d;"><span
                                            style="text-decoration:underline; color:#3a448d!important;">МГНОВЕННО</span></a>!
                                </p>

                                <p style="margin:0; line-height:25px;">
                                    <img height="25" width="100" style="display:block;"
                                         src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>
                            </td>
                        </tr>
                        <tr style="vertical-align:top; line-height:1.33">
                            <td style="width: 30px;">
                                <p style="margin:0; line-height:10px;">
                                    <img height="10" width="30" style="display:block;"
                                         src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>
                            </td>
                            <td>
                                —
                            </td>
                            <td style="width: 400px;">
                                <p style="margin:0">
                                    Обновление каталогов автозапчастей и усовершенствование функциональности сайта
                                    <a href="#" target="_blank" style="text-decoration:none; color:#3a448d;"><span
                                            style="text-decoration:underline; color:#3a448d!important;">Teamparts</span></a>
                                    берет на себя
                                </p>

                                <p style="margin:0; line-height:40px;">
                                    <img height="40" width="100" style="display:block;"
                                         src="http://www.teamparts.org/static/less/mail/img/blank.gif">
                                </p>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
