<!DOCTYPE html>
<html>
<head>
    <title>главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/seller_control_panel/css/style.css" media="screen">
</head>
<body>

    {% block container %}
        {% block content %}
        {% endblock %}
    {% endblock %}

    <script src="/static/seller_control_panel/js/jquery.js"></script>
</body>
</html>