{% extends '__base_frontend.html' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Поиск модели</title>

    {% block styles %}
    <link type="text/css" rel="stylesheet"  href="/static/css/style.css" >
    <!--<link rel="stylesheet/less" type="text/css"  href="less/style.less" >
    <script src="/static/js/less-1.3.0.min.js" type="text/javascript"></script>-->

    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="/static/css/ie_hack7.css" media="screen"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="/static/css/ie_hack8.css" media="screen"><![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="/static/css/ie_hack9.css" media="screen"><![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="/static/js/selectivizr-min.js"></script>
    <![endif]-->
    <!--[if (gte IE 6)&(lte IE 9)]>
    <script type="text/javascript" src="/static/js/css3-multi-column.js"></script>
    <script type="text/javascript" src="/static/js/excanvas.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.flot.js"></script>
    <script src="/static/js/jquery.flot.pie.js"></script>
    {% endblock %}
</head>
<body>

{% block container %}
<div class="container">
    <div class="brands">
        <div class="brands__inner">
            <h5>Запчасти для марок:</h5>

            <div class="brands-box">
                <div class="brands-box__inner">
                    <ul>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-nissan.png" alt="Nissan"><h5>Nissan</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-toyota.png" alt="Toyota"><h5>Toyota</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-honda.png" alt="Honda"><h5>Honda</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-mazda.png" alt="Mazda"><h5>Mazda</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-lexus.png" alt="Lexus"><h5>Lexus</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-mazda.png" alt="Mazda"><h5>Mazda</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-lexus.png" alt="Lexus"><h5>Lexus</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-mazda.png" alt="Mazda"><h5>Mazda</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-lexus.png" alt="Lexus"><h5>Lexus</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-lexus.png" alt="Lexus"><h5>Lexus</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-mazda.png" alt="Mazda"><h5>Mazda</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-lexus.png" alt="Lexus"><h5>Lexus</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-lexus.png" alt="Lexus"><h5>Lexus</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-mazda.png" alt="Mazda"><h5>Mazda</h5></a></li>
                        <li><a href="#"><img src="/static/manufacturers/micrologo-lexus.png" alt="Lexus"><h5>Lexus</h5></a></li>
                        <li class="more-brands">
                                <span class="more-brands-link">
                                    <a class="link_in  for-status__linc-dis"
                                       href="#forStatusModal"
                                       data-toggle="modal"
                                       data-target="#more-brands-block">И еще 4 марки</a>
                                    <span class="icon sprite tim_icom_arow-doun-grayLight-mini"></span>
                                </span>
                            <div class="popover-box">
                                <div class="popover bottom hide fade in" id="more-brands-block">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <ul></ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
    <header>
        {% block site_head %}
        <div class=" front_header header__oher">
            <div class="row">
                <div class="span3 a-center">
                    <div class="di_in-block">
                        <div class="nav-defolt ">
                            <a href="#" class="sprite tim_icom_home-mask"></a>
                            <a href="#" class="sprite tim_icom_meseg-mask"></a>
                            <a href="#" class="sprite tim_icom_links-mask"></a>
                        </div>
                        <div class="main-logo_box">
                            <a href="#" class="main-logo_link">
                                <img class="main-logo" src="/static/dil-my/tim-del_logobig.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="  header_description">
                        <div class="header_description-box">

                            <p class="size-13 ">
                                На нашем сайте, Вы можете найти любую запчасть для автомобилей: <br><strong class="size-14">Hammer, Bentley, Ferrari, Maserati, Lamborghini</strong>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="span3">
                    <div class="lk ">
                        <div class="lk_login "style="display: none;">
                            <div class="lk_input-box di_in-block">
                                <i class="icon-user"></i>
                                <a href="#" class="link_in">
                                    Войти
                                </a>
                            </div>
                            <div class="lk_register-box di_in-block">
                                <a href="#" >Зарегистрироваться</a>
                            </div>
                        </div>
                        <div class="lk_in" >
                            <div class="lk_data-box di_in-block">
                                <i class="icon-user"></i>
                                <a href="#">
                                    Личные данные
                                </a><br>

                                <a href="#" >
                                    История заказов
                                </a>
                            </div>
                            <div class="lk_edit-box di_in-block">
                                <i class="tim_icom_edit sprite"></i><a href="#" >Выход</a>
                            </div>

                        </div>
                    </div>
                    <div class="basket-bar">
                        <span>В <a href="#">корзине</a> 5 товаров </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <form class="form-search di_block search">
                        <div class="search-fon">

                        </div>
                        <div class="search-box">
                            <div class="search-form-box">
                                <input type="text" class="search-query" placeholder="Поиск по номеру детали или VIN автомобиля">
                                <i class="icon-ajax">
                                    <img src="/static/img/ajax-loader.gif" class="icon-ajax_img" alt="Идет загрузка...">
                                </i>
                                <button class="btn btn-search" type="submit"><span class="btn-search_text">Искать</span></button>
                            </div>
                            <div class="search-help-box">
                                <div class="search-help_text">
                                    Примеры запросов:
                                </div>
                                <div id="carousel_container">
                                    <div id="left_scroll" class="tim_icom_arow-left-blue sprite"></div>
                                    <div id="carousel_inner">
                                        <ul id="carousel_ul">
                                            <li>
                                                <a href="#" class="link_in di_in-block">
                                                    SJNBAAN16UO411167
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="link_in di_in-block">
                                                    15208-9F600
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="link_in di_in-block">
                                                    WAUHE5438LN600047
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="link_in di_in-block">
                                                    MR 552951
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="link_in di_in-block">
                                                    SJNBAAN16UO411167
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="link_in di_in-block">
                                                    15208-9F600
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="link_in di_in-block">
                                                    WAUHE5438LN600047
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="link_in di_in-block">
                                                    MR 552951
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="link_in di_in-block">
                                                    SJNBAAN16UO411167
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="link_in di_in-block">
                                                    15208-9F600
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="right_scroll" class="tim_icom_arow-right-blue sprite"></div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
        {% endblock %}
    </header>

    <div class="row">
        {% block aside %}
        <aside>
            <div class="span3">
                <div class="contacts-bar">
                    <div class="contacts-bar_box">
                        <h2>
                            Контактные данные
                        </h2>
                        <p class="contacts-bar_cont-box">
                        <span class="contacts-bar_des">
                            Адрес:
                        </span>
                            <a href="#">
                                620016, Екатеринбург, ул Ленина 48, оф 412, 413
                            </a>
                        </p>
                        <p class="contacts-bar_cont-box">
                        <span class="contacts-bar_des">
                            Адрес:
                        </span>
                            <span class="contacts-bar_tel">+7 912 09 930</span>
                            <span class="contacts-bar_tel">+7 912 65 776</span>
                            <span class="contacts-bar_tel">213-888-3</span>
                        </p>
                        <p class="contacts-bar_cont-box">
                        <span class="contacts-bar_des">
                            Skype:
                        </span>
                            <strong >
                                zapchasty_bistro
                            </strong>
                        </p>
                        <p class="contacts-bar_cont-box">
                        <span class="contacts-bar_des">
                            Часы работы:
                        </span>
                            <strong >
                                10-19; сб,вс - вых.
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="ask-question-bar">
                    <div class="ask-question-bar_box">
                        <i class="sprite tim_icom_question left margin-right-10"></i><h2>
                        Задать вопрос
                    </h2>
                    </div>
                    <form class="form-full">
                        <div class="control-group">
                            <label for="input01" class="control-label">Представьтесь</label>
                            <div class="controls">
                                <input type="text" id="input01" >
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="input01" class="control-label">Электронная почта</label>
                            <div class="controls">
                                <input type="text" id="input02" >
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="input01" class="control-label">Ваш вопрос</label>
                            <div class="controls">
                                <textarea rows="3" id="textarea" "></textarea>
                            </div>
                        </div>
                        <button class="btn">Отправить</button>
                    </form>

                </div>
                <div class="ask-question-bar hidden_form">
                    <div class="ask-question-bar_box">
                        <i class="sprite tim_icom_question left margin-right-10"></i><h2>
                        Задать вопрос
                    </h2>
                    </div>
                    <form class="form-full" style="display: none">
                        <div class="control-group">
                            <label for="input01" class="control-label">Представьтесь</label>
                            <div class="controls">
                                <input type="text" id="input01" >
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="input01" class="control-label">Электронная почта</label>
                            <div class="controls">
                                <input type="text" id="input02" >
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="input01" class="control-label">Ваш вопрос</label>
                            <div class="controls">
                                <textarea rows="3" id="textarea" "></textarea>
                            </div>
                        </div>
                        <button class="btn">Отправить</button>
                    </form>

                </div>

            </div>
        </aside>
        {% endblock %}
        {% block wide_content %}
        {% block content %}
        <div class="span12">
        </div>
        {% endblock %}
        {% endblock %}
    </div>

    <footer>
        <div class="row">
            <div class="span3">
                <div>
                    © 2012 Система <a href="#">TeamParts</a>
                </div>
                <div>
                    © 2012 OOO «Гараж №1»
                </div>
            </div>
            <div class="span9">
                <div class="menu-footer ">
                    <ul class="a-justify">
                        <li>
                            <div>
                                <a href="#">Автопрокат</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">Работа в такси</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">Возьмем в аренду</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">Вакансии</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">Новости</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="#">Контакты</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="span2">
                        <div class="logo-footer">
                            <a href="#" class="logo-footer_link">
                                <img class="logo-footer_img" src="/static/dil-my/tim-del_logo-mini.png">
                            </a>
                        </div>
                    </div>
                    <div class="span5">
                        <div class="contakt-footer">
                            <div class="contakt-footer_tel">
                                Телефон: +7 (343) 361-51-70
                            </div>
                            <div>
                                <a href="#">620078, г.Екатеринбург, ул. Луначарского, 55  </a>
                            </div>
                            <div>
                                <span class="gray">E-mail: </span>
                                <a href="#">info@rabotavtaxi.ru</a>
                            </div>
                            <hr>
                            <div>
                                <img src="/static/img/logo-tim.png" class="margin-right-10 margin-bottom-10">
                                <p class="di_in-block v-middle gray">
                                    SaaS сервис по продаже запчастей
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}

<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/frontend.js"></script>
<script src="/static/js/project-brands.js"></script>
<script src="/static/js/general.js"></script>
<script src="/static/js/jquery-ui-1.8.17.custom.min.js"></script>
<script src="/static/js/jquery.flot.js"></script>
<script src="/static/js/jquery.flot.pie.js"></script>
<script src="/static/js/select.js"></script>
<script src="/static/js/jquery.maskinput.js"></script>
<script src="/static/js/bootstrap-transition.js"></script>
<script src="/static/js/bootstrap-alert.js"></script>
<script src="/static/js/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="/static/js/bootstrap-scrollspy.js"></script>
<script src="/static/js/bootstrap-tab.js"></script>
<script src="/static/js/bootstrap-tooltip.js"></script>
<script src="/static/js/bootstrap-popover.js"></script>
<script src="/static/js/bootstrap-button.js"></script>
<script src="/static/js/bootstrap-collapse.js"></script>
<script src="/static/js/bootstrap-carousel.js"></script>
<script src="/static/js/bootstrap-typeahead.js"></script>


<!--<script src="/static/js/autoresize.js"></script>-->
<script src="/static/js/jquery.jcarousel.pack.js"></script>
<script src="/static/js/jquery.placeholder.js"></script>
</body>
</html>