<!DOCTYPE html>
<html>
<head>
    <title>главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--  откомпиленый LESS  -->
    <link rel="stylesheet" type="text/css" href="/static/seller_control_panel/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/seller_control_panel/css/edit.css" media="screen">

    <link rel="stylesheet" type="text/css" href="/static/css/other.css" media="screen">

    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="/static/css/ie_hack7.css" media="screen"><![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="/static/css/ie_hack8.css" media="screen"><![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="/static/css/ie_hack9.css" media="screen"><![endif]-->
    <!--[if (gte IE 6)&(lte IE 9)]>
    <script type="text/javascript" src="/static/js/selectivizr-min.js"></script>
    <script type="text/javascript" src="/static/js/excanvas.js"></script>
    <script type="text/javascript" src="/static/js/css3-multi-column.js"></script>
    <script src="/static/js/respond.min.js"></script><!-- media queries support for ie8 and lower -->
    <![endif]-->
</head>
<body>

{% block container %}
    {% include 'system-backend/blocks/__head.html' %}
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'system-backend/blocks/__helper.html' %}
<div class="margin-top-30"></div>
{% endblock %}

{% block js %}
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.js"></script>
<script src="/static/seller_control_panel/js/backend.js"></script>
<script src="/static/js/general.js"></script>
<script src="/static/js/autoresize.js"></script>

<script src="/static/js/bootstrap-transition.js"></script>
<script src="/static/js/bootstrap-alert.js"></script>
<script src="/static/js/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="/static/js/bootstrap-scrollspy.js"></script>
<script src="/static/js/bootstrap-tab.js"></script>
<script src="/static/js/bootstrap-tooltip.js"></script>
<script src="/static/js/bootstrap-popover.js"></script>
<script src="/static/js/bootstrap-button.js"></script>
<script src="/static/js/bootstrap-collapse.js"></script>
<script src="/static/js/bootstrap-carousel.js"></script>
<script src="/static/js/bootstrap-typeahead.js"></script>
<script src="/static/js/jquery.printElement.js"></script>
<script src="/static/js/jquery.maskinput.js"></script>
<script src="/static/js/jquery.placeholder.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/bootstrap-datepicker.ru.js"></script>
<script src="/static/js/chosen/js/chosen.jquery.js"></script>
<script src="/static/js/jquery-ui-1.8.17.custom.min.js"></script>


{% endblock %}

</body>
</html>